{{#[../helpers/layout2] htmlWebpackPlugin}}

<div class="login">
  <div class="login__logo">
    <svg class="logo__img"><use href="#logo"></use></svg>
  </div>
  <div class="login__wrap findPassword">
    <div class="login__title">비밀번호 찾기 실패</div>
    <div class="login__icon">
      <svg class="icon"><use href="#icon-fail"></use></svg>
    </div>
    <p class="login__desc"> 입력하신 정보와 일치하는 <br><strong>임직원 정보를 찾을 수 없습니다.</strong><br>담당자에게 문의 바랍니다.</p>
    <div class="btn__area">
      <button type="button" class="btn btn__primary is-black is-full">
        <span>비밀번호 찾기</span>
      </button>
    </div>
  </div>

  <div class="login__footer">
    <p class="copyright">Copyright © GS All rights reserved.</p>
  </div>
</div>
{{/[../helpers/layout2]}}