{{#[../helpers/layout2] htmlWebpackPlugin}}

<div class="login">
  <div class="login__logo">
    <svg class="logo__img"><use href="#logo"></use></svg>
  </div>
  <div class="login__wrap findPassword">
    <div class="login__title">비밀번호 찾기 완료</div>
    <div class="login__icon">
      <svg class="icon"><use href="#icon-success"></use></svg>
    </div>
    <p class="login__desc"><strong>비밀번호가 정상적으로 변경되었습니다.</strong> <br>로그인 페이지로 이동하여 로그인 후 <br class="is-mobile">서비스를 이용해주세요. <span class="is-tablet">(본 페이지는 5초 후 자동으로 닫힙니다.)</span></p>
    <div class="btn__area">
      <button type="button" class="btn btn__primary is-black is-full">
        <span>비밀번호 찾기</span>
      </button>
    </div>
  </div>

  <div class="login__footer">
    <p class="copyright">Copyright © GS All rights reserved.</p>
  </div>
</div>
{{/[../helpers/layout2]}}