{{#[../helpers/layout2] htmlWebpackPlugin}}

{{> ../partials/sidebar}}
<div class="container">
  <main class="contents">
    <div style="padding: 8rem; text-align: center; font-size: 2.6rem;">
      Templates
    </div>
  </main>
  {{> ../partials/footer}}
</div>
{{/[../helpers/layout2]}}