{{#[../helpers/layout] htmlWebpackPlugin}}<main class="contents is-main">
    <div class="notice" data-closed="closed">
      <p class="notice__title">2023년 05월 1일 월요일</p>
      <span class="notice__desc">고객사/파트너사/사업관계사 언론 홍보 주의사항 안내</span>
      <button type="button" class="btn btn__closed">
        <svg class="icon"><use href="#icon-closed"></use></svg>
        <span class="visually-hidden">닫기</span>
      </button>
    </div>

  <section>
    <div class="tabs bg-primary-1">
      <button type="button" class="btn is-more">
        <span class="visually-hidden">더보기</span>
      </button>
      <div class="tab__item">
        <button type="button" class="tab__btn is-active" data-url="#tab__document-1">
          <span>미결문서 <span>18</span>건</span>
        </button>
        <button type="button" class="tab__btn" data-url="#tab__document-2">
          <span>진행문서 <span>8</span>건</span>
        </button>
      </div>
      <div class="tab__contents">
        <div class="tab__content is-active" id="tab__document-1">
          <ul class="contents__list">
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">휴가 신청서 이연 월차 외 주어</p>
                <span class="list__writer">오웬</span>
                <span class="list__date">03.03</span>
              </a>
            </li>
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">출장 보고서 (해외)</p>
                <span class="list__writer">크리스퍼놀란</span>
                <span class="list__date">03.03</span>
              </a>
            </li>
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">출장 보고서 (해외)</p>
                <span class="list__writer">탐앤탐스</span>
                <span class="list__date">03.03</span>
              </a>
            </li>
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">법인카드 상신</p>
                <span class="list__writer">홍길동</span>
                <span class="list__date">03.03</span>
              </a>
            </li>
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">SAP 연동 요청서</p>
                <span class="list__writer">박승주</span>
                <span class="list__date">03.03</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="tab__content" id="tab__document-2">
          <ul class="contents__list">
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">출장 보고서 (해외)</p>
                <span class="list__writer">크리스퍼놀란</span>
                <span class="list__date">03.03</span>
              </a>
            </li>
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">휴가 신청서 이연 월차 외 주어</p>
                <span class="list__writer">오웬</span>
                <span class="list__date">03.03</span>
              </a>
            </li>
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">출장 보고서 (해외)</p>
                <span class="list__writer">탐앤탐스</span>
                <span class="list__date">03.03</span>
              </a>
            </li>
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">법인카드 상신</p>
                <span class="list__writer">홍길동</span>
                <span class="list__date">03.03</span>
              </a>
            </li>
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">SAP 연동 요청서</p>
                <span class="list__writer">박승주</span>
                <span class="list__date">03.03</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tabs">
      <button type="button" class="btn is-more">
        <span class="visually-hidden">더보기</span>
      </button>
      <div class="tab__item">
        <button type="button" class="tab__btn is-active" data-url="#tab__mail-1">
          <span>받은메일</span>
        </button>
        <button type="button" class="tab__btn" data-url="#tab__mail-2">
          <span>읽지 않은메일 <span>809</span>건</span>
        </button>
      </div>
      <div class="tab__contents">
        <div class="tab__content is-active" id="tab__mail-1">
          <ul class="contents__list">
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">신규 구매시스템 - 검수절차.</p>
                <span class="list__writer">크리스퍼놀</span>
                <span class="list__date">.03.03</span>
              </a>
            </li>
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">전사 사업검토 진행 변경 공지</p>
                <span class="list__writer">크러쉬</span>
                <span class="list__date">.03.03</span>
              </a>
            </li>
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">3월 급여 주요사항 안내</p>
                <span class="list__writer">박승주</span>
                <span class="list__date">03.03</span>
              </a>
            </li>
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">2023년 3월 주유단가</p>
                <span class="list__writer">제임스킴</span>
                <span class="list__date">03.03</span>
              </a>
            </li>
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">클라우드 사업 Sales Kit</p>
                <span class="list__writer">홍길동</span>
                <span class="list__date">11.12</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="tab__content" id="tab__mail-2">
          <ul class="contents__list">
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">전사 사업검토 진행 변경 공지</p>
                <span class="list__writer">크러쉬</span>
                <span class="list__date">.03.03</span>
              </a>
            </li>
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">신규 구매시스템 - 검수절차.</p>
                <span class="list__writer">크리스퍼놀</span>
                <span class="list__date">.03.03</span>
              </a>
            </li>
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">3월 급여 주요사항 안내</p>
                <span class="list__writer">박승주</span>
                <span class="list__date">03.03</span>
              </a>
            </li>
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">2023년 3월 주유단가</p>
                <span class="list__writer">제임스킴</span>
                <span class="list__date">03.03</span>
              </a>
            </li>
            <li>
              <a href="#none" class="list__inner">
                <p class="list__title">클라우드 사업 Sales Kit</p>
                <span class="list__writer">홍길동</span>
                <span class="list__date">11.12</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="box box__3">
      <a href="#none" class="box__item">
        <span class="item__img">
          <svg class="icon"><use href="#icon-board"></use></svg>
        </span>
        <p class="item__title">게시판</p>
      </a>
      <a href="#none" class="box__item">
        <span class="item__img">
          <svg class="icon"><use href="#icon-organization"></use></svg>
        </span>
        <p class="item__title">조직도</p>
      </a>
      <a href="#none" class="box__item">
        <span class="item__img">
          <svg class="icon"><use href="#icon-contact"></use></svg>
        </span>
        <p class="item__title">연락처</p>
      </a>
    </div>
  </section>

</main>{{/[../helpers/layout]}}