// font size 
$font-size-xl: 30px;
$font-size-l: 26px;
$font-size-m: 17px;
$font-size-s: 16px;
$font-size-xs: 15px;

// line-height size
$line-height-xl: 36px;
$line-height-l: 30px;
$line-height-m: 20px;
$line-height-s: 18px;

// font-weight size
$font-weight-700: 700;
$font-weight-600: 600;
$font-weight-500: 500;
$font-weight-400: 400;
$font-weight-300: 300;

// font style
$font-style: (
  "h1": (
    $font-size-xl,
    $font-weight-600,
    $line-height-xl,
  ),
  "h2": (
    $font-size-l,
    $font-weight-600,
    $line-height-l,
  ),
  "h3": (
    $font-size-m,
    $font-weight-600,
    $line-height-m,
  ),
  "h4": (
    $font-size-s,
    $font-weight-600,
    $line-height-m,
  ),
  "h5": (
    $font-size-xs,
    $font-weight-600,
    $line-height-s,
  ),
);

@each $name, $pair in $font-style {
  $font-size: nth($pair, 1);
  $font-weight: nth($pair, 2);
  $line-height: nth($pair, 3);

  .#{$name} {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
  }
}

// font size
$font-size: (
  "fontSize-xs": (
    $font-size-xs,
  ),
  "fontSize-s": (
    $font-size-s,
  ),
  "fontSize-m": (
    $font-size-m,
  ),
  "fontSize-l": (
    $font-size-l,
  ),
  "fontSize-xl": (
    $font-size-xl,
  ),
);

@each $name, $pair in $font-size {
  $font-size: $pair;

  .#{$name} {
    font-size: $font-size;
  }
}