<header>
  <div class="header__inner">
    <button type="button" class="btnMenu"><span class="blind">전체메뉴</span></button>
    <div class="logo">
      <h1>
        <!-- <span class="img is-logo">
          <img src="/html/pc/assets/images/png/logo.png" alt="로고 이미지">
        </span> -->
        <a href="/index.html">YISEUL UI GUIDE</a>
      </h1>
    </div>
    <div class="header__item">
      <nav>
        <ul class="gnb">
          <li><a href="/html/mobile/html/guide/components/typography.html" target="_blank" class="btn__gnb">mobile</a></li>
          <li><a href="/html/pc/html/index.html" class="btn__gnb">index</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
