{{#[../helpers/layout] htmlWebpackPlugin}}<main class="contents has-headers">
          <div class="examples">

            <div class="example__title">Headers</div>

            <!-- header -->
            <header class="header">
              <div class="header__item is-left has-truncated">
                <h1 class="header__title">결재의견</h1>
              </div>
              <div class="header__item is-right">
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-close-popup"></use></svg>
                  <span class="visually-hidden">닫기</span>
                </button>
              </div>
            </header>
            <!-- /header -->

            <!-- header -->
            <header class="header">
              <div class="header__item is-left">
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-header-search-cancel"></use></svg>
                  <span class="visually-hidden">이전 페이지로 이동</span>
                </button>
              </div>
              <div class="header__item is-center">
                <div class="form is-search has-delete">
                  <input class="formText__input" type="text" title="검색어 입력" placeholder="검색어를 입력해 주세요." value="휴가">
                  <button type="button" class="btn is-icon form__delete">
                    <svg class="icon"><use href="#icon-header-search-del"></use></svg>
                    <span class="visually-hidden">검색어 삭제</span>
                  </button>
                </div>
              </div>
              <div class="header__item is-right">
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-header-search"></use></svg>
                  <span class="visually-hidden">검색</span>
                </button>
              </div>
            </header>
            <!-- /header -->

            <!-- header -->
            <header class="header">
              <div class="header__item is-left">
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-header-search-cancel"></use></svg>
                  <span class="visually-hidden">이전 페이지로 이동</span>
                </button>
              </div>
              <div class="header__item is-center">
                <div class="form is-search has-delete">
                  <input class="formText__input" type="text" title="검색어 입력" placeholder="검색어를 입력해 주세요." value="">
                  <button type="button" class="btn is-icon form__delete">
                    <svg class="icon"><use href="#icon-header-search-del"></use></svg>
                    <span class="visually-hidden">검색어 삭제</span>
                  </button>
                </div>
              </div>
              <div class="header__item is-right">
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-header-search"></use></svg>
                  <span class="visually-hidden">검색</span>
                </button>
              </div>
            </header>
            <!-- /header -->

            <!-- header -->
            <header class="header">
              <div class="header__item is-left">
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-header-menu"></use></svg>
                  <span class="visually-hidden">주메뉴 바로 가기</span>
                </button>
              </div>
              <div class="header__item is-center has-truncated">
                <h1 class="header__title">메일</h1>
              </div>
              <div class="header__item is-right">
                <a class="btn is-icon" href="#">
                  <svg class="icon"><use href="#icon-header-search"></use></svg>
                  <span class="visually-hidden">검색 페이지로 이동</span>
                </a>
              </div>
            </header>
            <!-- /header -->

            <!-- header -->
            <header class="header">
              <div class="header__item is-left">
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-header-prev"></use></svg>
                  <span class="visually-hidden">이전 페이지로 이동</span>
                </button>
              </div>
              <div class="header__item is-center has-truncated">
                <h1 class="header__title">메일</h1>
              </div>
              <div class="header__item is-right">
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-mail-send"></use></svg>
                  <span class="visually-hidden">메일 보내기</span>
                </button>
              </div>
            </header>
            <!-- /header -->

            <!-- header -->
            <header class="header">
              <div class="header__item is-left">
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-header-prev"></use></svg>
                  <span class="visually-hidden">이전 페이지로 이동</span>
                </button>
              </div>
              <div class="header__item is-right is-wide">
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-mail-reply"></use></svg>
                  <span class="visually-hidden">메일 회신</span>
                </button>
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-mail-garbage"></use></svg>
                  <span class="visually-hidden">메일 버리기</span>
                </button>
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-mail-list"></use></svg>
                  <span class="visually-hidden">목록으로 이동</span>
                </button>
              </div>
            </header>
            <!-- /header -->

            <!-- header -->
            <header class="header">
              <div class="header__item is-left has-truncated">
                <h1 class="header__title">하나둘셋넷다섯여섯일곱여덟아홉열하나둘셋넷다섯여섯일곱여덟아홉열</h1>
              </div>
              <div class="header__item is-right">
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-close-popup"></use></svg>
                  <span class="visually-hidden">닫기</span>
                </button>
              </div>
            </header>
            <!-- /header -->

            <!-- header -->
            <header class="header">
              <div class="header__item is-left">
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-header-prev"></use></svg>
                  <span class="visually-hidden">이전 페이지로 이동</span>
                </button>
              </div>
              <div class="header__item is-center has-truncated">
                <h1 class="header__title">하나둘셋넷다섯여섯일곱여덟아홉열하나둘셋넷다섯여섯일곱여덟아홉열</h1>
              </div>
              <div class="header__item is-right">
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-mail-send"></use></svg>
                  <span class="visually-hidden">메일 보내기</span>
                </button>
              </div>
            </header>
            <!-- /header -->

            <!-- header -->
            <header class="header">
              <div class="header__item is-left">
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-header-prev"></use></svg>
                  <span class="visually-hidden">이전 페이지로 이동</span>
                </button>
              </div>
              <div class="header__item is-center has-truncated">
                <h1 class="header__title">연락처</h1>
              </div>
              <div class="header__item is-right">
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-register"></use></svg>
                  <span class="visually-hidden">연락처 등록하기</span>
                </button>
              </div>
            </header>
            <!-- /header -->

             <!-- header -->
            <header class="header">
              <div class="header__item is-left">
                <button type="button" class="btn is-icon">
                  <svg class="icon"><use href="#icon-header-prev"></use></svg>
                  <span class="visually-hidden">이전 페이지로 이동</span>
                </button>
              </div>
              <div class="header__item is-center has-truncated">
                <h1 class="header__title">연락처</h1>
              </div>
            </header>
            <!-- /header -->

          </div>
        </main>{{/[../helpers/layout]}}