<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>modal</title>
<script src="/mobile/assets/js/uid.js" defer></script>
<link rel="stylesheet" href="/mobile/assets/css/index.css">
</head>
<body>
  
  <header data-include-path="/mobile/html/layout/header.html"></header>

  <nav data-include-path="/mobile/html/layout/sidebar.html"></nav>

  <div class="container">
    <div class="contents">
      <section class="examples">
        <div class="example__title">
          <h1 class="h3">alert</h1>
        </div>
    
        <div class="btn__area">
          <button type="button" class="btn btn__primary is-black is-modal" data-modal="alert1">
            <span>한줄</span>
          </button>
    
          <button type="button" class="btn btn__primary is-black is-modal" data-modal="alert2">
            <span>두줄</span>
          </button>
        </div>
    
        <!-- alert -->
        <div id="alert1" class="modal is-alert is-closed" data-closed="closed">
          <div class="modal__inner">
            <button type="button" class="btn btn__closed">
              <img src="/mobile/assets/images/svg/icon-closed.svg" alt="닫기">
              <span class="visually-hidden">닫기</span>
            </button>
            <div class="modal__desc">
              임시저장 하시겠습니까?
            </div>
            <div class="btn__area">
              <button type="button" class="btn btn__primary is-black is-small">
                <span>저장</span>
              </button>
              <button type="button" class="btn btn__primary is-white is-small">
                <span>취소</span>
              </button>
            </div>
          </div>
        </div> 
        <!-- // alert --> 
    
         <!-- alert -->
        <div id="alert2" class="modal is-alert is-closed" data-closed="closed">
          <div class="modal__inner">
            <button type="button" class="btn btn__closed">
              <img src="/mobile/assets/images/svg/icon-closed.svg" alt="닫기">
              <span class="visually-hidden">닫기</span>
            </button>
            <div class="modal__desc">
              임시저장 하시겠습니까?<br>
              두줄로 들어갈 수도 있습니다.
            </div>
            <div class="btn__area">
              <button type="button" class="btn btn__primary is-black is-small">
                <span>저장</span>
              </button>
              <button type="button" class="btn btn__primary is-white is-small">
                <span>취소</span>
              </button>
            </div>
          </div>
        </div> 
        <!-- // alert --> 
      </section>
    
      <section class="examples">
        <div class="example__title">
          <h1 class="h3">modal</h1>
        </div>
    
        <div class="btn__area">
          <button type="button" class="btn btn__primary is-black is-modal" data-modal="modal1">
            <span>modal</span>
          </button>
          <button type="button" class="btn btn__primary is-black is-modal" data-modal="modal2">
            <span>modal+alert</span>
          </button>
          <button type="button" class="btn btn__primary is-black is-modal" data-modal="modal3">
            <span>full layer</span>
          </button>
          <button type="button" class="btn btn__primary is-black is-modal" data-modal="modal4">
            <span>tree</span>
          </button>
        </div>
    
        <!-- modal -->
        <div id="modal1" class="modal is-closed" data-closed="closed">
          <div class="modal__inner">
            <button type="button" class="btn btn__closed">
              <img src="/mobile/assets/images/svg/icon-closed.svg" alt="닫기">
              <span class="visually-hidden">닫기</span>
            </button>
            <div class="modal__desc">
              <div class="btn__area">
                <button type="button" class="btn btn__primary is-primary is-full">
                  <span>승인</span>
                </button>
                <button type="button" class="btn btn__primary is-white is-full">
                  <span>반려</span>
                </button>
                <button type="button" class="btn btn__primary is-white is-full">
                  <span>보류</span>
                </button>
              </div>
              <div class="modal__form">
                <div class="modal__formTitle">
                  <div class="title">의견남기기</div>
                  <button type="button" class="btn">
                    <span>확인</span>
                  </button>
                </div>
                <div class="formControl">
                  <textarea class="formText__textarea" placeholder="내용을 입력하세요."></textarea>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <!-- // modal --> 
    
        <!-- modal -->
        <div id="modal2" class="modal is-closed" data-closed="closed">
          <div class="modal__inner">
            <button type="button" class="btn btn__closed">
              <img src="/mobile/assets/images/svg/icon-closed.svg" alt="닫기">
              <span class="visually-hidden">닫기</span>
            </button>
            <div class="modal__desc">
              <div class="btn__area">
                <button type="button" class="btn btn__primary is-modal is-primary is-full" data-modal="alert3">
                  <span>click alert!</span>
                </button>
                <button type="button" class="btn btn__primary is-white is-full">
                  <span>반려</span>
                </button>
                <button type="button" class="btn btn__primary is-white is-full">
                  <span>보류</span>
                </button>
              </div>
              <div class="modal__form">
                <div class="modal__formTitle">
                  <div class="title">의견남기기</div>
                  <button type="button" class="btn">
                    <span>확인</span>
                  </button>
                </div>
                <div class="formControl">
                  <textarea class="formText__textarea" placeholder="내용을 입력하세요."></textarea>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <!-- // modal --> 
        <!-- alert3 -->
        <div id="alert3" class="modal is-alert is-closed" data-closed="closed">
          <div class="modal__inner">
            <button type="button" class="btn btn__closed">
              <img src="/mobile/assets/images/svg/icon-closed.svg" alt="닫기">
              <span class="visually-hidden">닫기</span>
            </button>
            <div class="modal__desc">
              정상 처리되었습니다.
            </div>
            <div class="btn__area">
              <button type="button" class="btn btn__primary is-black is-small">
                <span>저장</span>
              </button>
              <button type="button" class="btn btn__primary is-white is-small">
                <span>취소</span>
              </button>
            </div>
          </div>
        </div> 
        <!-- // alert3 --> 
    
        <!-- modal -->
        <div id="modal3" class="modal is-full is-closed" data-closed="closed">
          <!-- header -->
          <header class="header">
            <div class="header__item is-left has-truncated">
              <h1 class="header__title">결재의견</h1>
            </div>
            <div class="header__item is-right">
              <button type="button" class="btn btn__closed is-icon">
                <img src="/mobile/assets/images/svg/icon-close-popup.svg" alt="">
                <span class="visually-hidden">닫기</span>
              </button>
            </div>
          </header>
          <!-- // header -->
          <div class="container">
            <div class="contents">
              <section>
                  full layer
              </section>
            </div>
          </div>
        </div> 
        <!-- // modal --> 
        <!-- modal -->
        <div id="modal4" class="modal is-closed" data-closed="closed">
          <div class="modal__inner">
            <button type="button" class="btn btn__closed">
              <img src="/mobile/assets/images/svg/icon-closed.svg" alt="닫기">
              <svg class="icon"><use href="#icon-closed"></use></svg>
              <span class="visually-hidden">닫기</span>
            </button>
            <div class="modal__desc modal__list">
              <div class="modal__title">이동</div>
              <ul class="modal__treeList">
                <li>
                  <a href="#" class="one__depth">받은 편지함</a>
                  <ul class="two__depth">
                    <li><a href="#">편지보관함1</a></li>
                    <li><a href="#">편지보관함2</a></li>
                    <li><a href="#">편지보관함3</a></li>
                    <li><a href="#">편지보관함4</a></li>
                    <li><a href="#">편지보관함5</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="one__depth">보낸 편지함</a>
                </li>
                <li>
                  <a href="#" class="one__depth">임시 보관함</a>
                </li>
                <li>
                  <a href="#" class="one__depth">스팸 편지함</a>
                </li>
                <li>
                  <a href="#" class="one__depth">휴지통</a>
                </li>
              </ul>
            </div>
          </div>
        </div> 
        <!-- // modal --> 
      </section>
    </div>
  </div>

  <footer data-include-path="/mobile/html/layout/footer.html"></footer>
</body>
</html>