
{{#[../helpers/layout] htmlWebpackPlugin}}<main class="contents">

  
<section class="examples pb-0">
  <div class="example__title">
    <h1 class="h3">Paging</h1>
  </div>

  <div class="paging">
    <a href="#none" class="paging__prev">U.STRA Talk 첫 사업 수주 쾌거, '차바이오텍 U.ST U.STRA Talk 첫 사업 수주 쾌거, '차바이오텍 U.ST</a>
    <span class="paging__current">황사가 도시를 집어삼켰다…시뻘겋게 물든 발원지 실제</span>
    <a href="#none" class="paging__next">취업규칙 <span class="comment">[28]</span></a>
  </div>
</section>

</main>{{/[../helpers/layout]}}