<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>layout</title>
<script src="/mobile/assets/js/uid.js" defer></script>
<link rel="stylesheet" href="/mobile/assets/css/index.css">
</head>
<body>
  
  <header data-include-path="/mobile/html/layout/header.html"></header>

  <nav data-include-path="/mobile/html/layout/sidebar.html"></nav>

  <div class="container">
    <div class="contents">
      <section class="examples pb-0">
        <div class="example__title">
          <h1 class="h3">Paging</h1>
        </div>
      
        <div class="paging">
          <a href="#none" class="paging__prev">이전글</a>
          <span class="paging__current">현재글</span>
          <a href="#none" class="paging__next">다음글 <span class="comment">[28]</span></a>
        </div>
      </section>
    </div>
  </div>

  <footer data-include-path="/mobile/html/layout/footer.html"></footer>
</body>
</html>