{{#[../helpers/layout] htmlWebpackPlugin}}<main class="contents">

<section class="examples">
  <div class="example__title">
    <h1 class="h3">Type scale</h1>
  </div>

  <div class="content">
    <div class="h1">h1 / 30px / Title1</div>
    <div class="h2">h2 / 24px / Title</div>
    <div class="h3">h3 / 20px / Title</div>
    <br>
    <div class="b0">B0 / 18px / Mobile</div>
    <div class="b0 fw-600">B0 / 18px / Mobile</div>
    <br>
    <div class="b1">B1 / 16px / Menu</div>
    <div class="b1 fw-600">B1 / 16px / Menu</div>
    <br>
    <div class="b2">B2 / 15px / Default Mobile</div>
    <div class="b2 fw-600">B2 / 15px / Default Mobile</div>
    <br>
    <div class="b3">B3 / 14px / Default</div>
    <div class="b3 fw-500">B3 / 14px / Default</div>
    <div class="b3 fw-600">B3 / 14px / Default</div>
    <br>
    <div class="b4">B4 / 13px / Default</div>
    <div class="b4 fw-600">B4 / 13px / Default</div>
    <br>
    <div class="b5">B5 / 12px / Description / etc</div>
  </div>


</section>


</main>{{/[../helpers/layout]}}