.dropdown {
  position: relative;
  .dropdown__btn {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      width: 8px;
      height: 8px;
      margin-top: 2px;
      border-top: 1px solid $gray-400;
      border-right: 1px solid $gray-400;
      transition: 0.3s ease;
      transform: translateY(-50%) rotate(-45deg);
    }
    &.is-active {
      &:after {
        margin-top: -2px;
        transform: translateY(-50%) rotate(135deg);
      }
      + .dropdown__content {
        overflow: auto;
        border: 1px solid $gray-400;
        border-width: 0 1px 1px;
        background: $white;
      }
    }
  }
  .btn {
    padding: 5px 30px 5px 10px;
    border: 1px solid $gray-400;
    border-radius: 0;

    &:disabled {
      background: $gray-300;
    }
  }
  .dropdown__content {
    position: absolute;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: 0.1s ease;  
    z-index: 99;
  }
}

.accordion {
  border: 1px solid $gray-400;
  border-width: 1px 0;

  .accordion__item {
    &:not(:first-child) {
      border-top: 1px solid $gray-400;
    }
    .dropdown__btn {
      .btn {
        display: block;
        border: none;
        padding: 20px 10px;
      } 

      &.is-active {
        + .dropdown__content {
          margin: 10px;
          border: none;
        }
      }
    }
    .dropdown__content {
      position: relative;
      margin: 0 10px;
    }
  }
}