.container__guide {
  &.container {
    padding: 0;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: $white;
    .btnMenu {
      display: none;
    }
  }
  .sidebar {
    position: fixed;
    top: 79px;
    left: 0;
    z-index: 101;
  }
  .contents {
    min-height: calc(var(--vh, 1vh) * 100 - 55px);
    padding: 60px 60px 80px 250px;

    .title {
      color: #fff;
      h2 {
        font-size: 30px;
        line-height: 36px;
      }
      h3 {
        font-size: 26px;
        line-height: 30px;
      }  
    }
    section {
      margin-top: 30px;
    }
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: $white;
  }
  .content {
    padding: 30px;
    border-radius: 10px;
    color: #000;
    background: $white;
    box-shadow: 3px 3px 17px 1px rgba(0,0,0,0.1);
    .title {
      color: #222;
    }
  }
}

.is-guide {
  &:not(:first-child) {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid $gray-200;
  }
  .table tr > .th, 
  .table tr > td {
    border-width: 1px 0 1px;
  }
}
.guide__code {
  > p {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  .text-white {
    background-color: rgba(0,0,0,0.5);
  }
  [class^="bg"] {
    padding: 10px;
  }
  [class^="border"] {
    padding: 10px;
    border-width: 1px;
    border-style: solid;
  }
  .formControl {
    &:not(:first-child) {
      margin-top: 10px;
    }
    .input[type="text"], .textarea {
      width: 100%;
    }
  }
  .input[type="text"], .textarea {
    width: 500px;
  }

  &.display-block {
    > * {
      display: block;

      &.buttons {
        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
  }
  &.display-inlineFlex {
    flex-direction: column;
  }
  &.guide-flex {
    > div {
      display: flex;
      margin: 1px 0;

      &[class^="align"] {
        border: 1px solid $gray-400;
        width: calc(100% / 5);
        height: 50px;
        margin: 0 5px;
        box-sizing: border-box;
      }

      &.flex-center,
      &.inline-flex-center {
        border: 1px solid $gray-400;
        width: calc(100% / 2);
        height: 50px;
        margin: 0 5px;
        box-sizing: border-box;
      }
      &[class^="flex-grow"] {
        border: 1px solid $gray-400;
        height: 50px;
        margin: 0 5px;
        box-sizing: border-box;
      }
    }
  }
  .dropdown {
    display: inline-block;
    &.accordion__item {
      display: block;
    }
  }
}

.guideCode {
  position: relative;    
  display: flex;
  align-items: center;
  min-height: 80px;
  margin-top: 20px;
  border-radius: 5px;
  background: $gray-200;

  xmp {
      width: 100%;
      max-height: 250px;
      margin: 0;
      padding: 20px 0;
      overflow-y: scroll;
      font-family: 'Pretendard';
      color: $black;
      font-size: 14px;
      white-space: pre-wrap;
  }
}

.guideBtn{
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  width: auto;
  height: auto;
  padding: 5px 10px;
  border: 1px solid $gray-300;
  border-radius: 5px;
  background-color: $white;
  
}

.table {
  &.typo__table {
    width: 100%;
    text-align: center;
    thead {
      th {
        padding: 20px 0;
        border: 1px solid $gray-200;
        border-width: 1px 0;
      }
    }
    tbody {
      tr {
        &:first-child {
          td {
            padding-top: 30px;
          }
        }
      }
      td {
        padding: 20px 0;
        border-bottom: 1px solid $gray-200;
      }
    }
  }
}

@media (max-width: 768px){
  header {
    .header__inner {
      padding: 30px 20px;
      .btnMenu{
        display:block; 
        cursor:pointer; 
        position:relative; 
        width:20px; 
        height:20px; 
        padding:0; 
        border:3px solid #fff; 
        border-width:3px 0; 
        background:none; 
        vertical-align:top; 
        transition: all 0.3s;
      }
      .btnMenu:before{
        content:''; 
        float:right; 
        display:block; 
        width:20px; 
        height:3px;
        background:#fff; 
        transition: all 0.3s;
      }
    }
    .logo {
      margin-left: 20px;
    }
    .header__item {
      width: 40%;
      .gnb {
        li {
          margin:0;
        }
      }
    }
  }
  .container__guide {
    .contents {
    padding: 60px 20px 80px;
    }
    .sidebar {
      left: -100%;
      transition: 0.2s all;
      .menu__link {
        display: inline-block;
        width: 100%;
      }
    }
    &.sidebar-active {
      overflow: hidden;
      .sidebar {
        left: 0;
        width: 100%;
      }
      .btnMenu {
        height: 0;
        border-width: 0;
      }
    }
  } 
}