.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 20px 20px 30px;
  border-bottom: 1px solid $gray-200;
}

.logo {
  // width: 50px;
  height: auto;
  h1 {
      font-size: 16px;
      font-weight: 500;
    }
}
.gnb {
  @include flex-center();
  width: 100%;

  li {
    margin: 0 20px;
  }
}

.header__item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // width: 460px;

  [class^="headerItem__"] {
    + [class^="headerItem__"] {
      margin-left: 25px;
    }
  }
  .headerItem__search {
    .input {
      display: none;
      padding: 5px 0;
    }
  }
}