// Documents
body {
    min-width: $document-min-width;
    font-size: $document-font-size;
    font-weight: $document-font-weight;
    color: $document-font-color;
    line-height: $document-line-height;
  }

body,
button,
fieldset,
iframe,
input,
select,
textarea { font-family: $document-font-family; }

// .wrapper {}

.logo {
  &.is-header {
    display: inline-flex;
    width: 13.8rem;
    height: 2.2rem;
  }
}

.container {
  min-height: calc((calc(var(--vh, 1vh) * 100)) - 11.6rem); // header
  padding-left: 21rem;
}

.contents {
  padding: 2rem;

}

section {
  padding: 0 1.5rem;
}

.content {
  
}
