.sidebar {
  width: 210px;
  height: calc((calc(var(--vh, 1vh) * 100)) - 116px);
  padding: 15px 50px 15px 30px;
  border-right: 1px solid $gray-200;
  background-color: $white;
  overflow-y: scroll;
}

.sidebar__list {
  > li {
    > .menu__link {
      font-size: 18px;
      font-weight: 600;
    }
    + li {
      margin-top: 30px;
    }
  }

  li {
    margin: 10px 0;
    padding: 0;
  }

  .sidebar__subList {
    .menu__link {
      &:hover {
        font-weight: 600;
      }
    }
  }
}