.sidebar {
  width: 21rem;
  height: calc((calc(var(--vh, 1vh) * 100)) - 11.6rem);
  padding: 1.5rem 5rem 1.5rem 3rem;
  border-right: 0.1rem solid $gray-200;
  background-color: $white;
  overflow-y: scroll;
}

.sidebar__list {
  > li {
    > .menu__link {
      font-size: 1.8rem;
      font-weight: 600;
    }
    + li {
      margin-top: 3rem;
    }
  }

  li {
    margin: 1rem 0;
  }

  .sidebar__subList {
    .menu__link {
      &:hover {
        font-weight: 600;
      }
    }
  }
}