
.notice {
  position: relative;
  padding: 1.5rem 5.4rem 1.5rem 3.7rem;
  background: no-repeat top 1.5rem left 1.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.25 9.5625C14.0906 9.5625 13.957 9.50828 13.8492 9.39984C13.7414 9.29139 13.6875 9.15702 13.6875 8.99672C13.6875 8.83641 13.7414 8.70312 13.8492 8.59687C13.957 8.49062 14.0906 8.4375 14.25 8.4375H15.9375C16.0969 8.4375 16.2305 8.49172 16.3383 8.60015C16.4461 8.7086 16.5 8.84298 16.5 9.00328C16.5 9.16359 16.4461 9.29687 16.3383 9.40312C16.2305 9.50937 16.0969 9.5625 15.9375 9.5625H14.25ZM14.175 14.6625L12.8063 13.65C12.6813 13.55 12.6063 13.4261 12.5813 13.2783C12.5563 13.1304 12.5938 12.9918 12.6938 12.8625C12.7938 12.7375 12.9177 12.6625 13.0655 12.6375C13.2133 12.6125 13.3519 12.65 13.4813 12.75L14.85 13.7625C14.975 13.8625 15.05 13.9864 15.075 14.1342C15.1 14.2821 15.0625 14.4206 14.9625 14.55C14.8625 14.675 14.7386 14.75 14.5908 14.775C14.4429 14.8 14.3044 14.7625 14.175 14.6625ZM13.5375 5.23125C13.4082 5.33125 13.2696 5.36875 13.1217 5.34375C12.9739 5.31875 12.85 5.24375 12.75 5.11875C12.65 4.99375 12.6125 4.85625 12.6375 4.70625C12.6625 4.55625 12.7375 4.43125 12.8625 4.33125L14.175 3.3375C14.3044 3.2375 14.4429 3.2 14.5908 3.225C14.7386 3.25 14.8625 3.325 14.9625 3.45C15.0625 3.575 15.1 3.7125 15.075 3.8625C15.05 4.0125 14.975 4.1375 14.85 4.2375L13.5375 5.23125ZM3.9375 14.25V11.25H2.625C2.31563 11.25 2.05078 11.1398 1.83047 10.9195C1.61016 10.6992 1.5 10.4344 1.5 10.125V7.875C1.5 7.56562 1.61016 7.30078 1.83047 7.08047C2.05078 6.86016 2.31563 6.75 2.625 6.75H6L8.90625 5.00625C9.09375 4.89375 9.28125 4.89335 9.46875 5.00505C9.65625 5.11675 9.75 5.27965 9.75 5.49375V12.5062C9.75 12.7203 9.65625 12.8833 9.46875 12.995C9.28125 13.1067 9.09375 13.1062 8.90625 12.9937L6 11.25H5.0625V14.25H3.9375ZM10.5 11.5125V6.4875C10.8375 6.7875 11.1094 7.15312 11.3156 7.58437C11.5219 8.01562 11.625 8.4875 11.625 9C11.625 9.5125 11.5219 9.98437 11.3156 10.4156C11.1094 10.8469 10.8375 11.2125 10.5 11.5125ZM8.625 11.5125V6.4875L6.3 7.875H2.625V10.125H6.3L8.625 11.5125Z' fill='%2360738A'/%3E%3C/svg%3E%0A");
  background-color: $points-1;
  
  .btn__closed {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    width: 3rem;
    height: 3rem;
    
    .icon {
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  &.is-closed {
    padding: 0 5.4rem 0 3.7rem;
  }
}

.notice__title {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;

  + .notice__desc {
    margin: 1.2rem 0 0;
  }
}

.notice__desc {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
}
