.post {
  .file__save {
    margin-bottom: 2.5rem;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid $gray-200;
  }
  .btn__area {
    +.dropdown__area.comment {
      margin-top: 3.5rem;
    }
  }
  .formControl__option {
    min-height: 5rem;
    height: auto;
  }
  +.paging {
    border: none;
  }
}

.postTitle {
  margin: 1.3rem 0 0.5rem;
  .title {
    @include ellipsis();
    font-weight: 500;
    line-height: 2.6rem;
    font-size: 1.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    white-space: inherit;
  }
  .writeInfo {
    margin-top: 1.5rem;

    [class^="write__"] {
      display: inline-block;
      font-size: 1.4rem;
      
      &:not(:first-child) {
        padding-left: 0.6rem;
      }
    }
    .write__name {
      font-weight: 600;
    }
    .write__date {
      color: $gray-300;
    }
  }
  .opinion {
    margin-top: 1rem;
    font-size: 0;

    [class^="opinion__"] {
      position: relative;
      display: inline-block;
      padding-left: 2.2rem;
      font-size: 1.4rem;
      line-height: 1.8rem;
      background-repeat: no-repeat;
      background-position: left center;

      &:not(:first-child) {
        padding-left: 2.2rem;
        margin-left: 1.6rem;
        &:before {
          content: "";
          position: absolute;
          left: -0.8rem;
          top: 50%;
          display: inline-block;
          width: 0.1rem;
          height: 1rem;
          background-color: $gray-200;
          vertical-align: middle;
          transform: translateY(-50%);
        }
      }
    }
    .opinion__like {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.48319 6.69224H3.34326C3.01471 6.69224 2.73117 6.81179 2.49799 7.04766C2.26544 7.28291 2.14712 7.56474 2.14712 7.8884V13.9038C2.14712 14.2275 2.26544 14.5093 2.49799 14.7445C2.73117 14.9804 3.01471 15.0999 3.34326 15.0999H5.42499H5.52499H5.62499H13.0697C13.3451 15.0999 13.6133 15.013 13.8731 14.8449C14.1332 14.6766 14.3224 14.4653 14.435 14.2104L14.4356 14.2089L16.5113 9.3101L16.5114 9.31011L16.5123 9.30776C16.5432 9.22925 16.5615 9.1455 16.5676 9.05712C16.5731 8.97612 16.576 8.89894 16.576 8.82562V7.8884C16.576 7.57588 16.4509 7.2979 16.2106 7.05759C15.9703 6.81727 15.6923 6.69224 15.3798 6.69224H10.0463L10.7579 3.18051C10.7579 3.18025 10.758 3.17999 10.758 3.17974C10.7931 3.01941 10.7803 2.86394 10.7181 2.71641L10.626 2.75522L10.7181 2.7164C10.6565 2.56996 10.5595 2.45634 10.4271 2.38047L10.4271 2.38047L10.4265 2.38012L5.48319 6.69224ZM5.48319 6.69224L9.58774 2.53426C9.58786 2.53413 9.58799 2.53401 9.58811 2.53388C9.70035 2.41799 9.83413 2.34326 9.98787 2.31268L5.48319 6.69224ZM5.42499 7.52685V14.2653H3.34326C3.23226 14.2653 3.14807 14.2306 3.08225 14.1648C3.01643 14.099 2.98173 14.0148 2.98173 13.9038V7.8884C2.98173 7.78526 3.01551 7.70141 3.08352 7.63089L3.08352 7.63089C3.14961 7.56235 3.2334 7.52685 3.34326 7.52685H5.42499ZM9.8515 3.47794L9.06158 7.40714L9.03752 7.52685H9.15962H15.3798C15.4818 7.52685 15.5653 7.5614 15.636 7.63219C15.7068 7.70296 15.7414 7.78641 15.7414 7.8884V8.98252L13.636 13.9509C13.6359 13.951 13.6359 13.9511 13.6359 13.9512C13.586 14.0675 13.5152 14.1441 13.4255 14.1896C13.3218 14.2421 13.2308 14.2653 13.151 14.2653H6.25962V7.10836L9.8515 3.47794Z' fill='%23BBBBBB' stroke='%23BBBBBB' stroke-width='0.2'/%3E%3C/svg%3E%0A");
    }
    .opinion__hate {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.48319 11.7069H3.34326C3.01471 11.7069 2.73116 11.5874 2.49799 11.3515C2.26544 11.1163 2.14711 10.8344 2.14711 10.5108V4.49537C2.14711 4.17171 2.26544 3.88988 2.49799 3.65465C2.73116 3.41878 3.01471 3.29923 3.34326 3.29923H5.42499H5.52499H5.62499H13.0697C13.3451 3.29923 13.6133 3.38615 13.8731 3.55424C14.1332 3.7226 14.3224 3.93385 14.435 4.18882L14.4356 4.19022L16.5113 9.08907L16.5113 9.08906L16.5123 9.09141C16.5432 9.16992 16.5615 9.25367 16.5676 9.34205C16.5731 9.42305 16.576 9.50023 16.576 9.57355V10.5108C16.576 10.8233 16.4509 11.1013 16.2106 11.3416C15.9703 11.5819 15.6923 11.7069 15.3798 11.7069H10.0463L10.7579 15.2187C10.7579 15.2189 10.758 15.2192 10.758 15.2194C10.7931 15.3798 10.7802 15.5352 10.7181 15.6828L10.626 15.644L10.7181 15.6828C10.6565 15.8292 10.5595 15.9428 10.4271 16.0187L10.4271 16.0187L10.4265 16.0191L5.48319 11.7069ZM5.48319 11.7069L9.58773 15.8649C9.58786 15.865 9.58798 15.8652 9.58811 15.8653C9.70034 15.9812 9.83413 16.0559 9.98787 16.0865L5.48319 11.7069ZM5.42499 10.8723V4.13384H3.34326C3.23225 4.13384 3.14806 4.16854 3.08224 4.23436C3.01642 4.30018 2.98172 4.38437 2.98172 4.49537V10.5108C2.98172 10.6139 3.01551 10.6978 3.08351 10.7683L3.08352 10.7683C3.1496 10.8368 3.23339 10.8723 3.34326 10.8723H5.42499ZM9.8515 14.9212L9.06158 10.992L9.03751 10.8723H9.15962H15.3798C15.4818 10.8723 15.5652 10.8378 15.636 10.767C15.7068 10.6962 15.7414 10.6128 15.7414 10.5108V9.41665L13.636 4.44823C13.6359 4.44815 13.6359 4.44806 13.6359 4.44798C13.586 4.3317 13.5152 4.25507 13.4254 4.20956C13.3218 4.15703 13.2308 4.13384 13.151 4.13384H6.25962V11.2908L9.8515 14.9212Z' fill='%23BBBBBB' stroke='%23BBBBBB' stroke-width='0.2'/%3E%3C/svg%3E%0A");
    }
  }
}