.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 30px 20px 30px 30px;
  color: #fff;
  background-color: #222;
}

.logo {
  // width: 50px;
  height: auto;
  h1 {
    font-size: 16px;
    font-weight: 500;
    a {
      color: #fff;
    }
  }
}
.gnb {
  @include flex-center();
  width: 100%;

  li {
    margin: 0 20px;
    a {
      color: #fff;
    }
  }
}

.header__item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // width: 460px;

  [class^="headerItem__"] {
    + [class^="headerItem__"] {
      margin-left: 25px;
    }
  }
  .headerItem__search {
    .input {
      display: none;
      padding: 5px 0;
    }
  }
}