// Documents
body {
    min-width: $document-min-width;
    font-size: $document-font-size;
    font-weight: $document-font-weight;
    color: $gray-600;
    line-height: $document-line-height;
  }

body,
button,
fieldset,
iframe,
input,
select,
textarea { font-family: $document-font-family; }

.logo {
  &.is-header {
    display: inline-flex;
    width: 138px;
    height: 22px;
  }
}

.container {
  min-height: calc((calc(var(--vh, 1vh) * 100)) - 55px); // header
  padding-left: 210px;
  background-color: #222;
}

.contents {
  padding: 20px;
}

