{{#[../../helpers/layout2] htmlWebpackPlugin}}
<header class="header">
  <div class="header__item is-left">
    <button type="button" class="btn is-icon header__sidebarTrigger">
      <svg class="icon"><use href="#icon-header-menu"></use></svg>
      <span class="visually-hidden">주메뉴 바로 가기</span>
    </button>
  </div>
  <div class="header__item is-center has-truncated">
    <h1 class="header__title">전자결재</h1>
  </div>
  <div class="header__item is-right">
    <a class="btn is-icon" href="#">
      <svg class="icon"><use href="#icon-header-search"></use></svg>
      <span class="visually-hidden">검색 페이지로 이동</span>
    </a>
  </div>
</header>
{{> ../../partials/sidebar}}
<div class="container">
  <main class="contents">
    <section>
      <div class="checked__modal is-closed" data-closed="closed">
        <button type="button" class="btn btn__closed">
          <svg class="icon"><use href="#icon-closed"></use></svg>
          <span class="visually-hidden">닫기</span>
        </button>
        <div class="modal__inner">
          <div class="checked__count">
            <span class="is-checked">3</span>
            <span>/</span>
            <span class="list__count">11</span>
          </div>

          <div class="btn__area">
            <button type="button" class="btn btn__checked check__all">
              <span class="btn__name">전체선택</span>
            </button>
            <button type="button" class="btn btn__delete">
              <span class="btn__name">삭제</span>
            </button>
          </div>
        </div>
      </div>
      
      <div class="content__header">
        <div class="input">
          <input type="checkbox" id="check__all" class="input__checkbox check__all">
          <label for="check__all" class="label__checkbox"><span class="visually-hidden">전체 선택</span></label>
          <span class="input__label">결재 처리</span>
        </div>
        <button type="button" class="btn btn__refresh">
            <svg class="icon"><use href="#icon-refresh"></use></svg>
          <span class="visually-hidden">새로고침</span>
        </button>
      </div>
      <ul class="check__list approval">
        <li>
          <div class="check__item">
            <div class="input">
              <input type="checkbox" id="checkbox1" class="input__checkbox list__input">
              <label for="checkbox1" class="label__checkbox"><span class="visually-hidden">결재 선택</span></label>
            </div>
            <a href="processingView.html" class="approval__item">
              <div class="approval__title">
                <span class="title">경비사용보고서 일반</span>
                <span class="delay">[5일초과]</span>
              </div>
              <div class="state__info">
                <div class="state__box">
                  <span class="state__title">상태</span>
                  <span class="state__desc is-status">보류</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안자</span>
                  <span class="state__desc">이복우</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안일</span>
                  <span class="state__desc">2023.05.25 11:09</span>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="check__item">
            <div class="input">
              <input type="checkbox" id="checkbox2" class="input__checkbox list__input">
              <label for="checkbox2" class="label__checkbox"><span class="visually-hidden">결재 선택</span></label>
            </div>
            <a href="processingView.html" class="approval__item">
              <div class="approval__title">
                <span class="title">경비사용보고서 일반</span>
                <span class="delay">[5일초과]</span>
              </div>
              <div class="state__info">
                <div class="state__box">
                  <span class="state__title">상태</span>
                  <span class="state__desc is-status">보류</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안자</span>
                  <span class="state__desc">이복우</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안일</span>
                  <span class="state__desc">2023.05.25 11:09</span>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="check__item">
            <div class="input">
              <input type="checkbox" id="checkbox3" class="input__checkbox list__input">
              <label for="checkbox3" class="label__checkbox"><span class="visually-hidden">결재 선택</span></label>
            </div>
            <a href="processingView.html" class="approval__item">
              <div class="approval__title">
                <span class="title">경비사용보고서 일반</span>
                <span class="delay">[5일초과]</span>
              </div>
              <div class="state__info">
                <div class="state__box">
                  <span class="state__title">상태</span>
                  <span class="state__desc is-status">보류</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안자</span>
                  <span class="state__desc">이복우</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안일</span>
                  <span class="state__desc">2023.05.25 11:09</span>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="check__item">
            <div class="input">
              <input type="checkbox" id="checkbox4" class="input__checkbox list__input">
              <label for="checkbox4" class="label__checkbox"><span class="visually-hidden">결재 선택</span></label>
            </div>
            <a href="processingView.html" class="approval__item">
              <div class="approval__title">
                <span class="title">경비사용보고서 일반</span>
                <span class="delay">[5일초과]</span>
              </div>
              <div class="state__info">
                <div class="state__box">
                  <span class="state__title">상태</span>
                  <span class="state__desc is-status">보류</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안자</span>
                  <span class="state__desc">이복우</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안일</span>
                  <span class="state__desc">2023.05.25 11:09</span>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="check__item">
            <div class="input">
              <input type="checkbox" id="checkbox5" class="input__checkbox list__input">
              <label for="checkbox5" class="label__checkbox"><span class="visually-hidden">결재 선택</span></label>
            </div>
            <a href="processingView.html" class="approval__item">
              <div class="approval__title">
                <span class="title">계약직 파견직 승인</span>
              </div>
              <div class="state__info">
                <div class="state__box">
                  <span class="state__title">상태</span>
                  <span class="state__desc is-status">보류</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안자</span>
                  <span class="state__desc">이복우</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안일</span>
                  <span class="state__desc">2023.05.25 11:09</span>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="check__item">
            <div class="input">
              <input type="checkbox" id="checkbox6" class="input__checkbox list__input">
              <label for="checkbox6" class="label__checkbox"><span class="visually-hidden">결재 선택</span></label>
            </div>
            <a href="processingView.html" class="approval__item">
              <div class="approval__title">
                <span class="title">휴가 신청서 / 연차 월차 이연 외</span>
              </div>
              <div class="state__info">
                <div class="state__box">
                  <span class="state__title">상태</span>
                  <span class="state__desc is-status">보류</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안자</span>
                  <span class="state__desc">이복우</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안일</span>
                  <span class="state__desc">2023.05.25 11:09</span>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="check__item">
            <div class="input">
              <input type="checkbox" id="checkbox7" class="input__checkbox list__input">
              <label for="checkbox7" class="label__checkbox"><span class="visually-hidden">결재 선택</span></label>
            </div>
            <a href="processingView.html" class="approval__item">
              <div class="approval__title">
                <span class="title">휴가 신청서 / 연차 월차 이연 외</span>
              </div>
              <div class="state__info">
                <div class="state__box">
                  <span class="state__title">상태</span>
                  <span class="state__desc is-status">보류</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안자</span>
                  <span class="state__desc">이복우</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안일</span>
                  <span class="state__desc">2023.05.25 11:09</span>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="check__item">
            <div class="input">
              <input type="checkbox" id="checkbox8" class="input__checkbox list__input">
              <label for="checkbox8" class="label__checkbox"><span class="visually-hidden">결재 선택</span></label>
            </div>
            <a href="processingView.html" class="approval__item">
              <div class="approval__title">
                <span class="title">휴가 신청서 / 연차 월차 이연 외</span>
              </div>
              <div class="state__info">
                <div class="state__box">
                  <span class="state__title">상태</span>
                  <span class="state__desc is-status">보류</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안자</span>
                  <span class="state__desc">이복우</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안일</span>
                  <span class="state__desc">2023.05.25 11:09</span>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="check__item">
            <div class="input">
              <input type="checkbox" id="checkbox9" class="input__checkbox list__input">
              <label for="checkbox9" class="label__checkbox"><span class="visually-hidden">결재 선택</span></label>
            </div>
            <a href="processingView.html" class="approval__item">
              <div class="approval__title">
                <span class="title">휴가 신청서 / 연차 월차 이연 외</span>
              </div>
              <div class="state__info">
                <div class="state__box">
                  <span class="state__title">상태</span>
                  <span class="state__desc is-status">보류</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안자</span>
                  <span class="state__desc">이복우</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안일</span>
                  <span class="state__desc">2023.05.25 11:09</span>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="check__item">
            <div class="input">
              <input type="checkbox" id="checkbox10" class="input__checkbox list__input">
              <label for="checkbox10" class="label__checkbox"><span class="visually-hidden">결재 선택</span></label>
            </div>
            <a href="processingView.html" class="approval__item">
              <div class="approval__title">
                <span class="title">휴가 신청서 / 연차 월차 이연 외</span>
              </div>
              <div class="state__info">
                <div class="state__box">
                  <span class="state__title">상태</span>
                  <span class="state__desc is-status">보류</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안자</span>
                  <span class="state__desc">이복우</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안일</span>
                  <span class="state__desc">2023.05.25 11:09</span>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="check__item">
            <div class="input">
              <input type="checkbox" id="checkbox11" class="input__checkbox list__input">
              <label for="checkbox11" class="label__checkbox"><span class="visually-hidden">결재 선택</span></label>
            </div>
            <a href="processingView.html" class="approval__item">
              <div class="approval__title">
                <span class="title">휴가 신청서 / 연차 월차 이연 외</span>
              </div>
              <div class="state__info">
                <div class="state__box">
                  <span class="state__title">상태</span>
                  <span class="state__desc is-status">보류</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안자</span>
                  <span class="state__desc">이복우</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안일</span>
                  <span class="state__desc">2023.05.25 11:09</span>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="check__item">
            <div class="input">
              <input type="checkbox" id="checkbox12" class="input__checkbox list__input">
              <label for="checkbox12" class="label__checkbox"><span class="visually-hidden">결재 선택</span></label>
            </div>
            <a href="processingView.html" class="approval__item">
              <div class="approval__title">
                <span class="title">휴가 신청서 / 연차 월차 이연 외</span>
              </div>
              <div class="state__info">
                <div class="state__box">
                  <span class="state__title">상태</span>
                  <span class="state__desc is-status">보류</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안자</span>
                  <span class="state__desc">이복우</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안일</span>
                  <span class="state__desc">2023.05.25 11:09</span>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="check__item">
            <div class="input">
              <input type="checkbox" id="checkbox13" class="input__checkbox list__input">
              <label for="checkbox13" class="label__checkbox"><span class="visually-hidden">결재 선택</span></label>
            </div>
            <a href="processingView.html" class="approval__item">
              <div class="approval__title">
                <span class="title">휴가 신청서 / 연차 월차 이연 외</span>
              </div>
              <div class="state__info">
                <div class="state__box">
                  <span class="state__title">상태</span>
                  <span class="state__desc is-status">보류</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안자</span>
                  <span class="state__desc">이복우</span>
                </div>
                <div class="state__box">
                  <span class="state__title">기안일</span>
                  <span class="state__desc">2023.05.25 11:09</span>
                </div>
              </div>
            </a>
          </div>
        </li>
      </ul>

      <div class="btn__area">
        <button type="button" class="btn btn__listMore is-full">
            <span>더보기</span>
        </button>
      </div>
    </section>

  </main>
</div>
{{/[../../helpers/layout2]}}