{{#[../../helpers/layout2] htmlWebpackPlugin}}
<header class="header">
  <div class="header__item is-left">
    <button type="button" class="btn is-icon header__sidebarTrigger">
      <svg class="icon"><use href="#icon-header-menu"></use></svg>
      <span class="visually-hidden">주메뉴 바로 가기</span>
    </button>
  </div>
  <div class="header__item is-center has-truncated">
    <h1 class="header__title">조직도</h1>
  </div>
  <div class="header__item is-right">
    <a class="btn is-icon" href="#">
      <svg class="icon"><use href="#icon-header-search"></use></svg>
      <span class="visually-hidden">검색 페이지로 이동</span>
    </a>
  </div>
</header>
{{> ../../partials/sidebar}}
<div class="container">
  <main class="contents">
    <section>
      <div class="checked__modal is-closed" data-closed="closed">
        <button type="button" class="btn btn__closed">
          <svg class="icon"><use href="#icon-closed"></use></svg>
          <span class="visually-hidden">닫기</span>
        </button>
        <div class="modal__inner">
          <div class="checked__count">
            <span class="is-checked">3</span>
            <span>/</span>
            <span class="list__count">11</span>
          </div>

          <div class="btn__area">
            <button type="button" class="btn btn__checked check__all">
              <span class="btn__name">전체선택</span>
            </button>
            <button type="button" class="btn btn__delete">
              <span class="btn__name">삭제</span>
            </button>
          </div>
        </div>
      </div>
      
      <div class="content__header">
        <p class="header__title">디자인팀 전체 11명</p>
        <button type="button" class="btn btn__refresh">
            <svg class="icon"><use href="#icon-refresh"></use></svg>
          <span class="visually-hidden">새로고침</span>
        </button>
      </div>
      <ul class="check__list contact__list no-line">
        <li>
          <div class="check__item">
            <span class="profile__img">
              <svg class="img"><use href="#img-profile1"></use></svg>
            </span>
            <div class="contact__item">
              <a href="#none" class="contact__info">
                <span class="contact__name">이예진</span>
                <span class="contact__team">UI개발팀</span>
                <span class="contact__email">it1880SSasKim33@gsitm.com</span>
                <span class="contact__phone">010-9022-1670</span>
              </a>
              <div class="contact__btn">
                <button type="button" class="btn btn__phone">
                    <svg class="icon"><use href="#icon-phone"></use></svg>
                    <span class="visually-hidden">전화 걸기</span>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="check__item">
            <span class="profile__img">
              <svg class="img"><use href="#img-profile1"></use></svg>
            </span>
            <div class="contact__item">
              <a href="#none" class="contact__info">
                <span class="contact__name">이예진</span>
                <span class="contact__team">UI개발팀</span>
                <span class="contact__email">it1880SSasKim33@gsitm.com</span>
                <span class="contact__phone">010-9022-1670</span>
              </a>
              <div class="contact__btn">
                <button type="button" class="btn btn__phone">
                    <svg class="icon"><use href="#icon-phone"></use></svg>
                    <span class="visually-hidden">전화 걸기</span>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="check__item">
            <span class="profile__img">
              <svg class="img"><use href="#img-profile1"></use></svg>
            </span>
            <div class="contact__item">
              <a href="#none" class="contact__info">
                <span class="contact__name">이예진</span>
                <span class="contact__team">UI개발팀</span>
                <span class="contact__email">it1880SSasKim33@gsitm.com</span>
                <span class="contact__phone">010-9022-1670</span>
              </a>
              <div class="contact__btn">
                <button type="button" class="btn btn__phone">
                    <svg class="icon"><use href="#icon-phone"></use></svg>
                    <span class="visually-hidden">전화 걸기</span>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="check__item">
            <span class="profile__img">
              <svg class="img"><use href="#img-profile1"></use></svg>
            </span>
            <div class="contact__item">
              <a href="#none" class="contact__info">
                <span class="contact__name">이예진</span>
                <span class="contact__team">UI개발팀</span>
                <span class="contact__email">it1880SSasKim33@gsitm.com</span>
                <span class="contact__phone">010-9022-1670</span>
              </a>
              <div class="contact__btn">
                <button type="button" class="btn btn__phone">
                    <svg class="icon"><use href="#icon-phone"></use></svg>
                    <span class="visually-hidden">전화 걸기</span>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="check__item">
            <span class="profile__img">
              <svg class="img"><use href="#img-profile1"></use></svg>
            </span>
            <div class="contact__item">
              <a href="#none" class="contact__info">
                <span class="contact__name">이예진</span>
                <span class="contact__team">UI개발팀</span>
                <span class="contact__email">it1880SSasKim33@gsitm.com</span>
                <span class="contact__phone">010-9022-1670</span>
              </a>
              <div class="contact__btn">
                <button type="button" class="btn btn__phone">
                    <svg class="icon"><use href="#icon-phone"></use></svg>
                    <span class="visually-hidden">전화 걸기</span>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="check__item">
            <span class="profile__img">
              <svg class="img"><use href="#img-profile1"></use></svg>
            </span>
            <div class="contact__item">
              <a href="#none" class="contact__info">
                <span class="contact__name">이예진</span>
                <span class="contact__team">UI개발팀</span>
                <span class="contact__email">it1880SSasKim33it1880SSasKim33it1880SSasKim33it1880SSasKim33@gsitm.com</span>
                <span class="contact__phone">010-9022-1670</span>
              </a>
              <div class="contact__btn">
                <button type="button" class="btn btn__phone">
                    <svg class="icon"><use href="#icon-phone"></use></svg>
                    <span class="visually-hidden">전화 걸기</span>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="check__item">
            <span class="profile__img">
              <svg class="img"><use href="#img-profile1"></use></svg>
            </span>
            <div class="contact__item">
              <a href="#none" class="contact__info">
                <span class="contact__name">이예진</span>
                <span class="contact__team">UI개발팀</span>
                <span class="contact__email">it1880SSasKim33it1880SSasKim33it1880SSasKim33it1880SSasKim33@gsitm.com</span>
                <span class="contact__phone">010-9022-1670</span>
              </a>
              <div class="contact__btn">
                <button type="button" class="btn btn__phone">
                    <svg class="icon"><use href="#icon-phone"></use></svg>
                    <span class="visually-hidden">전화 걸기</span>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="check__item">
            <span class="profile__img">
              <svg class="img"><use href="#img-profile1"></use></svg>
            </span>
            <div class="contact__item">
              <a href="#none" class="contact__info">
                <span class="contact__name">이예진</span>
                <span class="contact__team">UI개발팀</span>
                <span class="contact__email">it1880SSasKim33it1880SSasKim33it1880SSasKim33it1880SSasKim33@gsitm.com</span>
                <span class="contact__phone">010-9022-1670</span>
              </a>
              <div class="contact__btn">
                <button type="button" class="btn btn__phone">
                    <svg class="icon"><use href="#icon-phone"></use></svg>
                    <span class="visually-hidden">전화 걸기</span>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="check__item">
            <span class="profile__img">
              <svg class="img"><use href="#img-profile1"></use></svg>
            </span>
            <div class="contact__item">
              <a href="#none" class="contact__info">
                <span class="contact__name">이예진</span>
                <span class="contact__team">UI개발팀</span>
                <span class="contact__email">it1880SSasKim33it1880SSasKim33it1880SSasKim33it1880SSasKim33@gsitm.com</span>
                <span class="contact__phone">010-9022-1670</span>
              </a>
              <div class="contact__btn">
                <button type="button" class="btn btn__phone">
                    <svg class="icon"><use href="#icon-phone"></use></svg>
                    <span class="visually-hidden">전화 걸기</span>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="check__item">
            <span class="profile__img">
              <svg class="img"><use href="#img-profile1"></use></svg>
            </span>
            <div class="contact__item">
              <a href="#none" class="contact__info">
                <span class="contact__name">이예진</span>
                <span class="contact__team">UI개발팀</span>
                <span class="contact__email">it1880SSasKim33it1880SSasKim33it1880SSasKim33it1880SSasKim33@gsitm.com</span>
                <span class="contact__phone">010-9022-1670</span>
              </a>
              <div class="contact__btn">
                <button type="button" class="btn btn__phone">
                    <svg class="icon"><use href="#icon-phone"></use></svg>
                    <span class="visually-hidden">전화 걸기</span>
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="btn__area">
        <button type="button" class="btn btn__listMore is-full">
            <span>더보기</span>
        </button>
      </div>
    </section>
  </main>
</div>
{{/[../../helpers/layout2]}}