<header>
  <div class="header__inner">
    <div class="logo">
      <h1>
        <!-- <span class="img is-logo">
          <img src="../../../assets/images/png/logo.png" alt="로고 이미지">
        </span> -->
        hanyiseul design system
      </h1>
    </div>
    <div class="header__item">
      <nav>
        <ul class="gnb">
          <li><a href="#">document</a></li>
          <li><a href="#">guide</a></li>
          <li><a href="#">index</a></li>
        </ul>
      </nav>
      <div class="headerItem__search">
        <input type="text" class="input">
        <button type="button" class="btn is-search headerItem">
          <span class="icon">
            <img src="../../../assets/images/png/icon-search.png" alt="검색 아이콘">
          </span>
          <span class="blind">검색</span>
        </button>
      </div>
    </div>
  </div>
</header>