<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hea</title>
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
    <header>
      <div class="header__inner">
        <div class="logo">
          <h1>
            <span class="img is-logo">
              <img src="/assets/images/png/logo.png" alt="로고 이미지">
            </span>
          </h1>
        </div>
        <ul class="gnb">
          <li><a href="#">document</a></li>
          <li><a href="#">guide</a></li>
          <li><a href="#">index</a></li>
        </ul>
        <div class="header__item">
          <div class="headerItem__search">
            <input type="text" class="input">
            <button type="button" class="btn is-search headerItem">
              <span class="icon">
                <img src="/assets/images/png/icon-search.png" alt="검색 아이콘">
              </span>
              <span class="blind">검색</span>
            </button>
          </div>
          <div class="headerItem__loginInfo">
            <div class="user">
                <span class="user__name"><strong>user</strong>님</span>
            </div>
          </div>
          <div class="headerItem__buttons">
            <button type="button" class="button is-setting ">
              <span class="icon">
                <img src="/assets/images/png/icon-setting.png" alt="">
              </span>
              <span class="blind">설정</span>
            </button>
            <button type="button" class="button is-setting ">
              <span class="icon">
                <img src="/assets/images/png/icon-logout.png" alt="">
              </span>
              <span class="blind">로그아웃</span>
            </button>
          </div>
        </div>
      </div>
    </header>
</body>
</html>