<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
<script src="../../assets/js/uid.js" defer></script>
<link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body>
<!-- https://www.w3schools.com/howto/howto_html_include.asp -->
 
<header data-include-path="header.html"></header>
 
<nav data-include-path="sidebar.html"></nav>
<div class="container">
  <div class="contents">
    Layout
  </div>
</div>

<footer data-include-path="footer.html"></footer>
</body>
</html>