<aside class="sidebar">
  <ul class="sidebar__list">
    <!-- document -->
    <li>
      <a href="#none" class="menu__link">Reference</a>
      <ul class="sidebar__subList">
        <li>
          <a href="#none" class="menu__link is-sub">Profile</a>
        </li>
        <li>
          <a href="#none" class="menu__link is-sub">Project</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#none" class="menu__link">Design System</a>
      <ul class="sidebar__subList">
        <li>
          <a href="#none" class="menu__link is-sub">Class Role</a>
        </li>
        <li>
          <a href="#none" class="menu__link is-sub">Web Accessibility</a>
        </li>
      </ul>
    </li>
    <!-- guide -->
    <li>
      <a href="#none" class="menu__link">Utility</a>
      <ul class="sidebar__subList">
        <li>
          <a href="/html/guide/utility/typography.html" class="menu__link is-sub">Typography</a>
        </li>
        <li>
          <a href="/html/guide/utility/color.html" class="menu__link is-sub">Color</a>
        </li>
        <li>
          <a href="/html/guide/utility/spacing.html" class="menu__link is-sub">Spacing</a>
        </li>
        <li>
          <a href="/html/guide/utility/display.html" class="menu__link is-sub">Display</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#none" class="menu__link">Component</a>
      <ul class="sidebar__subList">
        <li>
          <a href="/html/guide/components/button.html" class="menu__link is-sub">Button</a>
        </li>
        <li>
          <a href="/html/guide/components/form.html" class="menu__link is-sub">Form</a>
        </li>
        <li>
          <a href="/html/guide/components/table.html" class="menu__link is-sub">Table</a>
        </li>
        <li>
          <a href="/html/guide/components/dropdown.html" class="menu__link is-sub">Dropdown & Accordion</a>
        </li>
        <li>
          <a href="/html/guide/components/tab.html" class="menu__link is-sub">Tab</a>
        </li>
        <li>
          <a href="/html/guide/components/tooltip.html" class="menu__link is-sub">Tooltip</a>
        </li>
        <li>
          <a href="/html/guide/components/board.html" class="menu__link is-sub">Board</a>
        </li>
        <li>
          <a href="/html/guide/components/popup.html" class="menu__link is-sub">Popup</a>
        </li>
        <li>
          <a href="/html/guide/components/board.html" class="menu__link is-sub">progress</a>
        </li>
        <li>
          <a href="/html/guide/components/board.html" class="menu__link is-sub">Step</a>
        </li>
        <li>
          <a href="/html/guide/components/Paging.html" class="menu__link is-sub">Pagination</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#none" class="menu__link">Template</a>
        <li>
          <a href="#none" class="menu__link is-sub">Login</a>
        </li>
      </ul>
    </li>
    <!-- // guide -->
    <!-- Index -->
    <li>
      <a href="#none" class="menu__link">PageList</a>
    </li>
    <!-- // Index -->
  </ul>
</aside>