<aside class="sidebar">
  <ul class="sidebar__list">
    <!-- document -->
    <li>
      <a href="#none" class="menu__link">Reference</a>
      <ul class="sidebar__subList">
        <li>
          <a href="#none" class="menu__link is-sub">Profile</a>
        </li>
        <li>
          <a href="#none" class="menu__link is-sub">Project</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#none" class="menu__link">Design System</a>
      <ul class="sidebar__subList">
        <li>
          <a href="#none" class="menu__link is-sub">Class Role</a>
        </li>
        <li>
          <a href="#none" class="menu__link is-sub">Web Accessibility</a>
        </li>
      </ul>
    </li>
    <!-- guide -->
    <li>
      <a href="#none" class="menu__link">Component</a>
      <ul class="sidebar__subList">
        <li>
          <a href="/html/guide/components/typography.html" class="menu__link is-sub">Typography</a>
        </li>
        <li>
          <a href="#none" class="menu__link is-sub">Color</a>
        </li>
        <li>
          <a href="#none" class="menu__link is-sub">Button</a>
        </li>
        <li>
          <a href="#none" class="menu__link is-sub">Form</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#none" class="menu__link">Template</a>
      <ul class="sidebar__subList">
        <li>
          <a href="#none" class="menu__link is-sub">Main</a>
        </li>
        <li>
          <a href="/html/layout/layout.html" class="menu__link is-sub">Layout</a>
        </li>
        <li>
          <a href="#none" class="menu__link is-sub">Login</a>
        </li>
      </ul>
    </li>
    <!-- // guide -->
    <!-- Index -->
    <li>
      <a href="#none" class="menu__link">PageList</a>
    </li>
    <!-- // Index -->
  </ul>
</aside>