<header class="header">
  <div class="header__item is-left">
    <button type="button" class="btn is-icon header__sidebarTrigger">
      <img src="/UI-Guide/html/mobile/assets/images/svg/icon-header-menu.svg" alt="주메뉴 아이콘">
      <span class="visually-hidden">주메뉴 바로 가기</span>
    </button>
  </div>
  <div class="header__item is-center">
    <h1 class="header__title">
      <a class="logo is-header" href="/UI-GUIDE/html/mobile/html/index.html">
        <span>Yiseul UI guide</span>
      </a>
    </h1>
  </div>
</header>
