<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <title>{{title}}</title>
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/UI-Guide/html/mobile/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/UI-Guide/html/mobile/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/UI-Guide/html/mobile/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/UI-Guide/html/mobile/assets/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/UI-Guide/html/mobile/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- /favicon -->

  <link rel="stylesheet" href="/UI-Guide/html/mobile/assets/css/uid.css">
  <script defer src="/UI-Guide/html/mobile/assets/js/base.js"></script>
  <script defer src="/UI-Guide/html/mobile/assets/js/uid.js"></script>
</head>
