<aside class="sidebar">
  <header class="header sidebar__header">
    <div class="header__item is-right is-wide">
      <button type="button" class="btn is-icon sidebar__icon header__sidebarClose">
        <img src="/UI-Guide/html/mobile/assets/images/svg/icon-sidebar-close.svg" alt="" class="icon">
        <span class="visually-hidden">주 메뉴 닫기</span>
      </button>
    </div>
  </header>
  <nav class="nav is-primary">
    <div class="nav__item has-contact"><a href="/UI-Guide/index.html" class="nav__text" target="_blank" >INTRO</a></div>
    <div class="nav__item has-notice"><a href="/UI-Guide/html/mobile/html/index.html" class="nav__text">INDEX</a></div>
    <div class="nav__item has-mail"><a href="/UI-Guide/html/pc/html/guide/utility/typography.html"  target="_blank" class="nav__text">PC</a></div>
  </nav>
  <nav class="nav is-secondary">
    <div class="nav__overlay">
      <strong class="nav__title">Guide</strong>
      <ul class="nav__block has-lnb">
        <!-- Components -->
        <li class="nav__item is-current is-active">
          <a class="nav__link" href="#">
            <span class="nav__text">Components</span>
            <svg class="icon"><use href="#icon-lnb-arrow"></use></svg>
          </a>
          <ul class="twoDepth">
            <li class="twoDepth__item">
              <a class="twoDepth__link  has-count" href="/UI-Guide/html/mobile/html/guide/components/loading.html">
                <span>Loading</span>
                <span class="twoDepth__count is-textSecondary">완료</span>
              </a>
            </li>
            <li class="twoDepth__item">
              <a class="twoDepth__link has-count" href="/UI-Guide/html/mobile/html/guide/components/typography.html">
                <span>Typography</span>
                <span class="twoDepth__count is-textSecondary">완료</span>
              </a>
            </li>
            <li class="twoDepth__item">
              <a class="twoDepth__link has-count" href="/UI-Guide/html/mobile/html/guide/components/list.html">
                <span>List</span>
                <span class="twoDepth__count is-textSecondary">완료</span>
              </a>
            </li>
            <li class="twoDepth__item">
              <a class="twoDepth__link has-count" href="/UI-Guide/html/mobile/html/guide/components/button.html">
                <span>Button/Icon/Control</span>
                <span class="twoDepth__count is-textSecondary">완료</span>
              </a>
            </li>
            <li class="twoDepth__item">
              <a class="twoDepth__link has-count" href="/UI-Guide/html/mobile/html/guide/components/dropdown.html">
                <span>Dropdown</span>
                <span class="twoDepth__count is-textSecondary">완료</span>
              </a>
            </li>
            <li class="twoDepth__item">
              <a class="twoDepth__link has-count" href="/UI-Guide/html/mobile/html/guide/components/form.html">
                <span>Form</span>
                <span class="twoDepth__count is-textSecondary">완료</span>
              </a>
            </li>
            <li class="twoDepth__item">
              <a class="twoDepth__link has-count" href="/UI-Guide/html/mobile/html/guide/components/formDetail.html">
                <span>FormDetail</span>
                <span class="twoDepth__count is-textSecondary">완료</span>
              </a>
            </li>
            <li class="twoDepth__item">
              <a class="twoDepth__link has-count" href="/UI-Guide/html/mobile/html/guide/components/post.html">
                <span>Post</span>
                <span class="twoDepth__count is-textSecondary">완료</span>
              </a>
            </li>
            <li class="twoDepth__item">
              <a class="twoDepth__link has-count" href="/UI-Guide/html/mobile/html/guide/components/post.html">
                <span>Post Detail</span>
                <span class="twoDepth__count is-textSecondary">완료</span>
              </a>
            </li>
            <li class="twoDepth__item">
              <a class="twoDepth__link has-count" href="/UI-Guide/html/mobile/html/guide/components/tab.html">
                <span>Tab</span>
                <span class="twoDepth__count is-textSecondary">완료</span>
              </a>
            </li>
            <li class="twoDepth__item">
              <a class="twoDepth__link has-count" href="/UI-Guide/html/mobile/html/guide/components/modal.html">
                <span>Modal</span>
                <span class="twoDepth__count is-textSecondary">완료</span>
              </a>
            </li>
            <li class="twoDepth__item">
              <a class="twoDepth__link has-count" href="/UI-Guide/html/mobile/html/guide/components/paging.html">
                <span>Paging</span>
                <span class="twoDepth__count is-textSecondary">완료</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- /Components -->

        <!-- Templates -->
        <li class="nav__item is-current is-active">
          <a class="nav__link" href="#">
            <span class="nav__text">Templates</span>
            <svg class="icon"><use href="#icon-lnb-arrow"></use></svg>
          </a>
          <ul class="twoDepth">
            <li class="twoDepth__item">
              <a class="twoDepth__link has-count" href="/UI-Guide/html/mobile/html/guide/index.html">
                <span>Page list</span>
              </a>
            </li>
            <li class="twoDepth__item">
              <a class="twoDepth__link has-count" href="/UI-Guide/html/mobile/html/guide/templates/layout.html">
                <span>Layout</span>
                <span class="twoDepth__count is-textSecondary">완료</span>
              </a>
            </li>
            <li class="twoDepth__item">
              <a class="twoDepth__link has-count" href="/UI-Guide/html/mobile/html/guide/templates/setting.html">
                <span>Setting</span>
                <span class="twoDepth__count is-textSecondary">완료</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- /Templates -->
      </ul>
    </div>
  </nav>
</aside>
