.login {
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 6rem 0;
  text-align: center;
  background-color: $primary-1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.4rem;
    background: url("data:image/svg+xml,%3Csvg width='580' height='45' viewBox='0 0 580 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='580' height='44.8' transform='translate(0 0.200012)' fill='%23405AE3'/%3E%3Cmask id='mask0_2063_58076' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='580' height='43'%3E%3Crect y='0.200012' width='580' height='42' fill='%231A1B1E'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2063_58076)'%3E%3Cpath d='M19.5569 29.9257C23.5917 27.2931 27.0634 23.9105 29.7655 19.9794C33.8327 14.0669 36 7.11238 36 0L19.5529 -8.59523e-07C19.5245 11.0396 10.3327 19.9794 -1.00202 19.9794C-12.3368 19.9794 -21.5326 11.0396 -21.5569 -3.00791e-06L-38 -3.86722e-06C-38 7.11237 -35.8327 14.0669 -31.7655 19.9794C-29.0634 23.9105 -25.5917 27.2931 -21.5569 29.9257C-9.11217 38.0248 7.11217 38.0248 19.5569 29.9257Z' fill='%231735DB'/%3E%3Cpath d='M391.557 29.9257C395.592 27.2931 399.063 23.9105 401.765 19.9794C405.833 14.0669 408 7.11238 408 0L391.553 -8.62696e-07C391.524 11.0396 382.333 19.9794 370.998 19.9794C359.663 19.9794 350.467 11.0396 350.443 -3.01901e-06L334 -3.8815e-06C334 7.11238 336.167 14.0669 340.235 19.9794C342.937 23.9105 346.408 27.2931 350.443 29.9257C362.888 38.0248 379.112 38.0248 391.557 29.9257Z' fill='%231735DB'/%3E%3Cpath d='M271.443 14.0743C267.408 16.7069 263.937 20.0895 261.235 24.0206C257.167 29.9331 255 36.8876 255 44L271.447 44C271.476 32.9604 280.667 24.0206 292.002 24.0206C303.337 24.0206 312.533 32.9604 312.557 44L329 44C329 36.8876 326.833 29.9331 322.765 24.0206C320.063 20.0895 316.592 16.7069 312.557 14.0743C300.112 5.97523 283.888 5.97523 271.443 14.0743Z' fill='%231735DB'/%3E%3Cpath d='M147.492 -20C147.492 -19.958 147.492 -19.9122 147.492 -19.8702C147.496 -9.16941 138.816 -0.495773 128.107 -0.495773H128V15H128.107C135.011 15.0114 141.758 12.9652 147.492 9.12463C151.298 6.57828 154.572 3.30658 157.12 -0.495773C161.067 -6.39782 163.023 -13.2008 163 -19.9962H147.492V-20Z' fill='%231735DB'/%3E%3Cpath d='M518.492 -20C518.492 -19.958 518.492 -19.9122 518.492 -19.8702C518.496 -9.16941 509.816 -0.495773 499.107 -0.495773H499V15H499.107C506.011 15.0114 512.758 12.9652 518.492 9.12463C522.298 6.57828 525.572 3.30658 528.12 -0.495773C532.067 -6.39782 534.023 -13.2008 534 -19.9962H518.492V-20Z' fill='%231735DB'/%3E%3Cpath d='M211 20.0492C210.957 20.0492 210.91 20.0492 210.866 20.0492C199.86 20.0532 190.939 11.1249 190.939 0.11003L190.939 -1.06113e-06L175 -1.90418e-06L175 0.110029C174.988 7.21096 177.093 14.1508 181.043 20.0492C183.662 23.9632 187.028 27.3309 190.939 29.952C197.009 34.0114 204.007 36.0234 210.996 35.9998L210.996 20.0492L211 20.0492Z' fill='white'/%3E%3Cpath d='M582 20.0492C581.957 20.0492 581.91 20.0492 581.866 20.0492C570.86 20.0532 561.939 11.1249 561.939 0.11003L561.939 -1.06113e-06L546 -1.90418e-06L546 0.110029C545.988 7.21096 548.093 14.1508 552.043 20.0492C554.662 23.9632 558.028 27.3309 561.939 29.952C568.009 34.0114 575.007 36.0234 581.996 35.9998L581.996 20.0492L582 20.0492Z' fill='white'/%3E%3Cpath d='M54.8369 48C54.8369 47.958 54.8369 47.9122 54.8369 47.8702C54.8328 37.1694 64.257 28.4958 75.8839 28.4958L76 28.4958L76 13.0001L75.8839 13.0001C68.3884 12.9886 61.0631 15.0348 54.8369 18.8754C50.7055 21.4217 47.1507 24.6934 44.384 28.4958C40.0991 34.3978 37.9753 41.2008 38.0002 47.9962L54.8369 47.9962L54.8369 48Z' fill='white'/%3E%3Cpath d='M426.394 48C426.394 47.958 426.394 47.9122 426.394 47.8702C426.39 37.1694 435.566 28.4958 446.887 28.4958L447 28.4958L447 13.0001L446.887 13.0001C439.589 12.9886 432.456 15.0348 426.394 18.8754C422.371 21.4217 418.91 24.6934 416.216 28.4958C412.044 34.3978 409.976 41.2008 410 47.9962L426.394 47.9962L426.394 48Z' fill='white'/%3E%3Ccircle cx='101.5' cy='20.5' r='8.5' fill='white'/%3E%3Ccircle cx='472.5' cy='20.5' r='8.5' fill='white'/%3E%3Cellipse cx='235' cy='27.5' rx='9' ry='8.5' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A") top left;
  }

  .login__logo {
    .logo__img {
      width: 16.5rem;
      height: 2.5rem;
    }
  }
  .login__wrap {
    width: calc(100% - 3rem);
    min-height: 39rem;
    margin: 0 1.5rem;
    padding: 5rem 3rem 4rem;
    margin-top: 4rem;
    border-radius: 1.6rem;
    background-color: $white;

    .form {
      margin-top: 2.5rem;

      .input {
        position: relative;
        margin-top: 0;

        &:not(:first-child) {
          margin-top: 0.8rem;
        }
        &.is-error {

          +.input {
            margin-top: 0.6rem;
          }
          .formText__input {
            border-color: $alerts-1;
          }
          .btn__inputDel {
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='18' height='18' rx='9' fill='%23979797'/%3E%3Cpath d='M5.09 12.9L7.79 8.79L5.18 4.75H7.34L8.98 7.41L10.67 4.75H12.74L10.12 8.73L12.83 12.9H10.7L8.95 10.09L7.16 12.9H5.09Z' fill='white'/%3E%3C/svg%3E%0A");
          }
          .btn__valueShow {
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.029 12.6427C16.9426 10.935 18.0001 9 18.0001 9C18.0001 9 14.6251 2.8125 9.00008 2.8125C7.91962 2.81622 6.85139 3.04135 5.86133 3.474L6.72758 4.34137C7.45594 4.07605 8.22489 3.93939 9.00008 3.9375C11.3851 3.9375 13.364 5.2515 14.8141 6.70162C15.512 7.40328 16.1376 8.17327 16.6816 9C16.6163 9.09788 16.5443 9.20587 16.4622 9.324C16.0853 9.864 15.5285 10.584 14.8141 11.2984C14.6285 11.484 14.435 11.6674 14.2325 11.8451L15.029 12.6427Z' fill='%23979797'/%3E%3Cpath d='M12.7088 10.3232C12.9598 9.62098 13.0063 8.86194 12.8429 8.13438C12.6794 7.40681 12.3127 6.74062 11.7854 6.21333C11.2581 5.68603 10.5919 5.31931 9.86432 5.15584C9.13675 4.99236 8.37772 5.03886 7.67554 5.2899L8.60142 6.21578C9.03377 6.1539 9.47459 6.19355 9.88895 6.33161C10.3033 6.46967 10.6798 6.70233 10.9887 7.01117C11.2975 7.32 11.5301 7.69651 11.6682 8.11087C11.8063 8.52524 11.8459 8.96606 11.784 9.3984L12.7088 10.3232ZM9.39792 11.7845L10.3227 12.7093C9.62049 12.9603 8.86146 13.0068 8.13389 12.8433C7.40632 12.6799 6.74013 12.3132 6.21284 11.7859C5.68554 11.2586 5.31882 10.5924 5.15535 9.86481C4.99188 9.13724 5.03837 8.37821 5.28942 7.67603L6.21529 8.6019C6.15341 9.03425 6.19307 9.47507 6.33112 9.88943C6.46918 10.3038 6.70185 10.6803 7.01068 10.9891C7.31951 11.298 7.69603 11.5306 8.11039 11.6687C8.52475 11.8068 8.96557 11.8464 9.39792 11.7845Z' fill='%23979797'/%3E%3Cpath d='M3.76875 6.15356C3.56625 6.33356 3.37162 6.51581 3.186 6.70144C2.4881 7.40309 1.86246 8.17308 1.3185 8.99981L1.53787 9.32381C1.91475 9.86381 2.47163 10.5838 3.186 11.2982C4.63613 12.7483 6.61613 14.0623 9 14.0623C9.8055 14.0623 10.5638 13.9127 11.2725 13.6573L12.1388 14.5258C11.1487 14.9584 10.0805 15.1836 9 15.1873C3.375 15.1873 0 8.99981 0 8.99981C0 8.99981 1.05638 7.06369 2.97113 5.35706L3.76762 6.15469L3.76875 6.15356ZM15.3517 16.1481L1.85175 2.64806L2.64825 1.85156L16.1483 15.3516L15.3517 16.1481Z' fill='%23979797'/%3E%3C/svg%3E%0A");
          }
          .error__msg {
            margin-top: 0.8rem;
            padding-left: 2.3rem;
            color: $alerts-1;
            font-size: 1.4rem;
            line-height: 1.7rem;
            background: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 17C13.1944 17 17 13.1944 17 8.5C17 3.80558 13.1944 0 8.5 0C3.80558 0 0 3.80558 0 8.5C0 13.1944 3.80558 17 8.5 17Z' fill='%23E23A15'/%3E%3Cpath d='M8.5 3.57715V8.80792' stroke='white' stroke-width='1.8'/%3E%3Cpath d='M8.5 10.5V12.4615' stroke='white' stroke-width='1.8'/%3E%3C/svg%3E%0A") no-repeat left center;
          }
        }
        .btn {
          position: absolute;
          top: 0;
          right: 0;
          width: 3.1rem;
          height: 4.8rem;
          background-position: center left;
        }
      }
      .formText__input {
        padding: 1.4rem 1.5rem;
        border: 0.1rem solid $gray-250;
        border-radius: 0.3rem;
      }
    }
    .btn__area {
      margin-top: 2rem;
      .btn {
        padding: 1.6rem 0;
      }
    }
    .input {
      width: 100%;
      margin-top: 1.5rem;
      text-align: left;
    }
  }
  .login__title {
    color: $gray-600;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1em;

    +.login__desc {
      margin-top: 6rem;
    }
  }
  .login__desc {
    line-height: 2.6rem;
    + .form {
      margin-top: 4.4rem;
    }
  }
  .login__icon {
    margin: 4rem 0 3rem;
    .icon {
      width: 4rem;
      height: 4rem;
    }
  }
  .login__find {
    margin-top: 3rem;
    font-size: 0;
    
    .find__link {
      position: relative;
      padding: 0 2rem;
      color: $gray-500;
      font-size: 1.4rem;
      line-height: 1em;

      +.find__link {
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 0.1rem;
          height: 1.4rem;
          background: $gray-200;
          transform: translateY(-50%);
        }
      }
    }
  }
  .login__footer {
    position: absolute;
    bottom: 2.2rem;
    color: #8E9CE9;
    font-size: 1.2rem;
  }
}

@include tablet{ 
  .login {
    .login__wrap {
      width: 60rem;
      height: 53rem;
      padding: 7rem 10rem 9.5rem;

      &.findPassword {
        .login__title {
          font-size: 3.6rem;
          line-height: 5.2rem;

          +.login__desc {
            margin-top: 5rem;
          }
        }
        .login__desc {
          +.form {
            margin-top: 4.4rem;
            .input {
              + .btn__area {
                margin-top: 6rem;
              }
            }
          }
          +.btn__area {
            margin-top: 4.3rem;
          }
        }
      }
      .form {
        .input {
          &:not(:first-child) {
            margin-top: 1.5rem
          }
        }
        .btn__area {
          margin-top: 8rem;
        }
      }

      .login__title {
        font-size: 3rem;

        +.form {
          margin-top: 6rem;
          
          .is-error {
            +.is-error {
              margin-top: 1.5rem
            }
            +.btn__area {
              margin-top: 3rem;
            }
          }
        }
      }
      .login__icon {
        margin: 3rem 0;
        .icon {
          width: 4rem;
          height: 4rem;
        }
      }
      .login__setting {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.4rem;
  
        > div {
          width: 20rem;
          margin-top: 0;
          margin-right: 0;
        }
        .login__find {
          width: 100%;
          text-align: right;
          
          .find__link {
            vertical-align: middle;
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}