<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>layout</title>
<script src="/UI-Guide/html/mobile/assets/js/uid.js" defer></script>
<link rel="stylesheet" href="/UI-Guide/html/mobile/assets/css/index.css">
</head>
<body>
  <div class="login">
    <div class="login__wrap">
      <div class="login__title">로그인</div>
      <div class="form">
        <div class="input">
          <input class="formText__input is-id" type="text" title="아이디 입력" placeholder="아이디" value="">
          <button class="btn btn__inputDel"><span class="visually-hidden">삭제하기</span></button>
        </div>
        <div class="input password">
          <input class="formText__input is-pw" type="password" title="비밀번호 입력" placeholder="비밀번호" value="">
          <button class="btn btn__valueShow"><span class="visually-hidden">삭제하기</span></button>
        </div>
  
        <div class="btn__area">
          <button type="button" class="btn btn__primary is-black is-full">
            <span>로그인</span>
          </button>
        </div>
      </div>
  
      <div class="login__setting">
        <div class="input">
          <input type="checkbox" id="checkbox1" class="input__checkbox">
          <label for="checkbox1" class="label__checkbox"><span class="input__label">로그인 상태 유지</span>
        </div>
  
        <div class="login__find">
          <a href="#" class="find__link">아이디 찾기</a>
          <a href="#" class="find__link">비밀번호 찾기</a>
        </div>
      </div> 
      
    </div>
  
    <div class="login__footer">
      <p class="copyright">Copyright © yiseul All rights reserved.</p>
    </div>
  </div>
</body>
</html>