.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  -webkit-tap-highlight-color: transparent;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8rem;

  &.is-icon {
    width: 2.4rem;
    height: 2.4rem;

    &.btn__closed {
      position: relative;
      top: 0;
      right: auto;
    }
    
    svg {
      width: 2rem;
      height: 2rem;
      vertical-align: middle;
    }
  }
  &.btn__listMore {
    position: relative;
    display: inline-block;
    padding: 0.5rem 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.3rem;
    text-align: center;
    border: 0.1rem solid $gray-200;
    border-radius: 0.8rem;
    background-color: $blue-100;

    > span {
      display: inline-block;
      vertical-align: middle;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 1.8rem;
      height: 1.8rem;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99631 14.0625C8.87472 14.0625 8.77402 14.0217 8.69422 13.9401C8.61441 13.8586 8.57451 13.7576 8.57451 13.637V9.42546H4.36297C4.24241 9.42546 4.14136 9.38433 4.05982 9.30208C3.97827 9.21982 3.9375 9.11789 3.9375 8.99631C3.9375 8.87472 3.97827 8.77402 4.05982 8.69422C4.14136 8.61441 4.24241 8.57451 4.36297 8.57451H8.57451V4.36297C8.57451 4.24242 8.61563 4.14137 8.69788 4.05982C8.78014 3.97827 8.88207 3.9375 9.00366 3.9375C9.12524 3.9375 9.22594 3.97827 9.30574 4.05982C9.38555 4.14137 9.42546 4.24242 9.42546 4.36297V8.57451H13.637C13.7575 8.57451 13.8586 8.61563 13.9401 8.69788C14.0217 8.78014 14.0625 8.88207 14.0625 9.00366C14.0625 9.12524 14.0217 9.22594 13.9401 9.30574C13.8586 9.38555 13.7575 9.42546 13.637 9.42546H9.42546V13.637C9.42546 13.7576 9.38433 13.8586 9.30208 13.9401C9.21982 14.0217 9.11789 14.0625 8.99631 14.0625Z' fill='black'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      vertical-align: middle;
    }

    &:active,
    &.is-active {
      border-color: $gray-600;
      background-color: $blue-100;
    }
    &:disabled,
    &.is-disabled {
      color: $gray-300;
      border-color: $gray-200;

      &:after {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99631 14.0625C8.87472 14.0625 8.77402 14.0217 8.69422 13.9401C8.61441 13.8586 8.57451 13.7576 8.57451 13.637V9.42546H4.36297C4.24241 9.42546 4.14136 9.38433 4.05982 9.30208C3.97827 9.21982 3.9375 9.11789 3.9375 8.99631C3.9375 8.87472 3.97827 8.77402 4.05982 8.69422C4.14136 8.61441 4.24241 8.57451 4.36297 8.57451H8.57451V4.36297C8.57451 4.24242 8.61563 4.14137 8.69788 4.05982C8.78014 3.97827 8.88207 3.9375 9.00366 3.9375C9.12524 3.9375 9.22594 3.97827 9.30574 4.05982C9.38555 4.14137 9.42546 4.24242 9.42546 4.36297V8.57451H13.637C13.7575 8.57451 13.8586 8.61563 13.9401 8.69788C14.0217 8.78014 14.0625 8.88207 14.0625 9.00366C14.0625 9.12524 14.0217 9.22594 13.9401 9.30574C13.8586 9.38555 13.7575 9.42546 13.637 9.42546H9.42546V13.637C9.42546 13.7576 9.38433 13.8586 9.30208 13.9401C9.21982 14.0217 9.11789 14.0625 8.99631 14.0625Z' fill='%23BBBBBB'/%3E%3C/svg%3E%0A");
      }
      background-color: $gray-100;
    }
  }

  &.btn__refresh {
    width: 4rem;
    height: 4rem;
    .icon {
      width: 3rem;
      height: 3rem;
    }
  }

  &.btn__primary {
    padding: 1.3rem 4.05rem;
    border: 0.1rem solid $gray-600;
    border-radius: 0.3rem;
    background-color: $white;

    &.is-black {
      color: $white;
      background-color: $gray-600;
    }

    &.is-primary {
      color: $white;
      border-color: $primary-1;
      background-color: $primary-1;
    }

    &.is-blue400 {
      color: $white;
      border-color: $blue-400;
      background-color: $blue-400;
    }

    > span {
      display: inline-block;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.8rem;
    }
  }

  &.is-full {
    width: 100%;
  }

  &.is-small {
    padding: 1.2rem 2.1rem;
  }

  &.btn__download {
    width: 4.4rem;
    height: 4.4rem;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9947 4.66659C13.7454 4.66659 13.538 4.75044 13.3728 4.91815C13.2075 5.08586 13.1248 5.29367 13.1248 5.54159V15.4874L10.2373 12.5999C10.0623 12.4249 9.85817 12.3423 9.62484 12.352C9.3915 12.3617 9.18734 12.4541 9.01234 12.6291C8.83734 12.8041 8.74984 13.0131 8.74984 13.2562C8.74984 13.4992 8.83734 13.7083 9.01234 13.8833L13.3873 18.2583C13.4846 18.3555 13.5831 18.4235 13.6829 18.4624C13.7827 18.5013 13.8897 18.5208 14.0037 18.5208C14.1178 18.5208 14.2234 18.5013 14.3207 18.4624C14.4179 18.4235 14.5151 18.3555 14.6123 18.2583L19.0165 13.8541C19.1915 13.6791 19.279 13.4749 19.279 13.2416C19.279 13.0083 19.1915 12.8041 19.0165 12.6291C18.8415 12.4541 18.6325 12.3666 18.3894 12.3666C18.1464 12.3666 17.9373 12.4541 17.7623 12.6291L14.8748 15.4874V5.54159C14.8748 5.29367 14.7905 5.08586 14.6218 4.91815C14.4531 4.75044 14.2441 4.66659 13.9947 4.66659ZM5.5364 17.4124C5.28702 17.4124 5.0797 17.4963 4.91442 17.664C4.74914 17.8317 4.6665 18.0395 4.6665 18.2874V21.5833C4.6665 22.0499 4.8415 22.4583 5.1915 22.8083C5.5415 23.1583 5.94984 23.3333 6.4165 23.3333H21.5832C22.0498 23.3333 22.4582 23.1583 22.8082 22.8083C23.1582 22.4583 23.3332 22.0499 23.3332 21.5833V18.2874C23.3332 18.0395 23.2488 17.8317 23.0801 17.664C22.9114 17.4963 22.7024 17.4124 22.4531 17.4124C22.2037 17.4124 21.9964 17.4963 21.8311 17.664C21.6658 17.8317 21.5832 18.0395 21.5832 18.2874V21.5833H6.4165V18.2874C6.4165 18.0395 6.33216 17.8317 6.16348 17.664C5.99478 17.4963 5.78576 17.4124 5.5364 17.4124Z' fill='%238D9FB5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.btn__checked,
  &.btn__delete,
  &.btn__spam,
  &.btn__mailNew,
  &.btn__mail,
  &.btn__movement {
    position: relative;
    color: $gray-300;

    &:hover,
    &:focus,
    &:active {
      color: $primary-1; 
    }
    &:disabled {
      color: $gray-500;
    }
    &:before {
      content: '';
      display: block;
      width: 2.8rem;
      height: 2.8rem;
      margin: 0 auto 1.2rem;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &.btn__checked {
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.25 24.5C4.76875 24.5 4.35677 24.3286 4.01406 23.9859C3.67135 23.6432 3.5 23.2313 3.5 22.75V5.25C3.5 4.76875 3.67135 4.35677 4.01406 4.01406C4.35677 3.67135 4.76875 3.5 5.25 3.5H21.75C22.0222 3.5 22.2701 3.55833 22.4937 3.675C22.7174 3.79167 22.8972 3.92778 23.0333 4.08333L21.75 5.36667V5.25H5.25V22.75H22.75V13.7458L24.5 11.9958V22.75C24.5 23.2313 24.3286 23.6432 23.9859 23.9859C23.6432 24.3286 23.2313 24.5 22.75 24.5H5.25ZM13.4458 19.6L6.97083 13.125L8.19583 11.9L13.4458 17.15L24.5875 6.00833L25.8125 7.23333L13.4458 19.6Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.25 24.5C4.76875 24.5 4.35677 24.3286 4.01406 23.9859C3.67135 23.6432 3.5 23.2313 3.5 22.75V5.25C3.5 4.76875 3.67135 4.35677 4.01406 4.01406C4.35677 3.67135 4.76875 3.5 5.25 3.5H21.75C22.0222 3.5 22.2701 3.55833 22.4937 3.675C22.7174 3.79167 22.8972 3.92778 23.0333 4.08333L21.75 5.36667V5.25H5.25V22.75H22.75V13.7458L24.5 11.9958V22.75C24.5 23.2313 24.3286 23.6432 23.9859 23.9859C23.6432 24.3286 23.2313 24.5 22.75 24.5H5.25ZM13.4458 19.6L6.97083 13.125L8.19583 11.9L13.4458 17.15L24.5875 6.00833L25.8125 7.23333L13.4458 19.6Z' fill='%23405AE3'/%3E%3C/svg%3E%0A");
      }      
    }

    &:disabled {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.25 24.5C4.76875 24.5 4.35677 24.3286 4.01406 23.9859C3.67135 23.6432 3.5 23.2313 3.5 22.75V5.25C3.5 4.76875 3.67135 4.35677 4.01406 4.01406C4.35677 3.67135 4.76875 3.5 5.25 3.5H21.75C22.0222 3.5 22.2701 3.55833 22.4937 3.675C22.7174 3.79167 22.8972 3.92778 23.0333 4.08333L21.75 5.36667V5.25H5.25V22.75H22.75V13.7458L24.5 11.9958V22.75C24.5 23.2313 24.3286 23.6432 23.9859 23.9859C23.6432 24.3286 23.2313 24.5 22.75 24.5H5.25ZM13.4458 19.6L6.97083 13.125L8.19583 11.9L13.4458 17.15L24.5875 6.00833L25.8125 7.23333L13.4458 19.6Z' fill='%23494949'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &.btn__delete {
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.61234 24.5C7.14567 24.5 6.73734 24.325 6.38734 23.975C6.03734 23.625 5.86234 23.2167 5.86234 22.75V6.125H5.5415C5.29359 6.125 5.08577 6.04066 4.91807 5.87198C4.75036 5.70328 4.6665 5.49425 4.6665 5.2449C4.6665 4.99552 4.75036 4.78819 4.91807 4.62292C5.08577 4.45764 5.29359 4.375 5.5415 4.375H10.1498C10.1498 4.12222 10.2337 3.91319 10.4014 3.74792C10.5691 3.58264 10.7769 3.5 11.0248 3.5H16.9748C17.2228 3.5 17.4306 3.58385 17.5983 3.75156C17.766 3.91927 17.8498 4.12708 17.8498 4.375H22.4582C22.7061 4.375 22.9139 4.45934 23.0816 4.62802C23.2493 4.79672 23.3332 5.00575 23.3332 5.2551C23.3332 5.50448 23.2493 5.71181 23.0816 5.87708C22.9139 6.04236 22.7061 6.125 22.4582 6.125H22.1373V22.75C22.1373 23.2167 21.9623 23.625 21.6123 23.975C21.2623 24.325 20.854 24.5 20.3873 24.5H7.61234ZM7.61234 6.125V22.75H20.3873V6.125H7.61234ZM10.704 19.3667C10.704 19.6146 10.7883 19.8224 10.957 19.9901C11.1257 20.1578 11.3348 20.2417 11.5841 20.2417C11.8335 20.2417 12.0408 20.1578 12.2061 19.9901C12.3714 19.8224 12.454 19.6146 12.454 19.3667V9.47917C12.454 9.23125 12.3697 9.02344 12.201 8.85573C12.0323 8.68802 11.8233 8.60417 11.5739 8.60417C11.3245 8.60417 11.1172 8.68802 10.9519 8.85573C10.7866 9.02344 10.704 9.23125 10.704 9.47917V19.3667ZM15.5457 19.3667C15.5457 19.6146 15.63 19.8224 15.7987 19.9901C15.9674 20.1578 16.1764 20.2417 16.4258 20.2417C16.6751 20.2417 16.8825 20.1578 17.0478 19.9901C17.213 19.8224 17.2957 19.6146 17.2957 19.3667V9.47917C17.2957 9.23125 17.2113 9.02344 17.0426 8.85573C16.8739 8.68802 16.6649 8.60417 16.4156 8.60417C16.1662 8.60417 15.9589 8.68802 15.7936 8.85573C15.6283 9.02344 15.5457 9.23125 15.5457 9.47917V19.3667Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.61234 24.5C7.14567 24.5 6.73734 24.325 6.38734 23.975C6.03734 23.625 5.86234 23.2167 5.86234 22.75V6.125H5.5415C5.29359 6.125 5.08577 6.04066 4.91807 5.87198C4.75036 5.70328 4.6665 5.49425 4.6665 5.2449C4.6665 4.99552 4.75036 4.78819 4.91807 4.62292C5.08577 4.45764 5.29359 4.375 5.5415 4.375H10.1498C10.1498 4.12222 10.2337 3.91319 10.4014 3.74792C10.5691 3.58264 10.7769 3.5 11.0248 3.5H16.9748C17.2228 3.5 17.4306 3.58385 17.5983 3.75156C17.766 3.91927 17.8498 4.12708 17.8498 4.375H22.4582C22.7061 4.375 22.9139 4.45934 23.0816 4.62802C23.2493 4.79672 23.3332 5.00575 23.3332 5.2551C23.3332 5.50448 23.2493 5.71181 23.0816 5.87708C22.9139 6.04236 22.7061 6.125 22.4582 6.125H22.1373V22.75C22.1373 23.2167 21.9623 23.625 21.6123 23.975C21.2623 24.325 20.854 24.5 20.3873 24.5H7.61234ZM7.61234 6.125V22.75H20.3873V6.125H7.61234ZM10.704 19.3667C10.704 19.6146 10.7883 19.8224 10.957 19.9901C11.1257 20.1578 11.3348 20.2417 11.5841 20.2417C11.8335 20.2417 12.0408 20.1578 12.2061 19.9901C12.3714 19.8224 12.454 19.6146 12.454 19.3667V9.47917C12.454 9.23125 12.3697 9.02344 12.201 8.85573C12.0323 8.68802 11.8233 8.60417 11.5739 8.60417C11.3245 8.60417 11.1172 8.68802 10.9519 8.85573C10.7866 9.02344 10.704 9.23125 10.704 9.47917V19.3667ZM15.5457 19.3667C15.5457 19.6146 15.63 19.8224 15.7987 19.9901C15.9674 20.1578 16.1764 20.2417 16.4258 20.2417C16.6751 20.2417 16.8825 20.1578 17.0478 19.9901C17.213 19.8224 17.2957 19.6146 17.2957 19.3667V9.47917C17.2957 9.23125 17.2113 9.02344 17.0426 8.85573C16.8739 8.68802 16.6649 8.60417 16.4156 8.60417C16.1662 8.60417 15.9589 8.68802 15.7936 8.85573C15.6283 9.02344 15.5457 9.23125 15.5457 9.47917V19.3667Z' fill='%23405AE3'/%3E%3C/svg%3E%0A");
      }      
    }

    &:disabled {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.61234 24.5C7.14567 24.5 6.73734 24.325 6.38734 23.975C6.03734 23.625 5.86234 23.2167 5.86234 22.75V6.125H5.5415C5.29359 6.125 5.08577 6.04066 4.91807 5.87198C4.75036 5.70328 4.6665 5.49425 4.6665 5.2449C4.6665 4.99552 4.75036 4.78819 4.91807 4.62292C5.08577 4.45764 5.29359 4.375 5.5415 4.375H10.1498C10.1498 4.12222 10.2337 3.91319 10.4014 3.74792C10.5691 3.58264 10.7769 3.5 11.0248 3.5H16.9748C17.2228 3.5 17.4306 3.58385 17.5983 3.75156C17.766 3.91927 17.8498 4.12708 17.8498 4.375H22.4582C22.7061 4.375 22.9139 4.45934 23.0816 4.62802C23.2493 4.79672 23.3332 5.00575 23.3332 5.2551C23.3332 5.50448 23.2493 5.71181 23.0816 5.87708C22.9139 6.04236 22.7061 6.125 22.4582 6.125H22.1373V22.75C22.1373 23.2167 21.9623 23.625 21.6123 23.975C21.2623 24.325 20.854 24.5 20.3873 24.5H7.61234ZM7.61234 6.125V22.75H20.3873V6.125H7.61234ZM10.704 19.3667C10.704 19.6146 10.7883 19.8224 10.957 19.9901C11.1257 20.1578 11.3348 20.2417 11.5841 20.2417C11.8335 20.2417 12.0408 20.1578 12.2061 19.9901C12.3714 19.8224 12.454 19.6146 12.454 19.3667V9.47917C12.454 9.23125 12.3697 9.02344 12.201 8.85573C12.0323 8.68802 11.8233 8.60417 11.5739 8.60417C11.3245 8.60417 11.1172 8.68802 10.9519 8.85573C10.7866 9.02344 10.704 9.23125 10.704 9.47917V19.3667ZM15.5457 19.3667C15.5457 19.6146 15.63 19.8224 15.7987 19.9901C15.9674 20.1578 16.1764 20.2417 16.4258 20.2417C16.6751 20.2417 16.8825 20.1578 17.0478 19.9901C17.213 19.8224 17.2957 19.6146 17.2957 19.3667V9.47917C17.2957 9.23125 17.2113 9.02344 17.0426 8.85573C16.8739 8.68802 16.6649 8.60417 16.4156 8.60417C16.1662 8.60417 15.9589 8.68802 15.7936 8.85573C15.6283 9.02344 15.5457 9.23125 15.5457 9.47917V19.3667Z' fill='%23494949'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &.btn__mail {
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.0835 24.5002C3.61683 24.5002 3.2085 24.3252 2.8585 23.9752C2.5085 23.6252 2.3335 23.2168 2.3335 22.7502V9.246C2.3335 8.95433 2.39669 8.6578 2.52308 8.35641C2.64947 8.05502 2.86822 7.81683 3.17933 7.64183L13.096 1.69183C13.2321 1.59461 13.3779 1.53141 13.5335 1.50225C13.6891 1.47308 13.8446 1.4585 14.0002 1.4585C14.1557 1.4585 14.3113 1.47308 14.4668 1.50225C14.6224 1.53141 14.7682 1.59461 14.9043 1.69183L24.821 7.64183C25.1516 7.81683 25.3752 8.05502 25.4918 8.35641C25.6085 8.6578 25.6668 8.95433 25.6668 9.246V22.7502C25.6668 23.2168 25.4918 23.6252 25.1418 23.9752C24.7918 24.3252 24.3835 24.5002 23.9168 24.5002H4.0835ZM13.996 14.6127C14.0682 14.6127 14.1404 14.6029 14.2127 14.5835C14.2849 14.5641 14.3599 14.5349 14.4377 14.496L23.8002 9.01266L14.4377 3.3835C14.3654 3.34461 14.2932 3.31544 14.221 3.296C14.1488 3.27655 14.0766 3.26683 14.0043 3.26683C13.9321 3.26683 13.8599 3.27655 13.7877 3.296C13.7154 3.31544 13.6404 3.34461 13.5627 3.3835L4.20016 9.01266L13.5627 14.496C13.6349 14.5349 13.7071 14.5641 13.7793 14.5835C13.8516 14.6029 13.9238 14.6127 13.996 14.6127ZM4.0835 22.7502H23.9168V10.8793L14.8752 16.1877C14.7391 16.2849 14.5992 16.3481 14.4557 16.3772C14.3122 16.4064 14.1615 16.421 14.0036 16.421C13.8458 16.421 13.6955 16.4016 13.5529 16.3627C13.4103 16.3238 13.2677 16.2654 13.1252 16.1877L4.0835 10.8793V22.7502Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.0835 24.5002C3.61683 24.5002 3.2085 24.3252 2.8585 23.9752C2.5085 23.6252 2.3335 23.2168 2.3335 22.7502V9.246C2.3335 8.95433 2.39669 8.6578 2.52308 8.35641C2.64947 8.05502 2.86822 7.81683 3.17933 7.64183L13.096 1.69183C13.2321 1.59461 13.3779 1.53141 13.5335 1.50225C13.6891 1.47308 13.8446 1.4585 14.0002 1.4585C14.1557 1.4585 14.3113 1.47308 14.4668 1.50225C14.6224 1.53141 14.7682 1.59461 14.9043 1.69183L24.821 7.64183C25.1516 7.81683 25.3752 8.05502 25.4918 8.35641C25.6085 8.6578 25.6668 8.95433 25.6668 9.246V22.7502C25.6668 23.2168 25.4918 23.6252 25.1418 23.9752C24.7918 24.3252 24.3835 24.5002 23.9168 24.5002H4.0835ZM13.996 14.6127C14.0682 14.6127 14.1404 14.6029 14.2127 14.5835C14.2849 14.5641 14.3599 14.5349 14.4377 14.496L23.8002 9.01266L14.4377 3.3835C14.3654 3.34461 14.2932 3.31544 14.221 3.296C14.1488 3.27655 14.0766 3.26683 14.0043 3.26683C13.9321 3.26683 13.8599 3.27655 13.7877 3.296C13.7154 3.31544 13.6404 3.34461 13.5627 3.3835L4.20016 9.01266L13.5627 14.496C13.6349 14.5349 13.7071 14.5641 13.7793 14.5835C13.8516 14.6029 13.9238 14.6127 13.996 14.6127ZM4.0835 22.7502H23.9168V10.8793L14.8752 16.1877C14.7391 16.2849 14.5992 16.3481 14.4557 16.3772C14.3122 16.4064 14.1615 16.421 14.0036 16.421C13.8458 16.421 13.6955 16.4016 13.5529 16.3627C13.4103 16.3238 13.2677 16.2654 13.1252 16.1877L4.0835 10.8793V22.7502Z' fill='%23405AE3'/%3E%3C/svg%3E%0A");
      }      
    }

    &:disabled {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.0835 24.5002C3.61683 24.5002 3.2085 24.3252 2.8585 23.9752C2.5085 23.6252 2.3335 23.2168 2.3335 22.7502V9.246C2.3335 8.95433 2.39669 8.6578 2.52308 8.35641C2.64947 8.05502 2.86822 7.81683 3.17933 7.64183L13.096 1.69183C13.2321 1.59461 13.3779 1.53141 13.5335 1.50225C13.6891 1.47308 13.8446 1.4585 14.0002 1.4585C14.1557 1.4585 14.3113 1.47308 14.4668 1.50225C14.6224 1.53141 14.7682 1.59461 14.9043 1.69183L24.821 7.64183C25.1516 7.81683 25.3752 8.05502 25.4918 8.35641C25.6085 8.6578 25.6668 8.95433 25.6668 9.246V22.7502C25.6668 23.2168 25.4918 23.6252 25.1418 23.9752C24.7918 24.3252 24.3835 24.5002 23.9168 24.5002H4.0835ZM13.996 14.6127C14.0682 14.6127 14.1404 14.6029 14.2127 14.5835C14.2849 14.5641 14.3599 14.5349 14.4377 14.496L23.8002 9.01266L14.4377 3.3835C14.3654 3.34461 14.2932 3.31544 14.221 3.296C14.1488 3.27655 14.0766 3.26683 14.0043 3.26683C13.9321 3.26683 13.8599 3.27655 13.7877 3.296C13.7154 3.31544 13.6404 3.34461 13.5627 3.3835L4.20016 9.01266L13.5627 14.496C13.6349 14.5349 13.7071 14.5641 13.7793 14.5835C13.8516 14.6029 13.9238 14.6127 13.996 14.6127ZM4.0835 22.7502H23.9168V10.8793L14.8752 16.1877C14.7391 16.2849 14.5992 16.3481 14.4557 16.3772C14.3122 16.4064 14.1615 16.421 14.0036 16.421C13.8458 16.421 13.6955 16.4016 13.5529 16.3627C13.4103 16.3238 13.2677 16.2654 13.1252 16.1877L4.0835 10.8793V22.7502Z' fill='%23494949'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &.btn__mailNew {
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.0835 22.3333C3.61683 22.3333 3.2085 22.1583 2.8585 21.8083C2.5085 21.4583 2.3335 21.05 2.3335 20.5833V5.41667C2.3335 4.95 2.5085 4.54167 2.8585 4.19167C3.2085 3.84167 3.61683 3.66667 4.0835 3.66667H16.7418C16.6835 3.95833 16.6446 4.25 16.6252 4.54167C16.6057 4.83333 16.6154 5.125 16.6543 5.41667H4.0835V20.5833H23.9168V10.0833C24.2434 9.99033 24.5486 9.86014 24.8326 9.69276C25.1165 9.52537 25.3946 9.33472 25.6668 9.12083V20.5833C25.6668 21.05 25.4918 21.4583 25.1418 21.8083C24.7918 22.1583 24.3835 22.3333 23.9168 22.3333H4.0835ZM22.1634 8.04167C21.2712 8.04167 20.5141 7.72941 19.8918 7.10489C19.2696 6.48039 18.9585 5.72206 18.9585 4.82989C18.9585 3.93774 19.2708 3.18056 19.8953 2.55833C20.5198 1.93611 21.2781 1.625 22.1703 1.625C23.0624 1.625 23.8196 1.93726 24.4418 2.56177C25.0641 3.18627 25.3752 3.94461 25.3752 4.83678C25.3752 5.72893 25.0629 6.48611 24.4384 7.10833C23.8139 7.73056 23.0556 8.04167 22.1634 8.04167ZM14.0002 11.775L18.4043 8.91667C18.5988 9.09167 18.8029 9.25377 19.0168 9.40296C19.2307 9.55216 19.4543 9.68173 19.6877 9.79167L14.4668 13.2042C14.321 13.3014 14.1679 13.35 14.0075 13.35C13.847 13.35 13.6891 13.3014 13.5335 13.2042L4.0835 7.1375V5.41667L14.0002 11.775Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.0835 22.3333C3.61683 22.3333 3.2085 22.1583 2.8585 21.8083C2.5085 21.4583 2.3335 21.05 2.3335 20.5833V5.41667C2.3335 4.95 2.5085 4.54167 2.8585 4.19167C3.2085 3.84167 3.61683 3.66667 4.0835 3.66667H16.7418C16.6835 3.95833 16.6446 4.25 16.6252 4.54167C16.6057 4.83333 16.6154 5.125 16.6543 5.41667H4.0835V20.5833H23.9168V10.0833C24.2434 9.99033 24.5486 9.86014 24.8326 9.69276C25.1165 9.52537 25.3946 9.33472 25.6668 9.12083V20.5833C25.6668 21.05 25.4918 21.4583 25.1418 21.8083C24.7918 22.1583 24.3835 22.3333 23.9168 22.3333H4.0835ZM22.1634 8.04167C21.2712 8.04167 20.5141 7.72941 19.8918 7.10489C19.2696 6.48039 18.9585 5.72206 18.9585 4.82989C18.9585 3.93774 19.2708 3.18056 19.8953 2.55833C20.5198 1.93611 21.2781 1.625 22.1703 1.625C23.0624 1.625 23.8196 1.93726 24.4418 2.56177C25.0641 3.18627 25.3752 3.94461 25.3752 4.83678C25.3752 5.72893 25.0629 6.48611 24.4384 7.10833C23.8139 7.73056 23.0556 8.04167 22.1634 8.04167ZM14.0002 11.775L18.4043 8.91667C18.5988 9.09167 18.8029 9.25377 19.0168 9.40296C19.2307 9.55216 19.4543 9.68173 19.6877 9.79167L14.4668 13.2042C14.321 13.3014 14.1679 13.35 14.0075 13.35C13.847 13.35 13.6891 13.3014 13.5335 13.2042L4.0835 7.1375V5.41667L14.0002 11.775Z' fill='%23405AE3'/%3E%3C/svg%3E%0A");
      }      
    }

    &:disabled {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.0835 22.3333C3.61683 22.3333 3.2085 22.1583 2.8585 21.8083C2.5085 21.4583 2.3335 21.05 2.3335 20.5833V5.41667C2.3335 4.95 2.5085 4.54167 2.8585 4.19167C3.2085 3.84167 3.61683 3.66667 4.0835 3.66667H16.7418C16.6835 3.95833 16.6446 4.25 16.6252 4.54167C16.6057 4.83333 16.6154 5.125 16.6543 5.41667H4.0835V20.5833H23.9168V10.0833C24.2434 9.99033 24.5486 9.86014 24.8326 9.69276C25.1165 9.52537 25.3946 9.33472 25.6668 9.12083V20.5833C25.6668 21.05 25.4918 21.4583 25.1418 21.8083C24.7918 22.1583 24.3835 22.3333 23.9168 22.3333H4.0835ZM22.1634 8.04167C21.2712 8.04167 20.5141 7.72941 19.8918 7.10489C19.2696 6.48039 18.9585 5.72206 18.9585 4.82989C18.9585 3.93774 19.2708 3.18056 19.8953 2.55833C20.5198 1.93611 21.2781 1.625 22.1703 1.625C23.0624 1.625 23.8196 1.93726 24.4418 2.56177C25.0641 3.18627 25.3752 3.94461 25.3752 4.83678C25.3752 5.72893 25.0629 6.48611 24.4384 7.10833C23.8139 7.73056 23.0556 8.04167 22.1634 8.04167ZM14.0002 11.775L18.4043 8.91667C18.5988 9.09167 18.8029 9.25377 19.0168 9.40296C19.2307 9.55216 19.4543 9.68173 19.6877 9.79167L14.4668 13.2042C14.321 13.3014 14.1679 13.35 14.0075 13.35C13.847 13.35 13.6891 13.3014 13.5335 13.2042L4.0835 7.1375V5.41667L14.0002 11.775Z' fill='%23494949'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &.btn__spam {
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1114_19228)'%3E%3Cpath d='M4.0835 23.3332C3.61683 23.3332 3.2085 23.1533 2.8585 22.7936C2.5085 22.4339 2.3335 22.0304 2.3335 21.5832V6.4165C2.3335 5.96928 2.5085 5.56581 2.8585 5.20609C3.2085 4.84637 3.61683 4.6665 4.0835 4.6665H23.9168C24.3641 4.6665 24.7675 4.84637 25.1272 5.20609C25.487 5.56581 25.6668 5.96928 25.6668 6.4165V14.904C25.4529 14.7873 25.1759 14.6755 24.8356 14.5686C24.4953 14.4616 24.1891 14.379 23.9168 14.3207V8.1665L14.4668 14.204C14.3891 14.2429 14.3161 14.2721 14.2481 14.2915C14.18 14.3109 14.0974 14.3207 14.0002 14.3207C13.9029 14.3207 13.8203 14.3109 13.7522 14.2915C13.6842 14.2721 13.6113 14.2429 13.5335 14.204L4.0835 8.1665V21.5832H15.3418C15.3418 21.8554 15.3661 22.1519 15.4147 22.4728C15.4634 22.7936 15.5266 23.0804 15.6043 23.3332H4.0835ZM14.0002 12.629L23.9168 6.4165H4.0835L14.0002 12.629ZM22.546 26.8332C21.037 26.8332 19.7507 26.3082 18.6872 25.2582C17.6236 24.2082 17.0918 22.9247 17.0918 21.4078C17.0918 19.8908 17.6236 18.5978 18.6872 17.5286C19.7507 16.4594 21.037 15.9248 22.546 15.9248C24.055 15.9248 25.3413 16.4594 26.4048 17.5286C27.4684 18.5978 28.0002 19.8908 28.0002 21.4078C28.0002 22.9247 27.4684 24.2082 26.4048 25.2582C25.3413 26.3082 24.055 26.8332 22.546 26.8332ZM19.8335 21.8748H25.2585C25.4141 21.8748 25.5502 21.8165 25.6668 21.6998C25.7835 21.5832 25.8418 21.4471 25.8418 21.2915C25.8418 21.1359 25.7835 20.9998 25.6668 20.8832C25.5502 20.7665 25.4141 20.7082 25.2585 20.7082H19.8335C19.6779 20.7082 19.5418 20.7665 19.4252 20.8832C19.3085 20.9998 19.2502 21.1359 19.2502 21.2915C19.2502 21.4471 19.3085 21.5832 19.4252 21.6998C19.5418 21.8165 19.6779 21.8748 19.8335 21.8748ZM4.0835 21.5832V14.1748V14.3207V8.1665V8.37067V7.10192V7.1165V6.4165V7.11925V7.10828V8.37067V8.1665V21.5832Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1114_19228'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.0835 23.3332C3.61683 23.3332 3.2085 23.1533 2.8585 22.7936C2.5085 22.4339 2.3335 22.0304 2.3335 21.5832V6.4165C2.3335 5.96928 2.5085 5.56581 2.8585 5.20609C3.2085 4.84637 3.61683 4.6665 4.0835 4.6665H23.9168C24.3641 4.6665 24.7675 4.84637 25.1272 5.20609C25.487 5.56581 25.6668 5.96928 25.6668 6.4165V14.904C25.4529 14.7873 25.1759 14.6755 24.8356 14.5686C24.4953 14.4616 24.1891 14.379 23.9168 14.3207V8.1665L14.4668 14.204C14.3891 14.2429 14.3161 14.2721 14.2481 14.2915C14.18 14.3109 14.0974 14.3207 14.0002 14.3207C13.9029 14.3207 13.8203 14.3109 13.7522 14.2915C13.6842 14.2721 13.6113 14.2429 13.5335 14.204L4.0835 8.1665V21.5832H15.3418C15.3418 21.8554 15.3661 22.1519 15.4147 22.4728C15.4634 22.7936 15.5266 23.0804 15.6043 23.3332H4.0835ZM14.0002 12.629L23.9168 6.4165H4.0835L14.0002 12.629ZM22.546 26.8332C21.037 26.8332 19.7507 26.3082 18.6872 25.2582C17.6236 24.2082 17.0918 22.9247 17.0918 21.4078C17.0918 19.8908 17.6236 18.5978 18.6872 17.5286C19.7507 16.4594 21.037 15.9248 22.546 15.9248C24.055 15.9248 25.3413 16.4594 26.4048 17.5286C27.4684 18.5978 28.0002 19.8908 28.0002 21.4078C28.0002 22.9247 27.4684 24.2082 26.4048 25.2582C25.3413 26.3082 24.055 26.8332 22.546 26.8332ZM19.8335 21.8748H25.2585C25.4141 21.8748 25.5502 21.8165 25.6668 21.6998C25.7835 21.5832 25.8418 21.4471 25.8418 21.2915C25.8418 21.1359 25.7835 20.9998 25.6668 20.8832C25.5502 20.7665 25.4141 20.7082 25.2585 20.7082H19.8335C19.6779 20.7082 19.5418 20.7665 19.4252 20.8832C19.3085 20.9998 19.2502 21.1359 19.2502 21.2915C19.2502 21.4471 19.3085 21.5832 19.4252 21.6998C19.5418 21.8165 19.6779 21.8748 19.8335 21.8748ZM4.0835 21.5832V14.1748V14.3207V8.1665V8.37067V7.10192V7.1165V6.4165V7.11925V7.10828V8.37067V8.1665V21.5832Z' fill='%23405AE3'/%3E%3C/svg%3E%0A");
      }      
    }

    &:disabled {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.0835 23.3332C3.61683 23.3332 3.2085 23.1533 2.8585 22.7936C2.5085 22.4339 2.3335 22.0304 2.3335 21.5832V6.4165C2.3335 5.96928 2.5085 5.56581 2.8585 5.20609C3.2085 4.84637 3.61683 4.6665 4.0835 4.6665H23.9168C24.3641 4.6665 24.7675 4.84637 25.1272 5.20609C25.487 5.56581 25.6668 5.96928 25.6668 6.4165V14.904C25.4529 14.7873 25.1759 14.6755 24.8356 14.5686C24.4953 14.4616 24.1891 14.379 23.9168 14.3207V8.1665L14.4668 14.204C14.3891 14.2429 14.3161 14.2721 14.2481 14.2915C14.18 14.3109 14.0974 14.3207 14.0002 14.3207C13.9029 14.3207 13.8203 14.3109 13.7522 14.2915C13.6842 14.2721 13.6113 14.2429 13.5335 14.204L4.0835 8.1665V21.5832H15.3418C15.3418 21.8554 15.3661 22.1519 15.4147 22.4728C15.4634 22.7936 15.5266 23.0804 15.6043 23.3332H4.0835ZM14.0002 12.629L23.9168 6.4165H4.0835L14.0002 12.629ZM22.546 26.8332C21.037 26.8332 19.7507 26.3082 18.6872 25.2582C17.6236 24.2082 17.0918 22.9247 17.0918 21.4078C17.0918 19.8908 17.6236 18.5978 18.6872 17.5286C19.7507 16.4594 21.037 15.9248 22.546 15.9248C24.055 15.9248 25.3413 16.4594 26.4048 17.5286C27.4684 18.5978 28.0002 19.8908 28.0002 21.4078C28.0002 22.9247 27.4684 24.2082 26.4048 25.2582C25.3413 26.3082 24.055 26.8332 22.546 26.8332ZM19.8335 21.8748H25.2585C25.4141 21.8748 25.5502 21.8165 25.6668 21.6998C25.7835 21.5832 25.8418 21.4471 25.8418 21.2915C25.8418 21.1359 25.7835 20.9998 25.6668 20.8832C25.5502 20.7665 25.4141 20.7082 25.2585 20.7082H19.8335C19.6779 20.7082 19.5418 20.7665 19.4252 20.8832C19.3085 20.9998 19.2502 21.1359 19.2502 21.2915C19.2502 21.4471 19.3085 21.5832 19.4252 21.6998C19.5418 21.8165 19.6779 21.8748 19.8335 21.8748ZM4.0835 21.5832V14.1748V14.3207V8.1665V8.37067V7.10192V7.1165V6.4165V7.11925V7.10828V8.37067V8.1665V21.5832Z' fill='%23494949'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &.btn__movement {
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.25 13.9707C5.25 16.2192 6.00347 18.1813 7.51042 19.8571C9.01736 21.5328 10.8986 22.4777 13.1542 22.6916C13.3875 22.7304 13.5868 22.8345 13.7521 23.0036C13.9174 23.1728 14 23.3702 14 23.5957C14 23.8679 13.883 24.0818 13.6491 24.2374C13.4151 24.3929 13.1529 24.4513 12.8625 24.4124C10.1792 24.1207 7.94792 22.9832 6.16875 20.9999C4.38958 19.0166 3.5 16.6735 3.5 13.9707C3.5 11.2679 4.38958 8.92488 6.16875 6.94155C7.94792 4.95822 10.1792 3.82072 12.8625 3.52905C13.1627 3.49016 13.4273 3.55015 13.6564 3.70901C13.8855 3.86787 14 4.07937 14 4.3435C14 4.57831 13.9174 4.77836 13.7521 4.94363C13.5868 5.10891 13.3875 5.21099 13.1542 5.24988C10.8986 5.46377 9.01736 6.4086 7.51042 8.08436C6.00347 9.76012 5.25 11.7222 5.25 13.9707ZM21.1167 14.8749H11.375C11.1271 14.8749 10.9193 14.7905 10.7516 14.6219C10.5839 14.4532 10.5 14.2441 10.5 13.9948C10.5 13.7454 10.5839 13.5381 10.7516 13.3728C10.9193 13.2075 11.1271 13.1249 11.375 13.1249H21.1167L18.4333 10.4124C18.2583 10.2413 18.1708 10.0381 18.1708 9.8028C18.1708 9.56752 18.2583 9.36238 18.4333 9.18738C18.6083 9.01238 18.8125 8.92488 19.0458 8.92488C19.2792 8.92488 19.4833 9.01238 19.6583 9.18738L23.8583 13.3874C24.0333 13.5624 24.1208 13.7666 24.1208 13.9999C24.1208 14.2332 24.0333 14.4374 23.8583 14.6124L19.6583 18.8124C19.4833 18.9874 19.2792 19.07 19.0458 19.0603C18.8125 19.0506 18.6083 18.9582 18.4333 18.7832C18.2583 18.6082 18.1708 18.4041 18.1708 18.1707C18.1708 17.9374 18.2583 17.7332 18.4333 17.5582L21.1167 14.8749Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.25 13.9707C5.25 16.2192 6.00347 18.1813 7.51042 19.8571C9.01736 21.5328 10.8986 22.4777 13.1542 22.6916C13.3875 22.7304 13.5868 22.8345 13.7521 23.0036C13.9174 23.1728 14 23.3702 14 23.5957C14 23.8679 13.883 24.0818 13.6491 24.2374C13.4151 24.3929 13.1529 24.4513 12.8625 24.4124C10.1792 24.1207 7.94792 22.9832 6.16875 20.9999C4.38958 19.0166 3.5 16.6735 3.5 13.9707C3.5 11.2679 4.38958 8.92488 6.16875 6.94155C7.94792 4.95822 10.1792 3.82072 12.8625 3.52905C13.1627 3.49016 13.4273 3.55015 13.6564 3.70901C13.8855 3.86787 14 4.07937 14 4.3435C14 4.57831 13.9174 4.77836 13.7521 4.94363C13.5868 5.10891 13.3875 5.21099 13.1542 5.24988C10.8986 5.46377 9.01736 6.4086 7.51042 8.08436C6.00347 9.76012 5.25 11.7222 5.25 13.9707ZM21.1167 14.8749H11.375C11.1271 14.8749 10.9193 14.7905 10.7516 14.6219C10.5839 14.4532 10.5 14.2441 10.5 13.9948C10.5 13.7454 10.5839 13.5381 10.7516 13.3728C10.9193 13.2075 11.1271 13.1249 11.375 13.1249H21.1167L18.4333 10.4124C18.2583 10.2413 18.1708 10.0381 18.1708 9.8028C18.1708 9.56752 18.2583 9.36238 18.4333 9.18738C18.6083 9.01238 18.8125 8.92488 19.0458 8.92488C19.2792 8.92488 19.4833 9.01238 19.6583 9.18738L23.8583 13.3874C24.0333 13.5624 24.1208 13.7666 24.1208 13.9999C24.1208 14.2332 24.0333 14.4374 23.8583 14.6124L19.6583 18.8124C19.4833 18.9874 19.2792 19.07 19.0458 19.0603C18.8125 19.0506 18.6083 18.9582 18.4333 18.7832C18.2583 18.6082 18.1708 18.4041 18.1708 18.1707C18.1708 17.9374 18.2583 17.7332 18.4333 17.5582L21.1167 14.8749Z' fill='%23405AE3'/%3E%3C/svg%3E%0A");
      }      
    }

    &:disabled {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.25 13.9707C5.25 16.2192 6.00347 18.1813 7.51042 19.8571C9.01736 21.5328 10.8986 22.4777 13.1542 22.6916C13.3875 22.7304 13.5868 22.8345 13.7521 23.0036C13.9174 23.1728 14 23.3702 14 23.5957C14 23.8679 13.883 24.0818 13.6491 24.2374C13.4151 24.3929 13.1529 24.4513 12.8625 24.4124C10.1792 24.1207 7.94792 22.9832 6.16875 20.9999C4.38958 19.0166 3.5 16.6735 3.5 13.9707C3.5 11.2679 4.38958 8.92488 6.16875 6.94155C7.94792 4.95822 10.1792 3.82072 12.8625 3.52905C13.1627 3.49016 13.4273 3.55015 13.6564 3.70901C13.8855 3.86787 14 4.07937 14 4.3435C14 4.57831 13.9174 4.77836 13.7521 4.94363C13.5868 5.10891 13.3875 5.21099 13.1542 5.24988C10.8986 5.46377 9.01736 6.4086 7.51042 8.08436C6.00347 9.76012 5.25 11.7222 5.25 13.9707ZM21.1167 14.8749H11.375C11.1271 14.8749 10.9193 14.7905 10.7516 14.6219C10.5839 14.4532 10.5 14.2441 10.5 13.9948C10.5 13.7454 10.5839 13.5381 10.7516 13.3728C10.9193 13.2075 11.1271 13.1249 11.375 13.1249H21.1167L18.4333 10.4124C18.2583 10.2413 18.1708 10.0381 18.1708 9.8028C18.1708 9.56752 18.2583 9.36238 18.4333 9.18738C18.6083 9.01238 18.8125 8.92488 19.0458 8.92488C19.2792 8.92488 19.4833 9.01238 19.6583 9.18738L23.8583 13.3874C24.0333 13.5624 24.1208 13.7666 24.1208 13.9999C24.1208 14.2332 24.0333 14.4374 23.8583 14.6124L19.6583 18.8124C19.4833 18.9874 19.2792 19.07 19.0458 19.0603C18.8125 19.0506 18.6083 18.9582 18.4333 18.7832C18.2583 18.6082 18.1708 18.4041 18.1708 18.1707C18.1708 17.9374 18.2583 17.7332 18.4333 17.5582L21.1167 14.8749Z' fill='%23494949'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &.btn__enter {
    width: 4.4rem;
    height: 4.4rem;
    padding: 1.6rem 1.4rem;
    background-color: $blue-100;
    box-sizing: border-box;
    .icon {
      width: 1.6rem;
      height: 1.14rem;
    }
  }

  &.btn__reference {
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    border: 0.1rem solid $gray-200;
    border-radius: 50%;
    transition: 0.15s linear;

    &.on {
      transform: rotate(180deg);
    }
    
    &:before {
      content: "";
      display: block;
      width: 0.9rem;
      height: 0.9rem;
      background: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.48802 5.19377C4.4012 5.19377 4.31999 5.17839 4.2444 5.14765C4.16881 5.11689 4.0953 5.06611 4.02388 4.99529L0.169519 1.14092C0.0501895 1.02081 -0.006231 0.863272 0.000257831 0.668296C0.00674666 0.473306 0.069656 0.315368 0.188986 0.194481C0.334283 0.0476387 0.492416 -0.0160486 0.663384 0.00341786C0.834351 0.0228843 0.985995 0.0922819 1.11832 0.211611L4.48855 3.58186L7.85878 0.211611C7.97968 0.0922819 8.1382 0.0261288 8.33435 0.0131511C8.53049 0.000173444 8.68824 0.0669949 8.80758 0.213616C8.95286 0.334283 9.01577 0.489165 8.99631 0.678262C8.97684 0.867373 8.90744 1.02808 8.78811 1.16039L4.95321 4.99529C4.8816 5.06611 4.80788 5.11689 4.73204 5.14765C4.65619 5.17839 4.57486 5.19377 4.48802 5.19377Z' fill='%238D9FB5'/%3E%3C/svg%3E%0A") no-repeat center;
    }
  }

  .btn__name {
    display: block;
  }

  &.btn__floating {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: $primary-1;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.15);

    &:hover,
    &:active,
    &:focus {
      background-color: $black;
    }
    &:disabled {
      background-color: $blue-300;
      box-shadow: none;
    }

    &.is-write {
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='23' viewBox='0 0 26 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1055_16894)'%3E%3Cpath d='M18.8723 0.993704L19.0585 0.807454C19.1987 0.66735 19.3651 0.556229 19.5482 0.480437C19.7314 0.404645 19.9276 0.365665 20.1258 0.365723C20.324 0.365781 20.5203 0.404876 20.7034 0.480775C20.8864 0.556675 21.0528 0.667893 21.1929 0.808079C21.333 0.948265 21.4441 1.11467 21.5199 1.2978C21.5957 1.48093 21.6347 1.6772 21.6346 1.8754C21.6346 2.07359 21.5955 2.26983 21.5196 2.45292C21.4437 2.63601 21.3325 2.80235 21.1923 2.94245L21.006 3.12745C21.3246 3.48478 21.4945 3.95044 21.4808 4.42899C21.4671 4.90753 21.2708 5.36271 20.9323 5.7012L8.06727 18.5675C7.98685 18.6475 7.88616 18.7041 7.77602 18.7312L2.77602 19.9812C2.67139 20.0073 2.56179 20.0058 2.45789 19.977C2.35398 19.9481 2.25931 19.8929 2.18306 19.8167C2.10681 19.7404 2.05159 19.6457 2.02276 19.5418C1.99392 19.4379 1.99246 19.3283 2.01852 19.2237L3.26852 14.2237C3.29587 14.114 3.35246 14.0138 3.43227 13.9337L15.4848 1.8812C15.3642 1.79637 15.2176 1.75686 15.0707 1.76967C14.9239 1.78248 14.7863 1.84678 14.6823 1.9512L10.5673 6.06745C10.5092 6.12556 10.4402 6.17166 10.3642 6.20311C10.2883 6.23456 10.2069 6.25074 10.1248 6.25074C10.0426 6.25074 9.96121 6.23456 9.88529 6.20311C9.80937 6.17166 9.74038 6.12556 9.68227 6.06745C9.62416 6.00934 9.57806 5.94036 9.54661 5.86443C9.51517 5.78851 9.49898 5.70713 9.49898 5.62495C9.49898 5.54277 9.51517 5.4614 9.54661 5.38547C9.57806 5.30955 9.62416 5.24056 9.68227 5.18245L13.7998 1.06745C14.1385 0.728723 14.594 0.53248 15.0728 0.518998C15.5517 0.505516 16.0175 0.675818 16.3748 0.994954C16.7182 0.688002 17.1626 0.518219 17.6233 0.517988C18.0839 0.517758 18.5285 0.687096 18.8723 0.993704ZM18.0673 1.9512C17.9501 1.83403 17.7911 1.76821 17.6254 1.76821C17.4597 1.76821 17.3007 1.83403 17.1835 1.9512L4.43727 14.695L3.48227 18.5162L7.30352 17.5612L20.0498 4.81745C20.108 4.7594 20.1542 4.69043 20.1857 4.6145C20.2172 4.53856 20.2334 4.45716 20.2334 4.37495C20.2334 4.29274 20.2172 4.21134 20.1857 4.13541C20.1542 4.05948 20.108 3.99051 20.0498 3.93245L18.0673 1.9512Z' fill='white'/%3E%3Ccircle cx='18' cy='6' r='2' fill='white'/%3E%3C/g%3E%3Cpath d='M1 22H25' stroke='white' stroke-width='1.65' stroke-linecap='round'/%3E%3Cdefs%3E%3CclipPath id='clip0_1055_16894'%3E%3Crect width='20' height='20' fill='white' transform='translate(2)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    &.is-contact {
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.7445 17.5C23.4773 17.5 23.2552 17.4102 23.0781 17.2305C22.901 17.0508 22.8125 16.8281 22.8125 16.5625V13.4375H19.6875C19.4219 13.4375 19.1992 13.3471 19.0195 13.1664C18.8398 12.9857 18.75 12.7617 18.75 12.4945C18.75 12.2273 18.8398 12.0052 19.0195 11.8281C19.1992 11.651 19.4219 11.5625 19.6875 11.5625H22.8125V8.4375C22.8125 8.17188 22.9029 7.94922 23.0836 7.76953C23.2643 7.58984 23.4883 7.5 23.7555 7.5C24.0227 7.5 24.2448 7.58984 24.4219 7.76953C24.599 7.94922 24.6875 8.17188 24.6875 8.4375V11.5625H27.8125C28.0781 11.5625 28.3008 11.6529 28.4805 11.8336C28.6602 12.0143 28.75 12.2383 28.75 12.5055C28.75 12.7727 28.6602 12.9948 28.4805 13.1719C28.3008 13.349 28.0781 13.4375 27.8125 13.4375H24.6875V16.5625C24.6875 16.8281 24.5971 17.0508 24.4164 17.2305C24.2357 17.4102 24.0117 17.5 23.7445 17.5ZM11.25 14.9688C9.875 14.9688 8.75 14.5313 7.875 13.6563C7 12.7813 6.5625 11.6563 6.5625 10.2813C6.5625 8.90625 7 7.78125 7.875 6.90625C8.75 6.03125 9.875 5.59375 11.25 5.59375C12.625 5.59375 13.75 6.03125 14.625 6.90625C15.5 7.78125 15.9375 8.90625 15.9375 10.2813C15.9375 11.6563 15.5 12.7813 14.625 13.6563C13.75 14.5313 12.625 14.9688 11.25 14.9688ZM2.1875 25C1.92188 25 1.69922 24.9102 1.51953 24.7305C1.33984 24.5508 1.25 24.3281 1.25 24.0625V22.0625C1.25 21.3333 1.4375 20.6719 1.8125 20.0781C2.1875 19.4844 2.70833 19.0417 3.375 18.75C4.9375 18.0625 6.32644 17.5781 7.54181 17.2969C8.75721 17.0156 9.99158 16.875 11.2449 16.875C12.4983 16.875 13.7344 17.0156 14.9531 17.2969C16.1719 17.5781 17.5521 18.0625 19.0938 18.75C19.7604 19.0625 20.2865 19.5104 20.6719 20.0938C21.0573 20.6771 21.25 21.3333 21.25 22.0625V24.0625C21.25 24.3281 21.1602 24.5508 20.9805 24.7305C20.8008 24.9102 20.5781 25 20.3125 25H2.1875ZM3.125 23.125H19.375V22.0625C19.375 21.7292 19.2917 21.4115 19.125 21.1094C18.9583 20.8073 18.6979 20.5833 18.3438 20.4375C16.8854 19.7292 15.6406 19.2708 14.6094 19.0625C13.5781 18.8542 12.4583 18.75 11.25 18.75C10.0417 18.75 8.92188 18.8594 7.89062 19.0781C6.85938 19.2969 5.60417 19.75 4.125 20.4375C3.8125 20.5833 3.56771 20.8073 3.39062 21.1094C3.21354 21.4115 3.125 21.7292 3.125 22.0625V23.125ZM11.25 13.0938C12.0625 13.0938 12.7344 12.8281 13.2656 12.2969C13.7969 11.7656 14.0625 11.0938 14.0625 10.2813C14.0625 9.46875 13.7969 8.79688 13.2656 8.26563C12.7344 7.73438 12.0625 7.46875 11.25 7.46875C10.4375 7.46875 9.76562 7.73438 9.23438 8.26563C8.70312 8.79688 8.4375 9.46875 8.4375 10.2813C8.4375 11.0938 8.70312 11.7656 9.23438 12.2969C9.76562 12.8281 10.4375 13.0938 11.25 13.0938Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    &.is-location {
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.125 27.5H6.875C6.35938 27.5 5.91797 27.3164 5.55078 26.9492C5.18359 26.582 5 26.1406 5 25.625V19.375C5 18.8594 5.18359 18.418 5.55078 18.0508C5.91797 17.6836 6.35938 17.5 6.875 17.5H23.125C23.6406 17.5 24.082 17.6836 24.4492 18.0508C24.8164 18.418 25 18.8594 25 19.375V25.625C25 26.1406 24.8164 26.582 24.4492 26.9492C24.082 27.3164 23.6406 27.5 23.125 27.5ZM21.5625 22.5C22.0052 22.5 22.3763 22.3508 22.6758 22.0523C22.9753 21.7539 23.125 21.3841 23.125 20.943C23.125 20.5018 22.9753 20.1302 22.6758 19.8281C22.3763 19.526 22.0052 19.375 21.5625 19.375H8.4375C7.99479 19.375 7.6237 19.5242 7.32422 19.8227C7.02474 20.1211 6.875 20.4909 6.875 20.932C6.875 21.3732 7.02474 21.7448 7.32422 22.0469C7.6237 22.349 7.99479 22.5 8.4375 22.5H21.5625ZM20.8438 9.3125L15.75 16.4375C15.6458 16.5625 15.5312 16.6562 15.4062 16.7188C15.2812 16.7812 15.1458 16.8125 15 16.8125C14.8542 16.8125 14.7188 16.7812 14.5938 16.7188C14.4688 16.6562 14.3542 16.5625 14.25 16.4375L9.15625 9.3125C9.02292 9.14527 8.92708 8.96283 8.86875 8.76519C8.81042 8.56756 8.78125 8.36458 8.78125 8.15625C8.78125 6.53125 9.39583 5.18229 10.625 4.10938C11.8542 3.03646 13.3125 2.5 15 2.5C16.6875 2.5 18.1458 3.03646 19.375 4.10938C20.6042 5.18229 21.2188 6.53125 21.2188 8.15625C21.2188 8.36458 21.1896 8.56756 21.1313 8.76519C21.0729 8.96283 20.9771 9.14527 20.8438 9.3125ZM15 14.75L19.3438 8.65625C19.3438 7.46875 18.9149 6.45833 18.0571 5.625C17.1994 4.79167 16.1786 4.375 14.9946 4.375C13.8107 4.375 12.7917 4.79167 11.9375 5.625C11.0833 6.45833 10.6562 7.46875 10.6562 8.65625L15 14.75Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }

  &.btn__file,
  &.btn__lock,
  &.btn__key {
    display: inline-block;
    vertical-align: middle;
    height: 1.95rem;
  }
  &.form-add,
  &.form-delete {
    width: 3.5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-position: center;
  }
  &.form-add {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.69556 6H11.2608' stroke='%23979797' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M6.47827 1L6.47827 11' stroke='%23979797' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }
  &.form-delete {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='2' viewBox='0 0 13 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.56519 1H11.5652' stroke='%23979797' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }
  &.btn__inputDel {
    width: 1.8rem;
    height: 1.8rem;
    background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='18' height='18' rx='9' fill='%23222222'/%3E%3Cpath d='M5.09 12.9L7.79 8.79L5.18 4.75H7.34L8.98 7.41L10.67 4.75H12.74L10.12 8.73L12.83 12.9H10.7L8.95 10.09L7.16 12.9H5.09Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center;
  }
  &.btn__valueShow {
    width: 1.8rem;
    height: 1.8rem;
    background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.029 12.6427C16.9426 10.935 18.0001 9 18.0001 9C18.0001 9 14.6251 2.8125 9.00008 2.8125C7.91962 2.81622 6.85139 3.04135 5.86133 3.474L6.72758 4.34137C7.45594 4.07605 8.22489 3.93939 9.00008 3.9375C11.3851 3.9375 13.364 5.2515 14.8141 6.70162C15.512 7.40328 16.1376 8.17327 16.6816 9C16.6163 9.09788 16.5443 9.20587 16.4622 9.324C16.0853 9.864 15.5285 10.584 14.8141 11.2984C14.6285 11.484 14.435 11.6674 14.2325 11.8451L15.029 12.6427Z' fill='%23222222'/%3E%3Cpath d='M12.7088 10.3232C12.9598 9.62098 13.0063 8.86194 12.8429 8.13438C12.6794 7.40681 12.3127 6.74062 11.7854 6.21333C11.2581 5.68603 10.5919 5.31931 9.86432 5.15584C9.13675 4.99236 8.37772 5.03886 7.67554 5.2899L8.60142 6.21578C9.03377 6.1539 9.47459 6.19355 9.88895 6.33161C10.3033 6.46967 10.6798 6.70233 10.9887 7.01117C11.2975 7.32 11.5301 7.69651 11.6682 8.11087C11.8063 8.52524 11.8459 8.96606 11.784 9.3984L12.7088 10.3232ZM9.39792 11.7845L10.3227 12.7093C9.62049 12.9603 8.86146 13.0068 8.13389 12.8433C7.40632 12.6799 6.74013 12.3132 6.21284 11.7859C5.68554 11.2586 5.31882 10.5924 5.15535 9.86481C4.99188 9.13724 5.03837 8.37821 5.28942 7.67603L6.21529 8.6019C6.15341 9.03425 6.19307 9.47507 6.33112 9.88943C6.46918 10.3038 6.70185 10.6803 7.01068 10.9891C7.31951 11.298 7.69603 11.5306 8.11039 11.6687C8.52475 11.8068 8.96557 11.8464 9.39792 11.7845Z' fill='%23222222'/%3E%3Cpath d='M3.76875 6.15356C3.56625 6.33356 3.37162 6.51581 3.186 6.70144C2.4881 7.40309 1.86246 8.17308 1.3185 8.99981L1.53787 9.32381C1.91475 9.86381 2.47163 10.5838 3.186 11.2982C4.63613 12.7483 6.61613 14.0623 9 14.0623C9.8055 14.0623 10.5638 13.9127 11.2725 13.6573L12.1388 14.5258C11.1487 14.9584 10.0805 15.1836 9 15.1873C3.375 15.1873 0 8.99981 0 8.99981C0 8.99981 1.05638 7.06369 2.97113 5.35706L3.76762 6.15469L3.76875 6.15356ZM15.3517 16.1481L1.85175 2.64806L2.64825 1.85156L16.1483 15.3516L15.3517 16.1481Z' fill='%23222222'/%3E%3C/svg%3E%0A") no-repeat center;

    &.hidden {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.029 12.6427C16.9426 10.935 18.0001 9 18.0001 9C18.0001 9 14.6251 2.8125 9.00008 2.8125C7.91962 2.81622 6.85139 3.04135 5.86133 3.474L6.72758 4.34137C7.45594 4.07605 8.22489 3.93939 9.00008 3.9375C11.3851 3.9375 13.364 5.2515 14.8141 6.70162C15.512 7.40328 16.1376 8.17327 16.6816 9C16.6163 9.09788 16.5443 9.20587 16.4622 9.324C16.0853 9.864 15.5285 10.584 14.8141 11.2984C14.6285 11.484 14.435 11.6674 14.2325 11.8451L15.029 12.6427Z' fill='%23979797'/%3E%3Cpath d='M12.7088 10.3232C12.9598 9.62098 13.0063 8.86194 12.8429 8.13438C12.6794 7.40681 12.3127 6.74062 11.7854 6.21333C11.2581 5.68603 10.5919 5.31931 9.86432 5.15584C9.13675 4.99236 8.37772 5.03886 7.67554 5.2899L8.60142 6.21578C9.03377 6.1539 9.47459 6.19355 9.88895 6.33161C10.3033 6.46967 10.6798 6.70233 10.9887 7.01117C11.2975 7.32 11.5301 7.69651 11.6682 8.11087C11.8063 8.52524 11.8459 8.96606 11.784 9.3984L12.7088 10.3232ZM9.39792 11.7845L10.3227 12.7093C9.62049 12.9603 8.86146 13.0068 8.13389 12.8433C7.40632 12.6799 6.74013 12.3132 6.21284 11.7859C5.68554 11.2586 5.31882 10.5924 5.15535 9.86481C4.99188 9.13724 5.03837 8.37821 5.28942 7.67603L6.21529 8.6019C6.15341 9.03425 6.19307 9.47507 6.33112 9.88943C6.46918 10.3038 6.70185 10.6803 7.01068 10.9891C7.31951 11.298 7.69603 11.5306 8.11039 11.6687C8.52475 11.8068 8.96557 11.8464 9.39792 11.7845Z' fill='%23979797'/%3E%3Cpath d='M3.76875 6.15356C3.56625 6.33356 3.37162 6.51581 3.186 6.70144C2.4881 7.40309 1.86246 8.17308 1.3185 8.99981L1.53787 9.32381C1.91475 9.86381 2.47163 10.5838 3.186 11.2982C4.63613 12.7483 6.61613 14.0623 9 14.0623C9.8055 14.0623 10.5638 13.9127 11.2725 13.6573L12.1388 14.5258C11.1487 14.9584 10.0805 15.1836 9 15.1873C3.375 15.1873 0 8.99981 0 8.99981C0 8.99981 1.05638 7.06369 2.97113 5.35706L3.76762 6.15469L3.76875 6.15356ZM15.3517 16.1481L1.85175 2.64806L2.64825 1.85156L16.1483 15.3516L15.3517 16.1481Z' fill='%23979797'/%3E%3C/svg%3E%0A");
    }
  }

  &.is-radius {
    border-radius: 2.8rem;
  }

}

.btn__area {
  font-size: 0;

  &.is-bottom {
    position: fixed;
    left: 0;
    bottom: 2rem;
    width: 100%;
    padding: 0 1.5rem;
  }
  &.btn__flex {
    display: flex;
    .btn {
      padding: 1.2rem 2.5rem;
      width: 100%;
      > span {
        padding: 0.3rem;
        vertical-align: middle;
      }
      .count {
        padding: 0;
      }
    }
    .icon {
      vertical-align: middle;
    }
  }
  .btn {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.8rem;
    }

    &.is-full {
      +.is-full {
        margin: 1rem 0 0;
      }
    }
  }
}

.floating__area {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  opacity: 85%;
}

[data-closed="closed"] {
  overflow: visible;
  visibility: visible;
  transition: ease 0.15s;

  &.is-closed {
    overflow: hidden;
    visibility: hidden;
    height: 0rem;
  }
}
