[class^="h"] {
  margin: 0;
}
.h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 600;
}
.h2 {
  font-size: 2.4rem;
  line-height: 4rem;
  font-weight: 600;
}
.h3 {
  font-size: 2rem;
  line-height: 3.4rem;
  font-weight: 600;
}
.b0 {
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.b1 {
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.b2 {
  font-size: 1.5rem;
  line-height: 2.3rem;
}
.b3 {
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.b4 {
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.b5 {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.is-link {
  text-decoration: underline;
}