.formControl {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &.is-select {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      width: 80px;
      height: 80px;
      margin: -20px 0 0;
      border: 1px solid $gray-300;
      border-width: 0 1px 1px 0; 
      transform: translateY(-50%) rotate(45deg);
    }
  }
}

.input, 
.textarea {
  color: $gray-600;
  border-radius: 0;
  &:placeholder {
    color: $gray-300;
  }
  &:disabled {
    color: $gray-300;
    // background-color: $gray-100;
  }
  &:focus,
  &:active,
  &:hover {
    outline: none;
  }
}

.input {
  width: 100%;
  padding: 10px 50px;
  font-size: 15px;
  font-weight: 400;

  &[type="text"] {
    border-bottom: 1px solid $gray-200;
  
    &:hover,
    &:focus,
    &:active,
    &.is-hover {
      border-color: $gray-600;
    }
    &:disabled,
    &[readonly] {
      border-color: $gray-200;
    }
  
    &.is-error {
      color: $alerts-1;
      border-color: $alerts-1;
    }
    + .icon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  &[type="checkbox"],
  &[type="radio"] {
    position: absolute; 
    top: auto; 
    width: 20px; 
    min-width: auto; 
    height: 20px; 
    margin: 0; 
    padding: 0; 
    opacity: 0; 
    z-index: -1;

    + label { 
      position: relative;
      display: inline-block; 
      padding-left:28px; 
      color: $gray-600; 
      font-size: 16px; 
      line-height: 20px; 
      vertical-align: middle; 
      cursor: pointer; 
      z-index: 1;

      &:before {
        content:''; 
        position: absolute; 
        top: 0; 
        left:0; 
        width: 20px; 
        height: 20px; 
        border: 1px solid #ccc; 
        border-radius: 2px; 
        background-color: $white; 
        overflow: hidden; 
        box-sizing: border-box; 
        transition: all ease-in-out 0.15s;
      }
      &:after {
        content:''; 
        position:absolute; 
        top: 4px; 
        left: 8px; 
        width: 4px; 
        height: 10px; 
        border: 1px solid transparent;
        border-width: 0 2px 2px 0; 
        background-color: transparent; 
        overflow: hidden; 
        box-sizing: border-box; 
        transform: rotate(45deg);
      }
    }

    &:hover {
      +label {
        &:before {
          border-color: $blue-600; 
        }
      }
    }

    &:disabled {
      +label {
        &:before {
          border-color: $gray-200;
          background-color: $gray-200;
        }
        &:after {
          border-color: transparent;
        }
      }
    }

    &[readonly] {
      +label {
        &:before {
          border-color: $gray-200;
          background-color: $gray-100;
        }
        &:after {
          border-color: transparent;
        }
      }
    }

    &:checked {
      +label {
        &:before {
          border-color: $blue-600; 
          background-color: $white;
        }
        &:after {
          border-color: $blue-600; 
        }
      }
      &:disabled {
        +label {
          &:before {
            border-color: $gray-200;
            background-color: $gray-200;
          }
          &:after {
            border-color: $gray-300;
          }
        }
      }
      &[readonly] {
        +label {
          &:before {
            border-color: $gray-200;
            background-color: $gray-100;
          }
          &:after {
            border-color: $gray-200;
          }
        }
      }
    }
  }

  &[type="radio"] {
    + label { 
      &:before {
        border-radius: 50%; 
      }
      &:after {
        top: 3px; 
        left: 3px; 
        width: 14px; 
        height: 14px; 
        border-radius: 50%;
        background-color: transparent;
      }
    }

    &:checked {
      +label {
        &:after {
          background-color: $blue-600; 
        }
      }
      &:disabled {
        +label {
          &:after {
            background-color: $gray-300;
          }
        }
      }
      &[readonly] {
        +label {
          &:after {
            background-color: $gray-200;
          }
        }
      }
    }
  }
}

.textarea {
  display: inline-block;
  width: 100%;
  padding: 10px 5px;
  border: 1px solid $gray-200;

  &:hover,
  &:focus,
  &:active,
  &.is-hover {
    border-color: $gray-600;
  }
  &:disabled,
  &[readonly] {
    border-color: $gray-200;
  }
}

.select {
  padding: 5px 30px 5px 10px;
  border: 1px solid $gray-400;
  border-radius: 2px;

  &:focus {
    outline: none;
  }
}