.container__guide {
  &.container {
    padding: 0;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: $white;
  }
  .sidebar {
    position: fixed;
    top: 6rem;
    left: 0;
    z-index: 100;
  }
  .contents {
    min-height: calc(var(--vh, 1vh) * 100 - 11.6rem);
    padding: 6rem 6rem 8rem 25rem;

    h2 {
      font-size: 3rem;
      line-height: 3.6rem;
    }
    h3 {
      font-size: 2.6rem;
      line-height: 3rem;
    }

    section {
      margin-top: 3rem;
    }
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: $white;
  }
  .content {
    padding: 3rem;
    border-radius: 1rem;
    background: $white;
    box-shadow: 3px 3px 17px 1px rgba(0,0,0,0.1);
  }
}

.is-guide {
  &:not(:first-child) {
    margin-top: 5rem;
    padding-top: 5rem;
    border-top: 0.1rem solid $gray-200;
  }
}
.guide__code {
  > p {
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
  .text-white {
    background-color: rgba(0,0,0,0.5);
  }
  [class^="bg"] {
    padding: 1rem;
  }
  [class^="border"] {
    padding: 1rem;
    border-width: 1px;
    border-style: solid;
  }

  &.display-block {
    > * {
      display: block;
    }
  }
}

.guideCode {
  position: relative;    
  display: flex;
  align-items: center;
  min-height: 8rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background: $gray-200;
  xmp {
      width: 100%;
      max-height: 25rem;
      margin: 0;
      padding: 2rem 0;
      overflow-y: scroll;
      font-family: 'Pretendard';
      color: $black;
      font-size: 1.4rem;
      white-space: pre-wrap;
  }
}

.guideBtn{
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  display: block;
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
  border: 0.1rem solid $gray-300;
  border-radius: 0.5rem;
  background-color: $white;
  
}

.table {
  &.typo__table {
    width: 100%;
    text-align: center;
    thead {
      th {
        padding: 2rem 0;
        border: 0.1rem solid $gray-200;
        border-width: 0.1rem 0;
      }
    }
    tbody {
      tr {
        &:first-child {
          td {
            padding-top: 3rem;
          }
        }
      }
      td {
        padding: 2rem 0;
        border-bottom: 0.1rem solid $gray-200;
      }
    }
  }
}