[class]:where(input), 
[class]:where(textarea) {
  color: $gray-600;
  border-radius: 0;
  &::placeholder {
    color: $gray-300;
  }
  &:disabled {
    color: $gray-250;
    // background-color: $gray-100;
  }
  &:focus,
  &:active,
  &:hover {
    outline: none;
  }
}

[class]:where(input) {
  padding: 2rem 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  border-bottom: 0.1rem solid $gray-200;

  &:hover,
  &:focus,
  &:active,
  &.is-active {
    border-color: $gray-600;
  }
  &:disabled,
  &[readonly] {
    border-color: $gray-200;
  }

}

[class]:where(textarea) {
  display: inline-block;
  width: 100%;
  padding: 2rem 0;
}
