.tooltip {
  position: relative;
  display: inline-block;

  
}
.tooltip__title,
.tooltip__text {
  &:hover {
    + .tooltip__desc {
      width: auto;
      height: auto;
      padding: 0.5rem 1rem;
      overflow: visible;
      border: 1px solid $gray-400;
      border-radius: 0.5rem;
    }
  }
}
.tooltip__desc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0.1rem;
  height: 0.1rem;
  white-space: nowrap;
  overflow: hidden;
  background: $white;
  z-index: 99;
}

.tooltip__text {
  @include ellipsis();
  position: relative;
  display: inline-block;
  width: 100%;
  white-space: nowrap;

  &:hover {
    +.tooltip__desc {
      width: 100%
    }
  }
  +.tooltip__desc {
    top: 2rem;
    left: 0;
    white-space: break-spaces;
    transform: translateX(0);
  }
}