@for $width from 0 through 100 {
    .box#{$width} {
      .box__item {
        width: 100% / $width !important;
      }
    }
  }
  
  .box {
    display: flex;
    margin: 20px 0 0;
  }
  
  .box__item {
    padding: 25px 28px 34px 27px;
    color: $gray-600;
    text-align: center;
    border-radius: 12px;
    background: $blue-200;
  
    &:not(:first-child) {
      margin-left: 7px;
    }
    .item__img {
      svg {
        width: 50px;
        height: 50px;
      }
  
      .img__title {
        margin-top: 20px;
      }
    } 
  }