table {
  width: 100%;
  table-layout: fixed;
  word-break: normal;

  tr {
    > .th,
    > td {
      padding: 10px 20px;
      border: 1px solid $gray-200;
      vertical-align: middle;
    }
  }
  .th {
    background: $gray-300;
  }
}