// Alignment
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

// Underline
.text-underline {
  text-decoration: underline !important;
}

// Font Weight
@for $i from 1 through 9 {
  .fw-#{$i * 100} {
    font-weight: $i * 100 !important;
  }
}

//ellipsis
.is-ellipsis {
  @include ellipsis();
}

// blind
.blind {
  @include visually-hidden();
}

// title 
.title__wrap {
  margin-bottom: 2rem;

  .title {
    font-size: $font-size-l;
    font-weight: $font-weight-600;
    line-height: $line-height-l;
  }
}
