// Alignment
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

// Underline
.text-underline {
  text-decoration: underline !important;
}

// Font Weight
@for $i from 1 through 9 {
  .fw-#{$i * 100} {
    font-weight: $i * 100 !important;
  }
}

//ellipsis
.is-ellipsis {
  @include ellipsis();
}

// blind
.blind {
  @include visually-hidden();
}

// title 
.title__wrap {
  margin-bottom: 2rem;
}

// typography
.h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.6rem;
}
.h2 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 3rem;
}
.h2 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 3rem;
}
.h3 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2rem;
}
.h4 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
}
.h5 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

.title {
	@include font("title");
}