// Alignment
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

// Underline
.text-underline {
  text-decoration: underline !important;
}

// Font Weight
@for $i from 1 through 9 {
  .fw-#{$i * 100} {
    font-weight: $i * 100 !important;
  }
}

//ellipsis
.is-ellipsis {
  @include ellipsis();
}

// blind
.blind {
  @include visually-hidden();
}

// title 
.title__wrap {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 2rem;

  .title {
    font-size: $font-size-l;
    font-weight: $font-weight-600;
    line-height: $line-height-l;

    +.desc {
      margin-left: 1rem;
      padding-bottom: 0.3rem;
    }
  }
  .desc {
    font-size: $font-size-s;
    font-weight: $font-weight-400;
  }
}
