/******************************************** pc ********************************************/

/* text */
.blind {position:absolute; width:1px; height:1px; clip:rect(0 0 0 0); overflow:hidden;}
.ar{text-align:right !important;}
.hiddenPc{display:none !important;}

/* gnb */
header{position:fixed; top:0; left:0; z-index:100; width:100%; background:#222; transition:all 0.5s ease;}
/* header.active{background:#f2f2f2; transition:all 0.5s ease;} */
.gnb{width:1200px; height:80px; box-sizing:border-box; margin:0 auto; padding:30px 0; text-align:right;}
.gnb .menu{position:relative; visibility:hidden; opacity:0; display:inline-block; clip: rect(0 0 0 0); font-size:0; animation:gnbOut 0.5s ease-in-out;}
.gnb .menu li{display:inline-block; margin-right:30px; font-size:18px;}
.gnb .menu li a{color:#fff;}
.gnb .menu.on{visibility:visible; width:auto; opacity:1; animation:gnbIn 0.5s ease-in-out;}
.gnb .menu.on + .btnMenu:before{width:30px; transition: all 0.3s;}
.gnb .btnMenu{cursor:pointer; position:relative; display:inline-block; width:36px; height:23px; padding:0; border:3px solid #fff; border-width:3px 0; background:none; vertical-align:top; transition: all 0.3s;}
.gnb .btnMenu:before{content:''; float:right; display:block; width:36px; height:3px;background:#fff; transition: all 0.3s;}
.active header {border-bottom: 1px solid rgba(255,255,255,0.5);}
/* .active .gnb .menu li a{color:#004054;}
.active .gnb .btnMenu{border:5px solid #004054; border-width:5px 0;}
.active .gnb .btnMenu:before{background:#004054;} */

/* gnb animation */
@keyframes gnbIn {
  from{
    opacity:0;
    transform: translate3d(30%, 0, 0);
  }
  to{
    transform: translateZ(0);
  }
  
}

/* gnb animation */
@keyframes gnbOut {
  from{
    opacity:0;
    transform: translate3d(-30%, 0, 0);
  }
  to{
    transform: translateZ(0);
  }
  
}

/* section */
.content{position:relative; width:100%; scroll-behavior: smooth; 
  transition: 0.5s;}
.content section{position:relative; display:flex; align-items:center; width:100%; min-height:100vh; padding: 78px 0; color:#fff; background:#222; transition:all 0.5s linear; box-sizing: border-box; scroll-behavior: smooth; transition: 0.1s all;}
.content .main{position:sticky; top:0; height:100vh; color:#fff; background:#222;}
.content .main .titArea{opacity:1; transition: 3s liner;}
.content .main .wrap {align-items:start}
.content .main.on .wrap .titArea{opacity:0}
section .wrap{position:relative; display:flex; flex-direction:column; justify-content:center; width:1200px; height:100%; box-sizing:border-box; margin:0 auto;}
section.on{height:450px !important;}
section.on .titArea{transform:none;}
section.on .contact{position:absolute; width:1px; height:1px; clip:rect(0 0 0 0); overflow:hidden;}


/* tit */
.titArea [class^=tit]{position:relative; display:inline-block; z-index:2; line-height:1.2em;}
.titArea .tit1{font-size:48px;}
.titArea .tit2{font-size:30px;}
.titArea .tit2.mark:after{content:''; position:absolute; bottom:0; margin-left:7px; display:inline-block; width:80px; height:3px; background:#fff;}
.titArea .tit3{font-size:16px;}
.titArea .subTit {margin: 10px 0 0;}
.titArea .subTit a {position: relative; color: #fff;}
.titArea .subTit a:not(:first-child) {margin-left: 10px; padding-left: 10px;}
.titArea .subTit a:not(:first-child):before {content: ''; position: absolute; top: 50%; left: 0; display: block; width: 1px; height: 15px; background: #fff; transform: translateY(-50%)}
.titArea .desc{display:inline-block; width:100%; margin-bottom:10px; font-size:16px;}

/* button */
.btnArea{width:100%; margin:50px 0 0; text-align:left;}
.linkBtn{display:inline-block; padding:15px 30px; font-size:16px; text-align:center; border:2px solid rgba(255,255,255, 0.5); }
.linkBtn:hover{cursor:pointer; color:#fff; background:#004054; transition:all 0.5s ease;}

/* tab */
.tabList{display:flex; margin:0 0 60px;}
.tabList li {cursor:pointer; display:inline-block; flex:1; padding:20px 0; text-align:center; transition:all 0.3s linear}
/* .tabList li:hover,.tabList li:focus{color:#004054;} */
.tabList li.on{color:#fff; font-weight:700; font-size: 20px; transition:all 0.3s linear;}
.tabPannel{display:none}
.tabPannel.on{display:block;}

/* flag */
.flag{height:26px; box-sizing:border-box; padding:5px 10px 3px; color:#fff; font-size:14px; line-height:26px; border-radius:14px; background:#222; vertical-align:middle;}
.flag + .date{display:inline-block; padding-left:10px; vertical-align:middle;} 

/* bg */
.bg1{min-height:calc(100vh - 70px); background:#f2f2f2 !important; color:#222 !important;}

/* img */
.img{width:100%; margin-top:20px; vertical-align:middle;}
.img img{width:100%;}




/**************************************************** mo ****************************************************/
@media screen and (max-width: 1200px) {

    /* common */
    .hiddenPc{display:block !important;}
    .hiddenMb{display:none !important;}

    /* accodion */
    .acco.infoList > li{display:block; padding: !important;}
    .acco .accoHead{position:relative; display:inline-block; width:100% !important; padding:10px 0;}
    .acco .accoHead:after{content:''; position:absolute; top:50%; right:0; display:block; width:8px; height:8px; border:2px solid #222; border-width:2px 2px 0 0; transform:translateY(-8px) rotate(135deg); transition:all 0.2s linear;}
    .acco .accoBody{display:inline-block; height:1px; margin:0 !important; visibility:hidden; opacity:0; clip: rect(0 0 0 0); font-size:0; transition:all 0.3s linear;}
    .acco.on .accoHead:after{transform:translateY(-8px) rotate(-45deg); transition:all 0.2s linear;}
    .acco.on .accoBody{height:auto; margin:20px 0 0 !important; visibility:visible; opacity:1; transition:all 0.3s linear;}

    /* gnb */
    header{background:#222;}
    .gnb{width:100%; height:60px; padding:15px 20px 0;}
    .gnb .menu{position: relative;vertical-align:middle; }
    .gnb .menu li{display:inline-block; margin:0 5px; font-size:1.5rem;}
    .gnb .menu li a{color:#fff; font-weight:500;}
    .gnb .menu.on{width:auto; line-height:24px; transition:all 1s linear;}
    .gnb .menu.on + .btnMenu:before{width:20px;}
    .gnb .btnMenu{width:26px; height:20px; border:3px solid #fff; border-width:3px 0; background:none;}
    .gnb .btnMenu:before{width:26px; height:3px; background:#fff;}

    /* section */
    .content:after{content:none;}
    .content section{position:relative; align-items:start; width:auto;min-height:auto; height: auto; padding:60px 20px; background:#222;}
    .content section:first-child{height:auto; padding:60px 20px 30px; color:#fff; background:#222;}
    .content section:first-child .wrap{width:100%; margin:0;}
    .content .wrap{width:100%; height:auto; padding:0;}

    section.on{height:auto !important;}

    /* tit */
    .titArea .tit1{font-size:2.4rem;}
    .titArea .tit2{font-size:2.0rem;}
    .titArea .tit3{font-size:1.8rem;}
    .titArea .desc{font-size:1.4rem;}
    .titArea .tit2.mark:after {content:none;}


    /* button */
    .btnArea{margin:20px 0 0;}
    .linkBtn{width:100%; padding:10px 15px; font-size:1.6rem;}

    /* tab */
    .tabList{margin:0 0 20px;}
    .tabList li{font-size:14px;}
    .tabList li.on{font-size:16px;}
    .tabList li:focus{outline:none;}
    
}
