<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>button</title>
<script src="/html/mobile/assets/js/uid.js" defer></script>
<link rel="stylesheet" href="/html/mobile/assets/css/index.css">
</head>
<body>
  
  <header data-include-path="/html/mobile/html/layout/header.html"></header>

  <nav data-include-path="/html/mobile/html/layout/sidebar.html"></nav>

  <div class="container">
    <div class="contents">
      <section class="examples">
        <div class="example__title">
          <h1 class="h3">더보기</h1>
        </div>

        <div class="btn__area">
          <button type="button" class="btn btn__listMore is-full">
              <span>더보기</span>
          </button>
          <button type="button" class="btn btn__listMore is-full is-active">
              <span>더보기</span>
          </button>
          <button type="button" class="btn btn__listMore is-full" disabled="disabled">
              <span>더보기</span>
          </button>
        </div>
      </section>

      <section class="examples">
        <div class="example__title">
          <h1 class="h3">Icon</h1>
        </div>

        <div class="btn__area mt-10">
          <button type="button" class="btn btn__refresh">
            <img src="/html/mobile/assets/images/svg/icon-refresh.svg" alt="">
            <span class="visually-hidden">새로고침</span>
          </button>
          <button type="button" class="btn btn__download">
            <span class="visually-hidden">다운로드</span>
          </button>
          <button type="button" class="btn btn__enter">
          
            <img src="/html/mobile/assets/images/svg/icon-check.svg" alt="">
            <span class="visually-hidden">입력</span>
          </button>
        </div>

        <div class="btn__area mt-10 is-bgBlack">
          <button type="button" class="btn btn__checked check__all">
            <span class="btn__name">전체선택</span>
          </button>
          <button type="button" class="btn btn__mail">
            <span class="btn__name">메일</span>
          </button>
          <button type="button" class="btn btn__mailNew">
            <span class="btn__name">메일</span>
          </button>
          <button type="button" class="btn btn__delete">
            <span class="btn__name">삭제</span>
          </button>
          <button type="button" class="btn btn__spam">
            <span class="btn__name">스팸</span>
          </button>
          <button type="button" class="btn btn__movement">
            <span class="btn__name">이동</span>
          </button>
        </div>
      </section>

      <section class="examples">
        <div class="example__title">
          <h1 class="h3">Small</h1>
        </div>

        <div class="btn__area mt-5">
          <button type="button" class="btn btn__primary is-black is-small">
            <span>저장</span>
          </button>
          </button>
          <button type="button" class="btn btn__primary is-white is-small">
            <span>취소</span>
          </button>
          <button type="button" class="btn btn__primary is-primary is-small">
            <span>승인</span>
          </button>
        </div>
      </section>

      <section class="examples">
        <div class="example__title">
          <h1 class="h3">Medium</h1>
        </div>

        <div class="btn__area mt-5">
          <button type="button" class="btn btn__primary is-black">
            <span>저장하기</span>
          </button>
          <button type="button" class="btn btn__primary is-white">
            <span>취소하기</span>
          </button>
          <button type="button" class="btn btn__primary is-primary">
            <span>승인하기</span>
          </button>
        </div>
      </section>

      <section class="examples">
        <div class="example__title">
          <h1 class="h3">Full</h1>
        </div>

        <div class="btn__area mt-5">
          <button type="button" class="btn btn__primary is-black is-full">
            <span>저장하기</span>
          </button>
          <button type="button" class="btn btn__primary is-white is-full">
            <span>취소하기</span>
          </button>
          <button type="button" class="btn btn__primary is-primary is-full">
            <span>승인하기</span>
          </button>
        </div>
      </section>

      <section class="examples">
        <div class="example__title">
          <h1 class="h3">Radius</h1>
        </div>

        <div class="btn__area btn__flex mt-5">
          <button type="button" class="btn btn__primary is-radius is-blue400">
            <img src="/html/mobile/assets/images/svg/icon-like.svg" alt="">
            <span>추천하기</span>
            <span class="count">9</span>
          </button>
          </button>
          <button type="button" class="btn btn__primary is-radius is-blue400">

            <img src="/html/mobile/assets/images/svg/icon-hate.svg" alt="">
            <span>반대하기</span>
            <span class="count">4</span>
          </button>
        </div>
      </section>

      <div class="floating__area">
        <a href="#" class="btn btn__floating is-write">
          <span class="visually-hidden">작성하기</span>
        </a>
        <a href="#" class="btn btn__floating is-contact">
          <span class="visually-hidden">연락처 추가</span>
        </a>
        <a href="#" class="btn btn__floating is-location">
          <span class="visually-hidden">위치</span>
        </a>
      </div>
    </div>
  </div>

  <footer data-include-path="/html/mobile/html/layout/footer.html"></footer>
</body>
</html>

