<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>form</title>
<script src="/UI-Guide/html/mobile/assets/js/uid.js" defer></script>
<link rel="stylesheet" href="/UI-Guide/html/mobile/assets/css/index.css">
</head>
<body>
  
  <header data-include-path="/UI-Guide/html/mobile/html/layout/header.html"></header>

  <nav data-include-path="/UI-Guide/html/mobile/html/layout/sidebar.html"></nav>

  <div class="container">
    <div class="contents">
      <section class="examples">
        <div class="example__title">
          <h1 class="h3">Form Title</h1>
        </div>
        <div class="form no-line">
          <div class="formTitle">
            <p class="title">메일제목이 들어가지요. 퍼블리셔 지원 드립니다. 두줄도 가능가넝</p>
          </div>
        </div>
      </section>
      
      <section class="examples">
        <div class="example__title">
          <h1 class="h3">Input</h1>
        </div>
    
        <div class="form">
          <input class="formText__input" type="text" title="제목 입력" placeholder="input default" value="">
          <input class="formText__input is-active" type="text" title="제목 입력" placeholder="input focus/active" value="input focus/active">
          <input class="formText__input" type="text" title="제목 입력" placeholder="input disabled" value="input disabled" disabled>
          <input class="formText__input" type="text" title="제목 입력" placeholder="input readonly" value="input readonly" readonly>
        </div>
    
        <div class="formControl form__recommend mt-20">
          <input class="formText__input" type="text" title="댓글 입력" placeholder="댓글을 입력해 주세요." value="">
          <button type="button" class="btn btn__enter">
            <img src="/UI-Guide/html/mobile//assets/images/svg/icon-check.svg" alt="">
            <svg class="icon"><use href="#icon-check"></use></svg>
            <span class="visually-hidden">입력</span>
          </button>
        </div>
      </section>
    
      <section class="examples">
        <div class="example__title">
          <h1 class="h3">Textarea</h1>
        </div>
    
        <div class="form">
          <textarea class="formText__textarea" cols="30" rows="10" title="내용 입력" placeholder="textarea default"></textarea>
          <textarea class="formText__textarea is-active" cols="30" rows="10" title="내용 입력" placeholder="textarea focus/active">textarea focus/active</textarea>
          <textarea class="formText__textarea" cols="30" rows="10" title="내용 입력" placeholder="textarea disabled" textarea disabled></textarea>
          <textarea class="formText__textarea" cols="30" rows="10" title="내용 입력" placeholder="textarea readonly" readonly>textarea readonly</textarea>
        </div>
      </section>
    
      <section class="examples">
        <div class="example__title">
          <h1 class="h3">Checkbox</h1>
        </div>
    
        <div class="form">
            <div class="input">
              <input type="checkbox" id="checkbox1" class="input__checkbox">
              <label for="checkbox1" class="label__checkbox"><span class="input__label">enabled</span>
            </div>
            <div class="input">
              <input type="checkbox" id="checkbox2" class="input__checkbox" disabled>
              <label for="checkbox2" class="label__checkbox"><span class="input__label">disabled</span>
            </div>
            <div class="input">
              <input type="checkbox" id="checkbox1" class="input__checkbox" checked>
              <label for="checkbox1" class="label__checkbox"><span class="input__label">checked</span>
            </div>
            <div class="input">
              <input type="checkbox" id="checkbox2" class="input__checkbox" checked disabled>
              <label for="checkbox2" class="label__checkbox"><span class="input__label">checked disabled</span>
            </div>
        </div>
      </section>
    
      <section class="examples">
        <div class="example__title">
          <h1 class="h3">calendar</h1>
        </div>
    
        <div class="form">
          <div class="input width-full">
            <input type="date" id="calendar" class="input__calendar">
            <label for="calendar" class="label__calendar"><span class="visually-hidden">캘린더</span></label>
          </div>
        </div>
      </section>
    
      <section class="examples">
        <div class="example__title">
          <h1 class="h3">Toggle</h1>
        </div>
    
        <div class="form">
            <div class="input">
              <input type="checkbox" id="toggle1" class="toggle"> 
              <label for="toggle1" class="toggle__switch">
                <span class="toggle__button"></span>
              </label>
            </div>
            <div class="input">
              <input type="checkbox" id="toggle2" class="toggle" disabled> 
              <label for="toggle2" class="toggle__switch">
                <span class="toggle__button"></span>
              </label>
            </div>
            <div class="input">
              <input type="checkbox" id="toggle3" class="toggle" checked> 
              <label for="toggle3" class="toggle__switch">
                <span class="toggle__button"></span>
              </label>
            </div>
            <div class="input">
              <input type="checkbox" id="toggle4" class="toggle" checked disabled> 
              <label for="toggle4" class="toggle__switch">
                <span class="toggle__button"></span>
              </label>
            </div>
        </div>
      </section>
    
      <section class="examples">
        <div class="example__title">
          <h1 class="h3">Select</h1>
        </div>
    
        <div class="dropdown__area select__dropdown">
          <div class="btn__area select__btn">
            <button type="button" class="btn btn__dropdown btn__select">
              <span>선택</span>
              <img src="/UI-Guide/html/mobile/assets/images/svg/icon-dropdown-arrow.svg" alt="">
            </button>
          </div>
          <div class="dropdown select__option">
            <button type="button" class="option">옵션1</button>
            <button type="button" class="option">옵션2</button>
            <button type="button" class="option">옵션3</button>
          </div>
        </div>
    
        <select>
          <option value="option">option</option>
          <option value="option">option</option>
          <option value="option">option</option>
          <option value="option">option</option>
          <option value="option">option</option>
        </select>
      </section>
    
      <section class="examples">
        <div class="example__title">
          <h1 class="h3">File</h1>
        </div>
        <div class="form no-line">
          <div class="formControl form__fileAttach">
            <div class="file__header">
              <div class="formControl__label">
                <span class="label">첨부파일</span>
              </div>
              <div class="formControl__option">
                <button type="button" class="btn btn__download">
                  <span>모두받기</span>
                </button>
              </div>
            </div>
            <div class="file__attach">
              <div class="file">
                <span class="file__name">imageTestTest.png</span>
                <span class="file__volume">344kb</span>
                <button type="button" class="btn file__btn">
                  <img src="/UI-Guide/html/mobile/assets/images/svg/icon-attach-download.svg" alt="">
                  <span class="visually-hidden">다운로드</span>
                </button>
              </div>
              <div class="file">
                <span class="file__name">imageTestTest2.png</span>
                <span class="file__volume">344kb</span>
                <button type="button" class="btn file__btn">
                  <img src="/UI-Guide/html/mobile/assets/images/svg/icon-attach-download.svg" alt="">
                  <span class="visually-hidden">다운로드</span>
                </button>
              </div>
            </div>
          </div>
          <div class="formControl form__fileAttach">
            <div class="file__header">
              <div class="formControl__label">
                <span class="label">첨부파일</span>
              </div>
              <div class="formControl__option">
                <span class="volume">일반 19.7KB</span>
              </div>
            </div>
            <div class="file__attach">
              <div class="file">
                <span class="file__name">imageTestTest.png</span>
                <span class="file__upload">100%</span>
                <span class="file__volume">344kb</span>
                <button type="button" class="btn file__btn btn__remove">
                  <img src="/UI-Guide/html/mobile/assets/images/svg/icon-closed.svg" alt="닫기">
                  <span class="visually-hidden">삭제</span>
                </button>
              </div>
              <div class="file">
                <span class="file__name">imageTestTest2.png</span>
                <span class="file__upload">100%</span>
                <span class="file__volume">344kb</span>
                <button type="button" class="btn file__btn btn__remove">
                  <img src="/UI-Guide/html/mobile/assets/images/svg/icon-closed.svg" alt="닫기">
                  <span class="visually-hidden">삭제</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <footer data-include-path="/UI-Guide/html/mobile/html/layout/footer.html"></footer>
</body>
</html>