<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>list</title>
<script src="/UI-Guide/html/mobile/assets/js/uid.js" defer></script>
<link rel="stylesheet" href="/UI-Guide/html/mobile/assets/css/index.css">
</head>
<body>
  
  <header data-include-path="/UI-Guide/html/mobile/html/layout/header.html"></header>

  <nav data-include-path="/UI-Guide/html/mobile/html/layout/sidebar.html"></nav>

  <div class="container">
    <div class="contents">
      <section class="examples">
        <div class="checked__modal is-closed" data-closed="closed">
          <button type="button" class="btn btn__closed">
            <img src="/UI-Guide/html/mobile/assets/images/svg/icon-closed.svg" alt="닫기">
            <span class="visually-hidden">닫기</span>
          </button>
          <div class="modal__inner">
            <div class="checked__count">
              <span class="is-checked">3</span>
              <span>/</span>
              <span class="list__count">11</span>
            </div>

            <div class="btn__area">
              <button type="button" class="btn btn__checked check__all">
                <span class="btn__name">전체선택</span>
              </button>
              <button type="button" class="btn btn__delete">
                <span class="btn__name">삭제</span>
              </button>
            </div>
          </div>
        </div>

        <div class="content__header">
          <p class="header__title">List Title</p>
          <div class="dropdown__area">
            <button type="button" class="btn btn__dropdownMore">
              <img src="/UI-Guide/html/mobile/assets/images/svg/icon-more.svg" alt="">
              <span class="visually-hidden"></span>
            </button>

            <div class="dropdown">
              <button type="button" class="btn">
                <span>옵션1</span>
              </button>
              <button type="button" class="btn">
                <span>옵션2</span>
              </button>
              <button type="button" class="btn">
                <span>옵션3</span>
              </button>
            </div>
          </div>
        </div>

        <div class="example__title">
          <h1 class="h3">List</h1>
        </div>

        <div class="contents__list">
            <div class="list__inner">
              <span class="list__item">레벨</span>
              <span class="list__desc">텍스트가 들어가는 자리</span>
            </div>
            <div class="list__inner">
              <span class="list__item">레벨</span>
              <span class="list__desc">텍스트가 들어가는 자리</span>
            </div>
        </div>

        <ul class="contents__list">
          <li>
            <a href="#none" class="list__inner">
              <span class="list__title">title</span>
              <span class="list__writer">writer</span>
              <span class="list__date">03.03</span>
            </a>
          </li>
          <li>
            <a href="#none" class="list__inner">
              <span class="list__title">title</span>
              <span class="list__writer">writerwriterwriterwriterwriterwriter</span>
              <span class="list__date">03.03</span>
            </a>
          </li>
        </ul>
      </section>

      <section class="examples">
        <div class="example__title">
          <h1 class="h3">게시판</h1>
        </div>

        <ul class="board__list">
          <li>
            <a href="#" class="list__inner">
              <div class="list__item">
                <span class="list__img">
                  <svg class="img"><use href="#img-board1"></use></svg>
                </span>
                <div class="list__info">
                  <span class="list__title">board list title board list title board list title board list title board list title board list title board list title </span>
                  <span class="list__comment">[<span>28</span>]</span>
                  <span class="btn btn__file">
                    <img src="/UI-Guide/html/mobile/assets/images/svg/icon-file.svg" alt="">
                    <span class="visually-hidden">파일첨부</span>
                  </span>
                  <span class="btn btn__lock">
                    <img src="/UI-Guide/html/mobile/assets/images/svg/icon-lock.svg" alt="">
                    <span class="visually-hidden">비밀글</span>
                  </span>
                  <span class="btn btn__key">
                    <svg class="icon"><use href="#icon-key"></use></svg>
                    <span class="visually-hidden">비밀번호</span>
                  </span>
                  <div class="write__info">
                    <span class="list__writer">writer</span>
                    <span class="list__team">team</span>
                    <span class="list__date">01.01</span>
                    <span class="list__views">조회수 <span>18</span></span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="list__inner">
              <div class="list__item">
                <div class="list__info">
                  <span class="list__title">board list title</span>
                  <span class="list__comment">[<span>28</span>]</span>
                  <span class="btn btn__file">
                    <svg class="icon"><use href="#icon-file"></use></svg>
                    <span class="visually-hidden">파일첨부</span>
                  </span>
                  <span class="btn btn__lock">
                    <svg class="icon"><use href="#icon-lock"></use></svg>
                    <span class="visually-hidden">비밀글</span>
                  </span>
                  <div class="write__info">
                    <span class="list__writer">writer</span>
                    <span class="list__team">team</span>
                    <span class="list__date">01.01</span>
                    <span class="list__views">조회수 <span>18</span></span>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>

      </section>

      <section class="examples">
        <div class="example__title">
          <h1 class="h3">댓글</h1>
        </div>

        <ul class="comment__list">
          <li>
            <div class="comment__box">
              <span class="profile__img">
                <img src="/UI-Guide/html/mobile/assets/images/svg/img-profile1.svg" alt="" class="img">
              </span>
              <div class="comment">
                <span class="comment__writer">wirter</span>
                <span class="comment__team">team</span>
                <span class="comment__date">2023.01.01  17:16</span>
                <span class="comment__desc">
                  댓글입니다 코멘트입니다 댓글댓글
                </span>
                <div class="dropdown__area">
                  <button type="button" class="btn btn__dropdownMore">
                    <img src="/UI-Guide/html/mobile/assets/images/svg/icon-more.svg" alt="">
                    <span class="visually-hidden">더보기</span>
                  </button>
                  <div class="dropdown">
                    <button type="button" class="btn recommend">
                      <span>댓글쓰기</span>
                    </button>
                    <button type="button" class="btn modify">
                      <span>수정</span>
                    </button>
                    <button type="button" class="btn delete">
                      <span>삭제</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            
            <ul class="comment__list reply">
              <li>
                <div class="comment__box">
                  <span class="profile__img">
                    <img src="/UI-Guide/html/mobile/assets/images/svg/img-profile2.svg" alt="">
                  </span>
                  <div class="comment">
                    <span class="comment__writer">글쓴이</span>
                    <span class="comment__team">팀이름</span>
                    <span class="comment__date">2023.01.01  17:16</span>
                    <span class="comment__desc">
                      답글입니다 답글답글
                    </span>
                    <div class="dropdown__area">
                      <button type="button" class="btn btn__dropdownMore">
                        <img src="/UI-Guide/html/mobile/assets/images/svg/icon-more.svg" alt="">
                        <span class="visually-hidden">더보기</span>
                      </button>
                      <div class="dropdown">
                        <button type="button" class="btn recommend">
                          <span>댓글쓰기</span>
                        </button>
                        <button type="button" class="btn modify">
                          <span>수정</span>
                        </button>
                        <button type="button" class="btn delete">
                          <span>삭제</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </section>

      <section class="examples">
        <div class="example__title">
          <h1 class="h3">메일</h1>
        </div>

        <ul class="check__list mail">
          <li>
            <div class="check__item is-new">
              <div class="input">
                <input type="checkbox" id="checkbox1" class="input__checkbox list__input">
                <label for="checkbox1" class="label__checkbox"><span class="visually-hidden">메일 선택</span></label>
              </div>
              <div class="mail__info">
                <a href="#none" class="mail__sender">
                  <span class="mail__writer">홍길동</span>
                  <span class="mail__date">01.30</span>
                </a>
                <div class="mail__inner">
                  <a href="#none" class="mail__desc fw-600">안 읽은 메일 중요한 메일</a>
                  <button type="button" class="btn btn__file">
                      <img src="/UI-Guide/html/mobile/assets/images/svg/icon-attach.svg" alt="">
                      <span class="visually-hidden">파일첨부</span>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="check__item is-new">
              <div class="input">
                <input type="checkbox" id="checkbox1" class="input__checkbox list__input">
                <label for="checkbox1" class="label__checkbox"><span class="visually-hidden">메일 선택</span></label>
              </div>
              <div class="mail__info">
                <a href="#none" class="mail__sender">
                  <span class="mail__writer">홍길동</span>
                  <span class="mail__date">01.30</span>
                </a>
                <div class="mail__inner">
                  <a href="#none" class="mail__desc">안 읽은 메일~~!!</a>
                  <button type="button" class="btn btn__file">
                      <img src="/UI-Guide/html/mobile/assets/images/svg/icon-attach.svg" alt="">
                      <span class="visually-hidden">파일첨부</span>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="check__item">
              <div class="input">
                <input type="checkbox" id="checkbox2" class="input__checkbox list__input" checked="checked">
                <label for="checkbox2" class="label__checkbox"><span class="visually-hidden">메일 선택</span></label>
              </div>
              <div class="mail__info">
                <a href="#none" class="mail__sender">
                  <span class="mail__writer">홍길동</span>
                  <span class="mail__date">01.30</span>
                </a>
                <div class="mail__inner">
                  <a href="#none" class="mail__desc fw-600">중요메일일 경우 볼드로 들어갑니다.</a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="check__item">
              <div class="input">
                <input type="checkbox" id="checkbox2" class="input__checkbox list__input" checked="checked">
                <label for="checkbox2" class="label__checkbox"><span class="visually-hidden">메일 선택</span></label>
              </div>
              <div class="mail__info">
                <a href="#none" class="mail__sender">
                  <span class="mail__writer">홍길동</span>
                  <span class="mail__date">01.30</span>
                </a>
                <div class="mail__inner">
                  <a href="#none" class="mail__desc">읽은메일</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="examples">
        <div class="example__title">
          <h1 class="h3">연락처</h1>
        </div>

        <ul class="check__list contact__list no-line">
          <li>
            <div class="check__item">
              <div class="input">
                <input type="checkbox" id="checkbox3" class="input__checkbox list__input">
                <label for="checkbox3" class="label__checkbox"><span class="visually-hidden">연락처 선택</span></label>
              </div>
              <div class="contact__item">
                <a href="#none" class="contact__info">
                  <span class="contact__name">홍길동</span>
                  <span class="contact__email">abc@abc.com</span>
                  <span class="contact__phone">010-0000-0000</span>
                </a>
                <div class="contact__btn">
                  <button type="button" class="btn btn__email">
                      <svg class="icon"><use href="#icon-email"></use></svg>
                      <span class="visually-hidden">이메일 보내기</span>
                  </button>
                  <button type="button" class="btn btn__phone">
                      <svg class="icon"><use href="#icon-phone"></use></svg>
                      <span class="visually-hidden">전화 걸기</span>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="check__item">
              <div class="contact__item">
                <div class="contact__info">
                  <span class="contact__email">abc@abc.com</span>
                </div>
                <button type="button" class="btn btn__remove">
                    <svg class="icon"><use href="#icon-closed"></use></svg>
                    <span class="visually-hidden">삭제하기</span>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </section> 

      <section class="examples">
        <div class="example__title">
          <h1 class="h3">조직도</h1>
        </div>

        <ul class="check__list contact__list no-line">
          <li>
            <div class="check__item">
              <span class="profile__img">
                <svg class="img"><use href="#img-profile1"></use></svg>
              </span>
              <div class="contact__item">
                <a href="#none" class="contact__info">
                  <span class="contact__name">홍길동</span>
                  <span class="contact__team">팀명입력</span>
                  <span class="contact__email">abc@abc.com</span>
                  <span class="contact__phone">010-0000-0000</span>
                </a>
                <div class="contact__btn">
                  <button type="button" class="btn btn__phone">
                      <svg class="icon"><use href="#icon-phone"></use></svg>
                      <span class="visually-hidden">전화 걸기</span>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="check__item">
              <span class="profile__img">
                <svg class="img"><use href="#img-profile1"></use></svg>
              </span>
              <div class="contact__item">
                <a href="#none" class="contact__info">
                  <span class="contact__name">홍길동</span>
                  <span class="contact__team">팀명입력</span>
                  <span class="contact__email">abc@abc.com</span>
                  <span class="contact__phone">010-0000-0000</span>
                </a>
                <div class="contact__btn">
                  <button type="button" class="btn btn__phone">
                      <svg class="icon"><use href="#icon-phone"></use></svg>
                      <span class="visually-hidden">전화 걸기</span>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="check__list contact__list recipient no-line">
          <li>
            <div class="check__item">
              <div class="input">
                <input type="checkbox" id="checkbox4" class="input__checkbox list__input" checked="checked">
                <label for="checkbox4" class="label__checkbox"><span class="visually-hidden">연락처 선택</span></label>
              </div>
              <span class="profile__img">
                <svg class="img"><use href="#img-profile1"></use></svg>
              </span>
              <div class="contact__item">
                <di class="contact__info">
                  <span class="contact__name">홍길동</span>
                  <span class="contact__team">팀명입력</span>
                  <div class="contact">
                    <span class="contact__email">abc@abc.com</span>
                    <span class="contact__phone">010-0000-0000</span>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="examples">
        <div class="example__title">
          <h1 class="h3">결재</h1>
        </div>

        <ul class="check__list approval">
          <li>
            <div class="check__item">
              <div class="input">
                <input type="checkbox" id="checkbox5" class="input__checkbox list__input">
                <label for="checkbox5" class="label__checkbox"><span class="visually-hidden">결재 선택</span></label>
              </div>
              <a href="#none" class="approval__item">
                <div class="approval__title">
                  <span class="title">결재명</span>
                  <span class="delay">[5일초과]</span>
                </div>
                <div class="state__info">
                  <div class="state__box">
                    <span class="state__title">상태</span>
                    <span class="state__desc is-status">보류</span>
                  </div>
                  <div class="state__box">
                    <span class="state__title">기안자</span>
                    <span class="state__desc">이름</span>
                  </div>
                  <div class="state__box">
                    <span class="state__title">기안일</span>
                    <span class="state__desc">2023.05.25 11:09</span>
                  </div>
                </div>
              </a>
            </div>
          </li>
          <li>
            <div class="check__item">
              <div class="input">
                <input type="checkbox" id="checkbox6" class="input__checkbox list__input" checked="checked">
                <label for="checkbox6" class="label__checkbox"><span class="visually-hidden">결재 선택</span></label>
              </div>
              <a href="#none" class="approval__item">
                <div class="approval__title">
                  <span class="title">경비사용보고서 일반</span>
                </div>
                <div class="state__info">
                  <div class="state__box">
                    <span class="state__title">상태</span>
                    <span class="state__desc is-status">보류</span>
                  </div>
                  <div class="state__box">
                    <span class="state__title">기안자</span>
                    <span class="state__desc">홍길동</span>
                  </div>
                  <div class="state__box">
                    <span class="state__title">기안일</span>
                    <span class="state__desc">2023.05.25 11:09</span>
                  </div>
                </div>
              </a>
            </div>
          </li>
        </ul>


        <ul class="check__list approval">
          <li>
            <div class="check__item">
              <a href="#none" class="approval__item">
                <div class="approval__title">
                  <span class="title">경비사용보고서 일반</span>
                  <span class="delay">[5일초과]</span>
                </div>
                <div class="state__process">
                  <span class="state__badge is-status">
                    <span class="label">상신</span>
                    <span class="name">홍길동</span>
                  </span>
                  <span class="state__badge">
                    <span class="label">결재</span>
                    <span class="name">홍길동</span>
                  </span>
                  <span class="state__badge">
                    <span class="label">결재</span>
                    <span class="name">홍길동</span>
                  </span>
                  <span class="state__badge">
                    <span class="label">결재</span>
                    <span class="name">홍길동</span>
                  </span>
                  <span class="state__badge">
                    <span class="label">결재</span>
                    <span class="name">홍길동</span>
                  </span>
                  <span class="state__badge">
                    <span class="label">결재</span>
                    <span class="name">홍길동</span>
                  </span>
                </div>
                <div class="state__info is-small">
                  <div class="state__box">
                    <span class="state__title">기안자</span>
                    <span class="state__desc">홍길동</span>
                  </div>
                  <div class="state__box">
                    <span class="state__title">기안일</span>
                    <span class="state__desc">2023.05.25 11:09</span>
                  </div>
                </div>
              </a>
            </div>
          </li>
          <li>
            <div class="check__item">
              <a href="#none" class="approval__item">
                <div class="approval__title">
                  <span class="title">경비사용보고서 일반</span>
                </div>
                <div class="state__process">
                  <span class="state__badge">
                    <span class="label">상신</span>
                    <span class="name">홍길동</span>
                  </span>
                  <span class="state__badge is-status">
                    <span class="label">결재</span>
                    <span class="name">홍길동</span>
                  </span>
                  <span class="state__badge">
                    <span class="label">결재</span>
                    <span class="name">홍길동</span>
                  </span>
                </div>
                <div class="state__info">
                  <div class="state__box">
                    <span class="state__title">기안자</span>
                    <span class="state__desc">홍길동</span>
                  </div>
                  <div class="state__box">
                    <span class="state__title">기안일</span>
                    <span class="state__desc">2023.05.25 11:09</span>
                  </div>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>

  <footer data-include-path="/UI-Guide/html/mobile/html/layout/footer.html"></footer>
</body>
</html>