<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Typography</title>
<script src="/assets/js/uid.js" defer></script>
<script src="/assets/js/guide.js" defer></script>
<link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
<!-- https://www.w3schools.com/howto/howto_html_include.asp -->
 
<div class="container container__guide">
  <header data-include-path="/html/layout/header.html"></header>
   
  <nav data-include-path="/html/layout/sidebar.html"></nav>

  <div class="contents">
    <section>
      <div class="title__wrap">
        <div class="title">
          <h2>Primary Button</h2>
        </div>
      </div>

      <div class="content">
        <!-- fill button -->
        <div class="is-guide">
          <div class="title__wrap">
            <div class="title">
              <h3>Fill Button</h3>
            </div>
          </div>

          <div class="guide__code">
            <button type="button" class="btn is-fill is-small">fill small</button>
            <button type="button" class="btn is-fill is-medium">fill medium</button>
            <button type="button" class="btn is-fill is-large">fill large</button>
          </div>

          <div class="guideCode">
            <button type="button" class="btn guideBtn">Copy</button>
          </div>
        </div>
        <!-- // fill button -->

        <!-- outline button -->
        <div class="is-guide">
          <div class="title__wrap">
            <div class="title">
              <h3>Outline Button</h3>
            </div>
          </div>

          <div class="guide__code">
            <button type="button" class="btn is-outline is-small">fill small</button>
            <button type="button" class="btn is-outline is-medium">fill medium</button>
            <button type="button" class="btn is-outline is-large">fill large</button>
          </div>

          <div class="guideCode">
            <button type="button" class="btn guideBtn">Copy</button>
          </div>
        </div>
        <!-- // outline button -->
      </div>
    </section>
    
    <section>
      <div class="title__wrap">
        <div class="title">
          <h2>Icon Button</h2>
        </div>
      </div>

      <div class="content">
        <!-- fill button -->
        <div class="is-guide">
          <div class="title__wrap">
            <div class="title">
              <h3>Fill Button</h3>
            </div>
          </div>

          <div class="guide__code">
            <button type="button" class="btn is-fill is-small">fill small</button>
            <button type="button" class="btn is-fill is-medium">fill medium</button>
            <button type="button" class="btn is-fill is-large">fill large</button>
          </div>

          <div class="guideCode">
            <button type="button" class="btn guideBtn">Copy</button>
          </div>
        </div>
        <!-- // fill button -->
      </div>
    </section>
  </div>
  <footer data-include-path="/html/layout/footer.html"></footer>
</div>

</body>
</html>