<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Button</title>
<script src="../../../assets/js/uid.js" defer></script>
<script src="../../../assets/js/guide.js" defer></script>
<link rel="stylesheet" href="../../../assets/css/index.css">
</head>
<body>
<!-- https://www.w3schools.com/howto/howto_html_include.asp -->
 
<div class="container container__guide">
  <header data-include-path="/html/layout/header.html"></header>
   
  <nav data-include-path="/html/layout/sidebar.html"></nav>

  <div class="contents">
    <section>
      <div class="title__wrap">
        <div class="title">
          <h2>Primary Button</h2>
        </div>
      </div>

      <div class="content">
        <!-- fill button -->
        <div class="is-guide">
          <div class="title__wrap">
            <div class="title">
              <h3>Fill Button</h3>
            </div>
          </div>

          <div class="guide__code display-block">
            <div class="buttons">
              <button type="button" class="btn is-fill is-small">fill small</button>
              <button type="button" class="btn is-fill is-small is-hover">fill small</button>
              <button type="button" class="btn is-fill is-small" disabled>fill small</button>
            </div>
            <div class="buttons">
              <button type="button" class="btn is-fill is-medium">fill medium</button>
              <button type="button" class="btn is-fill is-medium is-hover">fill medium</button>
              <button type="button" class="btn is-fill is-medium" disabled>fill medium</button>
            </div>
            <div class="buttons">
              <button type="button" class="btn is-fill is-large">fill large</button>
              <button type="button" class="btn is-fill is-large is-hover">fill large</button>
              <button type="button" class="btn is-fill is-large" disabled>fill large</button>
            </div>
          </div>

          <div class="guideCode">
            <button type="button" class="btn guideBtn">Copy</button>
          </div>
        </div>
        <!-- // fill button -->

        <!-- outline button -->
        <div class="is-guide">
          <div class="title__wrap">
            <div class="title">
              <h3>Outline Button</h3>
            </div>
          </div>

          <div class="guide__code display-block">
            <div class="buttons">
              <button type="button" class="btn is-outline is-small">outline small</button>
              <button type="button" class="btn is-outline is-small is-hover">outline small</button>
              <button type="button" class="btn is-outline is-small" disabled>outline small</button>
            </div>
            <div class="buttons">
              <button type="button" class="btn is-outline is-medium">outline medium</button>
              <button type="button" class="btn is-outline is-medium is-hover">outline medium</button>
              <button type="button" class="btn is-outline is-medium" disabled>outline medium</button>
            </div>
            <div class="buttons">
              <button type="button" class="btn is-outline is-large">outline large</button>
              <button type="button" class="btn is-outline is-large is-hover">outline large</button>
              <button type="button" class="btn is-outline is-large" disabled>outline large</button>
            </div>
          </div>

          <div class="guideCode">
            <button type="button" class="btn guideBtn">Copy</button>
          </div>
        </div>
        <!-- // outline button -->
      </div>
    </section>
    
    <section>
      <div class="title__wrap">
        <div class="title">
          <h2>Icon Button</h2>
        </div>
      </div>

      <div class="content">
        <!-- Icon button -->
        <div class="is-guide">
          <div class="title__wrap">
            <div class="title">
              <h3>Icon Button</h3>
            </div>
          </div>

          <div class="guide__code">
            <button type="button" class="btn is-outline is-small is-icon">
              <span class="icon">
                <img src="../../../assets/images/png/icon-search.png" alt="">
              </span>
            </button>
            <button type="button" class="btn is-outline is-small is-icon is-hover">
              <span class="icon">
                <img src="../../../assets/images/png/icon-search.png" alt="">
              </span>
            </button>
            <button type="button" class="btn is-outline is-small is-icon" disabled>
              <span class="icon">
                <img src="../../../assets/images/png/icon-search.png" alt="">
              </span>
            </button>
          </div>

          <div class="guideCode">
            <button type="button" class="btn guideBtn">Copy</button>
          </div>
        </div>
        <!-- // Icon button -->
      </div>
    </section>
  </div>
  <footer data-include-path="/html/layout/footer.html"></footer>
</div>

</body>
</html>