<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Table</title>
<script src="../../../assets/js/uid.js" defer></script>
<script src="../../../assets/js/guide.js" defer></script>
<link rel="stylesheet" href="../../../assets/css/index.css">
</head>
<body>
 
<div class="container container__guide">
  <header data-include-path="../../layout/header.html"></header>
   
  <nav data-include-path="../../layout/sidebar.html"></nav>

  <div class="contents">
    <section>
      <div class="title__wrap">
        <div class="title">
          <h2>Table</h2>
        </div>
      </div>

      <div class="content">
        <!-- horizontal table -->
        <div class="is-guide">
          <div class="title__wrap">
            <div class="title">
              <h3>Table Horizontal</h3>
            </div>
          </div>

          <div class="guide__code">
            <table class="tableX">
              <colgroup>
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <th class="th">제목</th>
                  <td>내용</td>
                  <td>내용</td>
                </tr>
                <tr>
                  <th class="th">제목</th>
                  <td>내용</td>
                  <td>내용</td>
                </tr>
                <tr>
                  <th class="th">제목</th>
                  <td>내용</td>
                  <td>내용</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="guideCode">
            <button type="button" class="btn guideBtn">Copy</button>
          </div>
        </div>
        <!-- // horizontal table -->

        <!-- vertical table -->
        <div class="is-guide">
          <div class="title__wrap">
            <div class="title">
              <h3>Table Vertical</h3>
            </div>
          </div>

          <div class="guide__code">
            <table class="tableY">
              <colgroup>
                <col>
              </colgroup>
              <thead>
                <tr>
                  <th class="th">제목</th>
                  <th class="th">제목</th>
                  <th class="th">제목</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>내용</td>
                  <td>내용</td>
                  <td>내용</td>
                </tr>
                <tr>
                  <td>내용</td>
                  <td>내용</td>
                  <td>내용</td>
                </tr>
                <tr>
                  <td>내용</td>
                  <td>내용</td>
                  <td>내용</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="guideCode">
            <button type="button" class="btn guideBtn">Copy</button>
          </div>
        </div>
        <!-- // vertical table -->

        <!-- vertical table -->
        <div class="is-guide">
          <div class="title__wrap">
            <div class="title">
              <h3>Table Horizontal Vertical</h3>
            </div>
          </div>

          <div class="guide__code">
            <table class="tableY">
              <colgroup>
                <col>
              </colgroup>
              <thead>
                <tr>
                  <th class="th">제목</th>
                  <th class="th">제목</th>
                  <th class="th">제목</th>
                  <th class="th">제목</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="th">제목</th>
                  <td>내용</td>
                  <td>내용</td>
                  <td>내용</td>
                </tr>
                <tr>
                  <th class="th">제목</th>
                  <td>내용</td>
                  <td>내용</td>
                  <td>내용</td>
                </tr>
                <tr>
                  <th class="th">제목</th>
                  <td>내용</td>
                  <td>내용</td>
                  <td>내용</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="guideCode">
            <button type="button" class="btn guideBtn">Copy</button>
          </div>
        </div>
        <!-- // vertical table -->
      </div>
    </section>
  </div>
  <footer data-include-path="../../layout/footer.html"></footer>
</div>

</body>
</html>