<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tooltip</title>
<script src="../../../assets/js/uid.js" defer></script>
<script src="../../../assets/js/guide.js" defer></script>
<link rel="stylesheet" href="../../../assets/css/index.css">
</head>
<body>
<!-- https://www.w3schools.com/howto/howto_html_include.asp -->
 
<div class="container container__guide">
  <header data-include-path="/html/layout/header.html"></header>
   
  <nav data-include-path="/html/layout/sidebar.html"></nav>

  <div class="contents">
    <section>
      <div class="title__wrap">
        <div class="title">
          <h2>Tooltip</h2>
        </div>
      </div>

      <div class="content">
        <!-- tooltip Icon -->
        <div class="is-guide">
          <div class="title__wrap">
            <div class="title">
              <h3>Tooltip Icon</h3>
            </div>
          </div>

          <div class="guide__code">
            <div class="tooltip">
              <div class="tooltip__title">
                <img src="../../../assets/images/png/icon-tooltip.png" alt="">
                <span class="blind">툴팁</span>
              </div>
              <span class="tooltip__desc">
                툴팁 내용을 적으세용
              </span>
            </div>
          </div>

          <div class="guideCode">
            <button type="button" class="btn guideBtn">Copy</button>
          </div>
        </div>
        <!-- // tooltip Icon -->


        <!-- tooltip Text -->
        <div class="is-guide">
          <div class="title__wrap">
            <div class="title">
              <h3>Tooltip Text</h3>
            </div>
          </div>

          <div class="guide__code">
            <span class="tooltip__text">말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임말줄임</span>
          </div>

          <div class="guideCode">
            <button type="button" class="btn guideBtn">Copy</button>
          </div>
        </div>
        <!-- // tooltip Text -->
      </div>
    </section>
  </div>
  <footer data-include-path="/html/layout/footer.html"></footer>
</div>

</body>
</html>