<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Typography</title>
<script src="/assets/js/uid.js" defer></script>
<link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
<!-- https://www.w3schools.com/howto/howto_html_include.asp -->
 
<header data-include-path="/html/layout/header.html"></header>
 
<nav data-include-path="/html/layout/sidebar.html"></nav>
<div class="container">
  <div class="contents">
    <section>
      <div class="title__wrap">
        <div class="title">
          <h2>Text</h2>
        </div>
      </div>
      <div class="content is-guide">
        <table class="table typo__table">
          <colgroup>
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>Level</th>
              <th>Font Size</th>
              <th>Line Height</th>
              <th>Usage</th>
              <th>Font Weight</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><h1 class="h1">H1</h1></td>
              <td>30px</td>
              <td>36px</td>
              <td>Main Title</td>
              <td>Bold / 600</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>

<footer data-include-path="/html/layout/footer.html"></footer>
</body>
</html>