// button reset
button {
  width: auto;
  height: auto;
  border: 1px solid $gray-600;
  background-color: inherit;
  outline: none;
  &:not(:disabled) {
    cursor: pointer;
  }
}

.btn {
  font-weight: $font-weight-500;
  border-radius: 10px;

  &[class^="is"] {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px auto;
  }

  // button size
  &.is-small {
    padding: 5px 10px;
    font-size: $font-size-xs;
    line-height: $line-height-s;
    border-radius: 5px;
  }
  &.is-medium {
    padding: 10px 15px;
    font-size: $font-size-m;
    line-height: $line-height-m;
  }
  &.is-large {
    padding: 15px 20px;
    font-size: $font-size-l;
    line-height: $line-height-l;
  }

  // button style
  &.is-fill {
    color: $white;
    border: 1px solid $gray-700;
    background-color: $gray-700;

    &:hover,
    &.is-hover,
    &:focus,
    &:active {
      border-color: $gray-600;
      background-color: $gray-600;
    }

    &:disabled {
      color: $white;
      border-color: $gray-200;
      background-color: $gray-200;
    }
  }
  &.is-outline {
    color: $gray-600;
    border: 1px solid $gray-500;
    background-color: $white;

    &:hover,
    &.is-hover,
    &:focus,
    &:active {
      border-color: $gray-700;
    }

    &:disabled {
      color: $white;
      border-color: $gray-300;
      background-color: $gray-200;
    }
  }
  &.is-icon {
    padding: 5px;
  }
}
