.tab {
  font-size: 0;

  .tab__list {
    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      &:first-child {
        .btn__tab {
          border-left-width: 1px;
        }
      }
    }
  }

  .btn__tab {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 14px;
    border-bottom: 1px solid $gray-400;
    border-width: 1px 1px 1px 0;
    border-radius: 0;

    &:focus {
      outline: auto;
    }

    &.is-active {
      color: $primary-1;
      +.tab__content {
        display: block;
      }
    }
  }

  .tab__content {
    display: none;
    font-size: 14px;

    &.is-active {
      display: block;
    }
    &:focus {
      outline: auto;
    }

  }

  &.subTab {
    .tab__list {
      > li {
        margin-right: 10px;
      }
    }
    .btn__tab {
      border: 1px solid $gray-400;
      border-radius: 40px;
    }
  }
}