// Alignment
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

// Underline
.text-underline {
  text-decoration: underline !important;
}

// Font Weight
@for $i from 1 through 9 {
  .fw-#{$i * 100} {
    font-weight: $i * 100 !important;
  }
}

//ellipsis
.is-ellipsis {
  @include ellipsis();
}

// blind
.blind {
  @include visually-hidden();
}

// title 
.title__wrap {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 20px;

  .title {
    font-size: $font-size-l;
    font-weight: $font-weight-600;
    line-height: $line-height-l;

    +.desc {
      margin-left: 10px;
      padding-bottom: 3px;
    }
  }
  .desc {
    font-size: $font-size-s;
    font-weight: $font-weight-400;
  }
}

// Link
.link {
  display: inline-block;
  color: $gray-600;

  &:hover,
  &.is-hover,
  &:focus,
  &:active {
    color: $primary-1;
    text-decoration: underline;
  }
}

// list
ul {
  > li {
    position: relative;
    padding-left: 15px;
    &:before {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;
    }
  }
  li {
    margin: 5px;
  }
  [class^="list__"] {
    margin-top: 10px;
    font-size: 14px;
  }
}
.list__disc {
  > li {
    &:before {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $gray-600;
    }
  }
}
.list__dash {
  > li {
    &:before {
      top: 9px;
      width: 5px;
      height: 1px;
      background-color: $gray-600;
    }
  }
}

// flag
.flag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 40px;
  background-color: $gray-100;
} 
