.display-none {
  display: none !important;
}
.display-block {
  display: block !important;
}
.display-inline-block {
  display: inline-block !important;
}
.is-mobile {
  display: block;
}
.is-tablet {
  display: none;
}
@media (min-width: 768px) and (max-width: 1023px){
  .is-mobile {
    display: none;
  }
  .is-tablet {
    display: block;
  }
}
@mixin mobile{
  @media (max-width: 767px){ 
    @content;
    
  }
}
@mixin tablet{
  @media (min-width: 768px){
    @content;
  }
}
