{{#[../../helpers/layout2] htmlWebpackPlugin}}
<header class="header">
  <div class="header__item is-left">
    <button type="button" class="btn is-icon header__sidebarTrigger">
      <svg class="icon"><use href="#icon-header-menu"></use></svg>
      <span class="visually-hidden">주메뉴 바로 가기</span>
    </button>
  </div>
  <div class="header__item is-center has-truncated">
    <h1 class="header__title">게시판</h1>
  </div>
  <div class="header__item is-right">
    <a class="btn is-icon" href="#">
      <svg class="icon"><use href="#icon-header-search"></use></svg>
      <span class="visually-hidden">검색 페이지로 이동</span>
    </a>
  </div>
</header>
{{> ../../partials/sidebar}}
<div class="container">
  <main class="contents">
    <section class="pb-0">
      <div class="content__header">
        <p class="header__title">최근 게시물</p>
        <div class="dropdown__area">
          <button type="button" class="btn btn__dropdownMore">
            <svg class="icon"><use href="#icon-more"></use></svg>
            <span class="visually-hidden"></span>
          </button>

          <div class="dropdown">
            <button type="button" class="btn">
              <span>답글쓰기</span>
            </button>
            <button type="button" class="btn">
              <span>목록보기</span>
            </button>
            <button type="button" class="btn">
              <span>메일로보내기</span>
            </button>
          </div>
        </div>
      </div>

      <div class="post">
        <div class="postTitle">
          <p class="title">타이틀제목이 들어가지요 세줄까지도 들어갑니다. 제목이 길어저도 문제가 세줄까지도 들어갑니다. 타이틀제목이 들어가지요 세줄까지도 들어갑니다. 제목이 길어저도 문제가 세줄까지도 들어갑니다. 타이틀제목이 들어가지요 세줄까지도 들어갑니다. 제목이 길어저도 문제가 세줄까지도 들어갑니다. </p>
          <div class="writeInfo">
            <div class="write__name">권주원</div>
            <div class="write__team">UI개발팀</div>
            <div class="write__date">2023.01.01 (수) 오후1:16</div>
          </div>
          <div class="opinion">
            <div class="opinion__like">28</div>
            <div class="opinion__hate">444</div>
          </div>
        </div>
        <div class="formView">
          안내드렸던 바와 같이 금일 자정을 기하여 Activity 
          입력/수정이 마감될 예정입니다.<br>
          <br>
          강조하여 안내드렸던 바와 같이마감된 Activity에 
          대해서는 수정/변경이 불가하며 소급적용 또한 불가함을 
          다시한번 안내드립니다.<br>
          <br>
          바쁘신 업무중이시겠지만 Activity 계획 및 실적이 
          누락/오입력되지 않도록 다시한번 확인을 부탁드립니다.<br>
          Activity 관련 문의는 재무관리팀 김창식 매니저
          (02-2189-6443), 양희석 매니저(02-2189-6719)로 
          연락 부탁드립니다.<br>
          감사합니다.<br>
          <br><br>
          사업관리시스템 관리자 드림.

          <div class="img">
            <img src="../../../assets/images/svg/img-board1.svg" alt="">
          </div>
        </div>
        <div class="formControl form__fileAttach">
          <div class="file__header">
            <div class="formControl__label">
              <span class="label">첨부파일</span>
            </div>
            <div class="formControl__option">
              <button type="button" class="btn btn__save">
                <span>모두받기</span>
              </button>
            </div>
          </div>
          <div class="file__attach file__save">
            <div class="file">
              <div class="file__img">
                <img src="../../../assets/images/svg/img-board1.svg" alt="">
              </div>
              <span class="file__name">imageTestTest.png</span>
              <span class="file__volume">344kb</span>
              <button type="button" class="btn file__btn">
                <svg class="icon"><use href="#icon-attach-download"></use></svg>
                <span class="visually-hidden">다운로드</span>
              </button>
            </div>
            <div class="file">
              <div class="file__img">
                <img src="" alt="">
              </div>
              <span class="file__name">imageTestTest2.png</span>
              <span class="file__volume">344kb</span>
              <button type="button" class="btn file__btn">
                <svg class="icon"><use href="#icon-attach-download"></use></svg>
                <span class="visually-hidden">다운로드</span>
              </button>
            </div>
          </div>
        </div>
        <div class="btn__area btn__flex">
          <button type="button" class="btn btn__primary is-radius is-blue400">
            <svg class="icon icon-20"><use href="#icon-like"></use></svg>
            <span>추천하기</span>
            <span class="count">9</span>
          </button>
          </button>
          <button type="button" class="btn btn__primary is-radius is-blue400">
            <svg class="icon icon-20"><use href="#icon-hate"></use></svg>
            <span>반대하기</span>
            <span class="count">4</span>
          </button>
        </div>
        <div class="dropdown__area double__dropdown comment">
          <div class="btn__area comment__header">
            <button type="button" class="btn btn__dropdown">
              <span>댓글 <span>202</span></span>
            </button>
          </div>
          <div class="dropdown">
            <div class="form">
              <div class="formControl form__recommend">
                <input class="formText__input" type="text" title="댓글 입력" placeholder="댓글을 입력해 주세요." value="">
                <button type="button" class="btn btn__enter">
                  <svg class="icon"><use href="#icon-check"></use></svg>
                  <span class="visually-hidden">입력</span>
                </button>
              </div>

              <ul class="comment__list">
                <li>
                  <div class="comment__box">
                    <span class="profile__img">
                      <svg class="img"><use href="#img-profile1"></use></svg>
                    </span>
                    <div class="comment">
                      <span class="comment__writer">이예진</span>
                      <span class="comment__team">UI개발팀</span>
                      <span class="comment__date">2023.01.01  17:16</span>
                      <span class="comment__desc">
                        이 글을 빌려 다시 한번 개발 팀원들(신지훈과장, 정진우 과장, 이경선 과장, 유정현 대리, 김상현 대리) 이승명 팀장님, 서영준 팀장님께 감사드
                      </span>
                      <div class="dropdown__area">
                        <button type="button" class="btn btn__dropdownMore">
                          <svg class="icon"><use href="#icon-more"></use></svg>
                          <span class="visually-hidden">더보기</span>
                        </button>
                        <div class="dropdown">
                          <button type="button" class="btn recommend">
                            <span>댓글쓰기</span>
                          </button>
                          <button type="button" class="btn modify">
                            <span>수정</span>
                          </button>
                          <button type="button" class="btn delete">
                            <span>삭제</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="comment__box">
                    <span class="profile__img">
                      <svg class="img"><use href="#img-profile1"></use></svg>
                    </span>
                    <div class="comment">
                      <span class="comment__writer">이예진</span>
                      <span class="comment__team">UI개발팀</span>
                      <span class="comment__date">2023.01.01  17:16</span>
                      <span class="comment__desc">
                        이 글을 빌려 다시 한번 개발 팀원들(신지훈과장, 정진우 과장, 이경선 과장, 유정현 대리, 김상현 대리) 이승명 팀장님, 서영준 팀장님께 감사드
                      </span>
                      <div class="dropdown__area">
                        <button type="button" class="btn btn__dropdownMore">
                          <svg class="icon"><use href="#icon-more"></use></svg>
                          <span class="visually-hidden">더보기</span>
                        </button>
                        <div class="dropdown">
                          <button type="button" class="btn recommend">
                            <span>댓글쓰기</span>
                          </button>
                          <button type="button" class="btn modify">
                            <span>수정</span>
                          </button>
                          <button type="button" class="btn delete">
                            <span>삭제</span>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="dropdown">
                      <button type="button" class="btn dropdown">
                        <span>댓글쓰기</span>
                      </button>
                      <button type="button" class="btn dropdown">
                        <span>수정</span>
                      </button>
                      <button type="button" class="btn dropdown">
                        <span>삭제</span>
                      </button>
                    </div>
                  </div>
                  <div class="formControl form__recommend">
                    <input class="formText__input" type="text" title="댓글 입력" placeholder="댓글을 입력해 주세요." value="">
                    <button type="button" class="btn btn__enter">
                      <svg class="icon"><use href="#icon-check"></use></svg>
                      <span class="visually-hidden">입력</span>
                    </button>
                  </div>
                  
                  <ul class="comment__list reply">
                    <li>
                      <div class="comment__box">
                        <span class="profile__img">
                          <svg class="img"><use href="#img-profile1"></use></svg>
                        </span>
                        <div class="comment">
                          <span class="comment__writer">이예진</span>
                          <span class="comment__team">UI개발팀</span>
                          <span class="comment__date">2023.01.01  17:16</span>
                          <span class="comment__desc">
                            유아인은 마음고생을 한 듯 수척해진 얼굴과 군데군 보이는 희끗희끗한 흰머리로 눈길을 끌었다. "마약것에 대해 후회 없냐"는 질문에도 "후회하고 있다"
                          </span>
                          <div class="dropdown__area">
                            <button type="button" class="btn btn__dropdownMore">
                              <svg class="icon"><use href="#icon-more"></use></svg>
                              <span class="visually-hidden">더보기</span>
                            </button>
                            <div class="dropdown">
                              <button type="button" class="btn recommend">
                                <span>댓글쓰기</span>
                              </button>
                              <button type="button" class="btn modify">
                                <span>수정</span>
                              </button>
                              <button type="button" class="btn delete">
                                <span>삭제</span>
                              </button>
                            </div>
                          </div>
                        </div>

                        <div class="dropdown">
                          <button type="button" class="btn dropdown">
                            <span>댓글쓰기</span>
                          </button>
                          <button type="button" class="btn dropdown">
                            <span>수정</span>
                          </button>
                          <button type="button" class="btn dropdown">
                            <span>삭제</span>
                          </button>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="comment__box">
                        <span class="profile__img">
                          <svg class="img"><use href="#img-profile1"></use></svg>
                        </span>
                        <div class="comment">
                          <span class="comment__writer">이예진</span>
                          <span class="comment__team">UI개발팀</span>
                          <span class="comment__date">2023.01.01  17:16</span>
                          <span class="comment__desc">
                            유아인은 마음고생을 한 듯 수척해진 얼굴과 군데군 보이는 희끗희끗한 흰머리로 눈길을 끌었다. "마약것에 대해 후회 없냐"는 질문에도 "후회하고 있다"
                          </span>
                          <div class="dropdown__area">
                            <button type="button" class="btn btn__dropdownMore">
                              <svg class="icon"><use href="#icon-more"></use></svg>
                              <span class="visually-hidden">더보기</span>
                            </button>
                            <div class="dropdown">
                              <button type="button" class="btn recommend">
                                <span>댓글쓰기</span>
                              </button>
                              <button type="button" class="btn modify">
                                <span>수정</span>
                              </button>
                              <button type="button" class="btn delete">
                                <span>삭제</span>
                              </button>
                            </div>
                          </div>
                        </div>

                        <div class="dropdown">
                          <button type="button" class="btn dropdown">
                            <span>댓글쓰기</span>
                          </button>
                          <button type="button" class="btn dropdown">
                            <span>수정</span>
                          </button>
                          <button type="button" class="btn dropdown">
                            <span>삭제</span>
                          </button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="comment__box">
                    <span class="profile__img">
                      <svg class="img"><use href="#img-profile1"></use></svg>
                    </span>
                    <div class="comment">
                      <span class="comment__writer">이예진</span>
                      <span class="comment__team">UI개발팀</span>
                      <span class="comment__date">2023.01.01  17:16</span>
                      <span class="comment__desc">
                        이 글을 빌려 다시 한번 개발 팀원들(신지훈과장, 정진우 과장, 이경선 과장, 유정현 대리, 김상현 대리) 이승명 팀장님, 서영준 팀장님께 감사드
                      </span>
                      <div class="dropdown__area">
                        <button type="button" class="btn btn__dropdownMore">
                          <svg class="icon"><use href="#icon-more"></use></svg>
                          <span class="visually-hidden">더보기</span>
                        </button>
                        <div class="dropdown">
                          <button type="button" class="btn recommend">
                            <span>댓글쓰기</span>
                          </button>
                          <button type="button" class="btn modify">
                            <span>수정</span>
                          </button>
                          <button type="button" class="btn delete">
                            <span>삭제</span>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="dropdown">
                      <button type="button" class="btn dropdown">
                        <span>댓글쓰기</span>
                      </button>
                      <button type="button" class="btn dropdown">
                        <span>수정</span>
                      </button>
                      <button type="button" class="btn dropdown">
                        <span>삭제</span>
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="paging">
        <a href="#none" class="paging__prev">U.STRA Talk 첫 사업 수주 쾌거, '차바이오텍 U.ST U.STRA Talk 첫 사업 수주 쾌거, '차바이오텍 U.ST</a>
        <span class="paging__current">황사가 도시를 집어삼켰다…시뻘겋게 물든 발원지 실제</span>
        <a href="#none" class="paging__next">취업규칙 <span class="comment">[28]</span></a>
      </div>
    </section>
  </main>
</div>
{{/[../../helpers/layout2]}}