{{#[../../helpers/layout2] htmlWebpackPlugin}}
<header class="header">
  <div class="header__item is-left">
    <button type="button" class="btn is-icon header__sidebarTrigger">
      <svg class="icon"><use href="#icon-header-menu"></use></svg>
      <span class="visually-hidden">주메뉴 바로 가기</span>
    </button>
  </div>
  <div class="header__item is-center has-truncated">
    <h1 class="header__title">게시판</h1>
  </div>
  <div class="header__item is-right">
    <a class="btn is-icon" href="#">
      <svg class="icon"><use href="#icon-header-search"></use></svg>
      <span class="visually-hidden">검색 페이지로 이동</span>
    </a>
  </div>
</header>
{{> ../../partials/sidebar}}
<div class="container">
  <main class="contents">
    <section>
      <div class="content__header">
        <p class="header__title">최근 게시물</p>
      </div>

      <ul class="board__list">
        <li>
          <a href="#" class="list__inner">
            <div class="list__item">
              <span class="list__img">
                <svg class="img"><use href="#img-board1"></use></svg>
              </span>
              <div class="list__info">
                <span class="list__title">U.STRA Talk 첫 사업 수주 쾌거, 차바이오텍 U.STRA Talk 서비스 계약 체결 완료</span>
                <span class="list__comment">[<span>28</span>]</span>
                <span class="btn btn__file">
                  <svg class="icon"><use href="#icon-file"></use></svg>
                  <span class="visually-hidden">파일첨부</span>
                </span>
                <span class="btn btn__lock">
                  <svg class="icon"><use href="#icon-lock"></use></svg>
                  <span class="visually-hidden">비밀글</span>
                </span>
                <div class="write__info">
                  <span class="list__writer">권주원</span>
                  <span class="list__team">UI개발팀</span>
                  <span class="list__date">01.01</span>
                  <span class="list__views">조회수 <span>18</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="list__inner">
            <div class="list__item">
              <div class="list__info">
                <span class="list__title">U.STRA Talk 첫 사업 수주 쾌거, 차바이오텍 U.STRA Talk 서비스 계약 체결 완료</span>
                <span class="list__comment">[<span>28</span>]</span>
                <span class="btn btn__file">
                  <svg class="icon"><use href="#icon-file"></use></svg>
                  <span class="visually-hidden">파일첨부</span>
                </span>
                <span class="btn btn__lock">
                  <svg class="icon"><use href="#icon-lock"></use></svg>
                  <span class="visually-hidden">비밀글</span>
                </span>
                <div class="write__info">
                  <span class="list__writer">권주원</span>
                  <span class="list__team">UI개발팀</span>
                  <span class="list__date">01.01</span>
                  <span class="list__views">조회수 <span>18</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="list__inner">
            <div class="list__item">
              <span class="list__img">
                <svg class="img"><use href="#img-board1"></use></svg>
              </span>
              <div class="list__info">
                <span class="list__title">U.STRA Talk 첫 사업 수주 쾌거, 차바이오텍 U.STRA Talk 서비스 계약 체결 완료</span>
                <span class="list__comment">[<span>28</span>]</span>
                <span class="btn btn__file">
                  <svg class="icon"><use href="#icon-file"></use></svg>
                  <span class="visually-hidden">파일첨부</span>
                </span>
                <span class="btn btn__lock">
                  <svg class="icon"><use href="#icon-lock"></use></svg>
                  <span class="visually-hidden">비밀글</span>
                </span>
                <div class="write__info">
                  <span class="list__writer">권주원</span>
                  <span class="list__team">UI개발팀</span>
                  <span class="list__date">01.01</span>
                  <span class="list__views">조회수 <span>18</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="list__inner">
            <div class="list__item">
              <div class="list__info">
                <span class="list__title">U.STRA Talk 첫 사업 수주 쾌거, 차바이오텍 U.STRA Talk 서비스 계약 체결 완료</span>
                <span class="list__comment">[<span>28</span>]</span>
                <span class="btn btn__file">
                  <svg class="icon"><use href="#icon-file"></use></svg>
                  <span class="visually-hidden">파일첨부</span>
                </span>
                <span class="btn btn__lock">
                  <svg class="icon"><use href="#icon-lock"></use></svg>
                  <span class="visually-hidden">비밀글</span>
                </span>
                <div class="write__info">
                  <span class="list__writer">권주원</span>
                  <span class="list__team">UI개발팀</span>
                  <span class="list__date">01.01</span>
                  <span class="list__views">조회수 <span>18</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="list__inner">
            <div class="list__item">
              <span class="list__img">
                <svg class="img"><use href="#img-board1"></use></svg>
              </span>
              <div class="list__info">
                <span class="list__title">U.STRA Talk 첫 사업 수주 쾌거, 차바이오텍 U.STRA Talk 서비스 계약 체결 완료</span>
                <span class="list__comment">[<span>28</span>]</span>
                <span class="btn btn__file">
                  <svg class="icon"><use href="#icon-file"></use></svg>
                  <span class="visually-hidden">파일첨부</span>
                </span>
                <span class="btn btn__lock">
                  <svg class="icon"><use href="#icon-lock"></use></svg>
                  <span class="visually-hidden">비밀글</span>
                </span>
                <div class="write__info">
                  <span class="list__writer">권주원</span>
                  <span class="list__team">UI개발팀</span>
                  <span class="list__date">01.01</span>
                  <span class="list__views">조회수 <span>18</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="list__inner">
            <div class="list__item">
              <div class="list__info">
                <span class="list__title">U.STRA Talk 첫 사업 수주 쾌거, 차바이오텍 U.STRA Talk 서비스 계약 체결 완료</span>
                <span class="list__comment">[<span>28</span>]</span>
                <span class="btn btn__file">
                  <svg class="icon"><use href="#icon-file"></use></svg>
                  <span class="visually-hidden">파일첨부</span>
                </span>
                <span class="btn btn__lock">
                  <svg class="icon"><use href="#icon-lock"></use></svg>
                  <span class="visually-hidden">비밀글</span>
                </span>
                <div class="write__info">
                  <span class="list__writer">권주원</span>
                  <span class="list__team">UI개발팀</span>
                  <span class="list__date">01.01</span>
                  <span class="list__views">조회수 <span>18</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="list__inner">
            <div class="list__item">
              <span class="list__img">
                <svg class="img"><use href="#img-board1"></use></svg>
              </span>
              <div class="list__info">
                <span class="list__title">U.STRA Talk 첫 사업 수주 쾌거, 차바이오텍 U.STRA Talk 서비스 계약 체결 완료</span>
                <span class="list__comment">[<span>28</span>]</span>
                <span class="btn btn__file">
                  <svg class="icon"><use href="#icon-file"></use></svg>
                  <span class="visually-hidden">파일첨부</span>
                </span>
                <span class="btn btn__lock">
                  <svg class="icon"><use href="#icon-lock"></use></svg>
                  <span class="visually-hidden">비밀글</span>
                </span>
                <div class="write__info">
                  <span class="list__writer">권주원</span>
                  <span class="list__team">UI개발팀</span>
                  <span class="list__date">01.01</span>
                  <span class="list__views">조회수 <span>18</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="list__inner">
            <div class="list__item">
              <div class="list__info">
                <span class="list__title">U.STRA Talk 첫 사업 수주 쾌거, 차바이오텍 U.STRA Talk 서비스 계약 체결 완료</span>
                <span class="list__comment">[<span>28</span>]</span>
                <span class="btn btn__file">
                  <svg class="icon"><use href="#icon-file"></use></svg>
                  <span class="visually-hidden">파일첨부</span>
                </span>
                <span class="btn btn__lock">
                  <svg class="icon"><use href="#icon-lock"></use></svg>
                  <span class="visually-hidden">비밀글</span>
                </span>
                <div class="write__info">
                  <span class="list__writer">권주원</span>
                  <span class="list__team">UI개발팀</span>
                  <span class="list__date">01.01</span>
                  <span class="list__views">조회수 <span>18</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="list__inner">
            <div class="list__item">
              <span class="list__img">
                <svg class="img"><use href="#img-board1"></use></svg>
              </span>
              <div class="list__info">
                <span class="list__title">U.STRA Talk 첫 사업 수주 쾌거, 차바이오텍 U.STRA Talk 서비스 계약 체결 완료</span>
                <span class="list__comment">[<span>28</span>]</span>
                <span class="btn btn__file">
                  <svg class="icon"><use href="#icon-file"></use></svg>
                  <span class="visually-hidden">파일첨부</span>
                </span>
                <span class="btn btn__lock">
                  <svg class="icon"><use href="#icon-lock"></use></svg>
                  <span class="visually-hidden">비밀글</span>
                </span>
                <div class="write__info">
                  <span class="list__writer">권주원</span>
                  <span class="list__team">UI개발팀</span>
                  <span class="list__date">01.01</span>
                  <span class="list__views">조회수 <span>18</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="list__inner">
            <div class="list__item">
              <div class="list__info">
                <span class="list__title">U.STRA Talk 첫 사업 수주 쾌거, 차바이오텍 U.STRA Talk 서비스 계약 체결 완료</span>
                <span class="list__comment">[<span>28</span>]</span>
                <span class="btn btn__file">
                  <svg class="icon"><use href="#icon-file"></use></svg>
                  <span class="visually-hidden">파일첨부</span>
                </span>
                <span class="btn btn__lock">
                  <svg class="icon"><use href="#icon-lock"></use></svg>
                  <span class="visually-hidden">비밀글</span>
                </span>
                <div class="write__info">
                  <span class="list__writer">권주원</span>
                  <span class="list__team">UI개발팀</span>
                  <span class="list__date">01.01</span>
                  <span class="list__views">조회수 <span>18</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>

      <div class="btn__area">
        <button type="button" class="btn btn__listMore is-full">
            <span>더보기</span>
        </button>
      </div>

      <div class="floating__area">
        <a href="#" class="btn btn__floating is-write">
          <span class="visually-hidden">작성하기</span>
        </a>
      </div>
    </section>
  </main>
</div>
{{/[../../helpers/layout2]}}